<div ng-controller="AppCtrl" style='padding: 40px;'>
  <md-content>
    <h1>{{title}}</h1>

    <hr>
    <p>
      <h2>Development tools</h2>
      <button type="button" ng-click="adjustMonth(+1)">Next month</button>
      <button type="button" ng-click="adjustMonth(-1)">Prev month</button>
      <input type="date" ng-model="myDate">
    </p>
    <hr>

    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>

    <hr>
    <h3>Disabled with ng-disabled</h3>
    <md-datepicker ng-model="myDate" md-placeholder="Enter date" ng-disabled="true">
    </md-datepicker>

    <hr>

    <h3>Disabled with static disabled attribute</h3>
    <md-datepicker ng-model="myDate" placeholder="Enter date" disabled></md-datepicker>

    <br><br>
    <br><br>
    <br><br>
    <p>Here is a bunch of stuff after the calendar</p>
    <p>Here is a bunch of stuff after the calendar</p>
    <p>Here is a bunch of stuff after the calendar</p>
    <p>Here is a bunch of stuff after the calendar</p>
    <p>Here is a bunch of stuff after the calendar</p>
    <p>Here is a bunch of stuff after the calendar</p>

  </md-content>
</div>
