.md-panel-outer-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.md-panel {
  overflow: auto;
}
