.md-panel-outer-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

._md-panel-hidden {
  display: none;
}

._md-panel-fullscreen {
  border-radius: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

// Only used when no animations are present.
._md-panel-shown .md-panel {
  opacity: 1;
  transition: none;
}

.md-panel {
  opacity: 0;
  overflow: auto;

  &._md-panel-shown {
    // Only used when custom animations are present.
    // Overridden by the default animations.
    opacity: 1;
    transition: none;

    &._md-panel-animate-slide-in {
      opacity: 1;
      transition: $swift-ease-out, opacity 1ms;
    }

    &._md-panel-animate-scale-in {
      opacity: 1;
      transition: $swift-ease-out;
    }

    &._md-panel-animate-fade-in {
      opacity: 1;
      transition: all 0.4s linear;
    }
  }

  &._md-panel-animate-slide-out {
    opacity: 1;
    transition: $swift-ease-out, opacity 1ms;
  }

  &._md-panel-animate-scale-out {
    opacity: 0;
    transition: $swift-ease-out;
  }

  &._md-panel-animate-fade-out {
    opacity: 0;
    transition: all 0.4s linear;
  }
}
