
<div ng-controller="AppCtrl">
  <div class="inset">
    <material-button ng-click="toastIt()">
      Simple Toast
    </material-button>
    <material-button class="material-button-raised" 
            ng-click="complexToastIt()">
      Advanced Toast
    </material-button>
  </div>
  <p class="inset">
    Toast can be dismissed with a swipe, a timer, or a button.
  </p>
  <div>
    <b>Toast Position: "{{getToastPosition()}}"</b>
  </div>
  <material-checkbox ng-repeat="(name, isSelected) in toastPosition"
    ng-model="toastPosition[name]"> 
    {{name}}
  </material-checkbox>
  <material-button class="material-button-fab material-button-fab-bottom-right material-theme-red">
    FAB
  </material-button>
  <material-button class="material-button-fab material-button-fab-top-right material-theme-green">
    FAB
  </material-button>
</div>
