<div ng-controller="AppCtrl as ctrl" class="md-padding" ng-cloak>
  <div>
    <h1 class="md-title">Enter an address</h1>
    <div layout="row">

      <md-input-container>
        <label>Street Name</label>
        <input>
      </md-input-container>

      <md-input-container>
        <label>City</label>
        <input>
      </md-input-container>

      <md-input-container>
        <label>State</label>
        <md-select ng-model="ctrl.userState">
          <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
            {{state.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
</div>
