md-autocomplete.md-THEME_NAME-theme {
  background: '{{background-50}}';
  button {
    md-icon {
      path {
        fill: '{{background-600}}';
      }
    }
    &:after {
      background: '{{background-600-0.3}}';
    }
  }
}
.md-autocomplete-suggestions.md-THEME_NAME-theme {
  background: '{{background-50}}';
  li {
    color: '{{background-900}}';
    .highlight {
      color: '{{background-600}}';
    }
    &:hover,
    &.selected {
      background: '{{background-200}}';
    }
  }
}
