md-autocomplete.md-THEME_NAME-theme {
  background-color: '{{background-default}}';
  color: '{{background-default-contrast}}';
  input {
    color: '{{background-default-contrast}}';
  }
  &[disabled]:not([md-floating-label]) {
    background-color: '{{background-hue-3}}';
    color: '{{background-default-contrast-disabled}}';;
  }
  button {
    md-icon {
      path {
        fill: '{{background-contrast-icon}}';
      }
    }
    &:after {
      background-color: '{{background-600-0.3}}';
    }
  }
}
.md-autocomplete-suggestions-container.md-THEME_NAME-theme {
  background-color: '{{background-default}}';
  li {
    color: '{{background-default-contrast}}';
    .highlight {
      color: '{{background-default-contrast-hint}}';
    }
    &:hover,
    &.selected {
      background-color: '{{background-hue-3}}';
    }
  }
}
