md-autocomplete.md-THEME_NAME-theme {
  background: '{{background-A100}}';
  &[disabled]:not([md-floating-label]) {
    background: '{{background-100}}';
  }
  button {
    md-icon {
      path {
        fill: '{{background-600}}';
      }
    }
    &:after {
      background: '{{background-600-0.3}}';
    }
  }
}
.md-autocomplete-suggestions-container.md-THEME_NAME-theme {
  background: '{{background-A100}}';
  li {
    color: '{{background-900}}';
    .highlight {
      color: '{{background-600}}';
    }
    &:hover,
    &.selected {
      background: '{{background-200}}';
    }
  }
}
