md-input-container.md-THEME_NAME-theme {
  .md-input {
    @include input-placeholder-color('{{foreground-3}}');
    color: '{{foreground-1}}';
    border-color: '{{foreground-4}}';
    text-shadow: '{{foreground-shadow}}';
  }

  label {
    text-shadow: '{{foreground-shadow}}';
    color: '{{foreground-3}}';
  }

  &.md-input-focused {
    .md-input {
      border-color: '{{primary-500}}';
    }
    label {
      color: '{{primary-500}}';
    }
    &.md-accent {
      .md-input {
        border-color: '{{accent-500}}';
      }
      label {
        color: '{{accent-500}}';
      }
    }
  }

  &.md-input-has-value:not(.md-input-focused) {
    label {
      color: '{{foreground-2}}';
    }
  }

  .md-input[disabled] {
    border-bottom-color: transparent;
    color: '{{foreground-3}}';
    background-image: linear-gradient(to right, '{{foreground-4}}' 0%, '{{foreground-4}}' 33%, transparent 0%);
  }
}
