$bar-height:5px;

 material-linear-progress {
  display: block;
  width: 100%;
  height: $bar-height;

  .container {
    overflow: hidden;
    position: relative;
    height: 0;
    background-color: $color-blue-100;
    top: $bar-height;
    @include transition(all .3s linear);
  }

  .container.ready {
    height: $bar-height;
    top: 0;
  }

  .bar {
    height: $bar-height;
    background-color: $color-blue-500;
    position: absolute;
  }

  .bar1, .bar2 {
    @include transition(width 0.2s linear);
  }

  &[mode=determinate] {
    .bar1 {
      display: none;
    }
  }

  &[mode=indeterminate] {
    .bar1 {
      left: 50%;
      width: 10%;
      @include animation(indeterminate1 5s infinite linear);
    }

    .bar2 {
      left: 0%;
      width: 0%;
      @include animation(indeterminate2 5s infinite linear);
    }
  }

  &[mode=buffer] {
    .container {
      background-color: transparent;
    }

    .dashed:before {
      content: "";
      display: block;
      height: $bar-height;
      width: 100%;
      margin-top: 0px;
      position: absolute;
      background: radial-gradient(#d0d9ff 0%, #d0d9ff 20%, transparent 50%);
      background-color: transparent;
      background-size: 10px 10px;
      background-position: 0px -23px;
      @include animation(buffer 3s infinite linear);
    }

    .bar1 {
      background-color: $color-blue-100;
    }
  }

  &[mode=query] {
    .bar2 {
      left: 50%;
      width: 10%;
      @include animation(query .8s infinite cubic-bezier(0.390, 0.575, 0.565, 1.000));
    }
  }
}

@include keyframes(indeterminate1) {
  0% {
    width: 0%;
    left: 0%;
  }
  10% {
    width: 30%;
    left: 100%;
  }
  19.99% {
    width: 30%;
    left: 100%;
  }
  20% {
    width: 0%;
    left: 0%;
  }
  30% {
    width: 80%;
    left: 100%;
  }
  30.01% {
    width: 0%;
    left: 0%;
  }
  40% {
    width: 5%;
    left: 30%;
  }
  50% {
    width: 50%;
    left: 100%;
  }
  50.01% {
    width: 0%;
    left: 0%;
  }
  60% {
    width: 60%;
    left: 20%;
  }
  70% {
    width: 5%;
    left: 100%;
  }
  70.01% {
    width: 0%;
    left: 0%;
  }
  80% {
    width: 50%;
    left: 30%;
  }
  90% {
    width: 10%;
    left: 80%;
  }
  100% {
    width: 20%;
    left: 100%;
  }
}

@include keyframes(indeterminate2) {
  0% {
    width: 0%;
    left: 0%;
  }
  10% {
    width: 60%;
  }
  19.99% {
    width: 40%;
    left: 100%;
  }
  20% {
    width: 0%;
    left: 0%;
  }
  25% {
    width: 10%;
    left: 10%;
  }
  30% {
    width: 40%;
    left: 30%;
  }
  40% {
    width: 60%;
    left: 100%;
  }
  40.01% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 10%;
    left: 40%;
  }
  60% {
    width: 30%;
    left: 100%;
  }
  60.01% {
    width: 0%;
    left: 0%;
  }
  70% {
    width: 10%;
    left: 40%;
  }
  80% {
    width: 5%;
    left: 100%;
  }
  80.01% {
    width: 0%;
    left: 0%;
  }
  90% {
    width: 70%;
    left: 10%;
  }
  100% {
    width: 10%;
    left: 100%;
  }
}

@include keyframes(query) {
  0% {
    width: 30%;
    left: 70%;
  }
  100% {
    width: 0%;
    left: 0%;
    opacity: 0;
  }
}

@include keyframes(buffer) {
  0% {
    opacity: 1;
    background-position: 0px -23px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-position: -200px -23px;
  }
}