.wrapper {
  width: 100%;
  max-width: 400px;
}

#vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px;
}

#vertical-container .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

#vertical-container .repeated-item.header {
    background-color: #106CC8;
    color: white;
    text-align: center;
    font-weight: bold;
}

#vertical-container md-content {
  margin: 16px;
}

md-virtual-repeat-container {
  border: solid 1px grey;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div:not(.header) {
  padding-left: 16px;
}
