<div ng-controller="PopoverDemoCtrl as ctrl" ng-cloak>

  <md-content layout-padding>
    <div layout="column" layout-align="center center">
      <div style="text-align: center" aria-label="Material User">
        <div>
          <img class="md-border-radius-round" src="img/donut.jpg" width="100" />
        </div>
        <h3 class="md-title">Material User</h3>
        <h6 class="md-subhead">The best in the business.</h6>
        <md-popover md-close-trigger="click" md-close-delay="2000">
          <md-popover-title layout="row" layout-align="start center">
            <h3>Some cool title!</h3>
            <span flex></span>
            <md-button class="md-icon-button" style="margin: 0;">
              <md-icon md-svg-src="img/icons/ic_code_24px.svg"></md-icon>
            </md-button>
          </md-popover-title>
          <md-popover-content>
            Some cool content that will go into the content area of the popover! This is a test by
            <strong>{{ctrl.name}}</strong>.
          </md-popover-content>
        </md-popover>
      </div>
    </div>
  </md-content>

</div>
