<link rel="stylesheet" href="/css/tab_demos.css">
<div ng-app="app" ng-controller="AppCtrl" class="sample">

    <material-tabs selected="selectedIndex" style="background-color: #00bcd6">
        <img ng-src="/img/angular.png" style="position:absolute; width:30px;height: 30px; padding-top:5px; padding-left: 5px;">

        <material-tab ng-repeat="tab in tabs | orderBy:predicate:reversed"
                 on-select="onTabSelected(tab)"
                 on-deselect="announceDeselected(tab)"
                 ng-disabled="tab.disabled"
                 label="{{tab.title}}">
          {{tab.content}}
          <material-button class="material-theme-red" style="margin-left: 10px;"
            ng-click="removeTab( tab )">Remove Tab
          </material-button>
        </material-tab>

    </material-tabs>

    <div layout="vertical" layout-padding>

      <material-list class="tab-demo-list" flex>
        <material-item>
          <span>Active Tab Index: {{selectedIndex}}</span>
        </material-item>
        <material-item>
          <material-checkbox ng-model="tabs[2].disabled">
            Disable Tab #2?
          </material-checkbox>
        </material-item>
        <material-item>
          <material-checkbox ng-model="reversed">
            Reversed Order? 
          </material-checkbox>
        </material-item>
      </material-list>

      <material-divider flex></material-divider>
      <div class="title" flex>Add Another Tab</div>

      <form ng-submit="addTab(tTitle,tContent)" flex>
        <div layout="horizontal">
          <span flex="15">Title:</span>
          <input type="text" required ng-model="tTitle" placeholder="<tab label>">
        </div>
        <div layout="horizontal">
          <span flex="15">Content:</span>
          <input type="text" required ng-model="tContent" placeholder="<tab content>">
        </div>
        <material-button type="submit" class="material-button-colored">
           Add New Tab
        </material-button>
      </form>

    </div>
</div>
