.tabs-content .material-view {
    background-color: blanchedalmond;
}

div.infoBar input {
    display: inline-block;
}

div.infoBar {
    margin-left: 20px;
    height: 75px;
    font-size: .8em;
}


material-tabs .tabs-content {
    height: 200px;
}
