$side-sheet-horizontal-padding: 2 * $baseline-grid !default;
$side-sheet-vertical-padding: 1 * $baseline-grid !default;
$side-sheet-icon-after-margin: 4 * $baseline-grid !default;
$side-sheet-list-item-height: 6 * $baseline-grid !default;
$side-sheet-hidden-side-padding: 80px !default;
$side-sheet-header-height: 7 * $baseline-grid !default;
$side-sheet-grid-font-weight: 400 !default;
$side-sheet-default-width: 304px !default;
$side-sheet-min-space: 56px !default;

md-side-sheet {
  position: absolute;
  height: 100%;
  transition: $swift-ease-in-duration;
  width: $side-sheet-default-width;
  //min-width: $side-sheet-default-width;
  //max-width: $side-sheet-default-width;

  //padding: $side-sheet-vertical-padding $side-sheet-horizontal-padding $side-sheet-vertical-padding + $side-sheet-hidden-side-padding $side-sheet-horizontal-padding;
  z-index: $z-index-side-sheet;

  //border-top-width: 1px;
  //border-top-style: solid;

  &.md-has-header {
    padding-top: 0;
  }

  .md-subheader {
    background-color: transparent;
    font-family: $font-family;
    line-height: $side-sheet-header-height;
    padding: 0;
    white-space: nowrap;
  }

  md-inline-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    fill: #444;
  }

  md-list-item {
    display: flex;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &.md-list {
    md-list-item {
      padding: 0;
      align-items: center;
      height: $side-sheet-list-item-height;

      div.md-icon-container {
        display: inline-block;
        height: 3 * $baseline-grid;
        margin-right: $side-sheet-icon-after-margin;
      }
    }
  }

  &.md-grid {
    padding-left: 3 * $baseline-grid;
    padding-right: 3 * $baseline-grid;
    padding-top: 0;

    md-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      transition: all 0.5s;
      align-items: center;
    }

    md-list-item {
      flex-direction: column;
      align-items: center;
      transition: all 0.5s;

      height: 12 * $baseline-grid;

      margin-top: $baseline-grid;
      margin-side: $baseline-grid;

      /* Mixin for how many grid items to show per row */
      @mixin grid-items-per-row($num, $alignEdges: false) {
        $width: 100% / $num;
        flex: 1 1 $width;
        max-width: $width;

        @if $alignEdges {
          &:nth-of-type(#{$num}n + 1) {
            align-items: flex-start;
          }
          &:nth-of-type(#{$num}n) {
            align-items: flex-end;
          }
        }
      }

      @media screen and (max-width: $layout-breakpoint-sm) {
        @include grid-items-per-row(3, true);
      }

      @media screen and (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md) {
        @include grid-items-per-row(4);
      }

      @media screen and (min-width: $layout-breakpoint-md) and (max-width: $layout-breakpoint-lg) {
        @include grid-items-per-row(6);
      }

      @media screen and (min-width: $layout-breakpoint-lg) {
        @include grid-items-per-row(7);
      }

      .md-list-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6 * $baseline-grid;
        padding-side: 2 * $baseline-grid;
      }

      .md-grid-item-content {
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10 * $baseline-grid;
      }

      .md-icon-container {
        display: inline-block;
        box-sizing: border-box;
        height: 6 * $baseline-grid;
        width: 6 * $baseline-grid;
        margin: 0 0;
      }

      .md-grid-text {
        font-weight: $side-sheet-grid-font-weight;
        line-height: 2 * $baseline-grid;
        font-size: 2 * $baseline-grid - 3;
        margin: 0;
        white-space: nowrap;
        width: 8 * $baseline-grid;
        text-align: center;
        text-transform: none;
        padding-top: 1 * $baseline-grid;
      }
    }
  }
}

.md-side-sheet-left {
  left: 0;
  top: 0;
}

.md-side-sheet-right {
  right: 0;
  top: 0;
}

.ng-animate {
  &.md-side-sheet-left {
    &.ng-enter {
      opacity: .9;
      transform: translate3d(-100%, 0, 0);
    }
    &.ng-enter-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave-active {
      opacity: .9;
      transform: translate3d(-100%, 0, 0);
    }
  }
  &.md-side-sheet-right {
    &.ng-enter {
      opacity: .9;
      transform: translate3d(100%, 0, 0);
    }
    &.ng-enter-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave-active {
      opacity: .9;
      transform: translate3d(100%, 0, 0);
    }
  }
}

@media (max-width: $side-sheet-default-width + $side-sheet-min-space) {
  md-side-sheet {
    width: 85%;
  }
}

@media screen and (-ms-high-contrast: active) {
  .md-side-sheet-left {
    border-right: 1px solid #fff;
  }
  .md-side-sheet-right {
    border-left: 1px solid #fff;
  }
}
