
<div ng-app="app" ng-controller="SubheaderAppCtrl" layout="vertical" flex layout-fill>
  <material-content style="height: 600px;">
    <section>
      <material-subheader class="material-subheader-colored">Unread Messages</material-subheader>
      <material-list layout="vertical">
        <material-item ng-repeat="message in messages">
          <material-item-content>
            <div class="material-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            <div class="material-tile-content">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
          </material-item-content>
        </material-item>
      </material-list>
    </section>
    <section>
      <material-subheader>Read Messages</material-subheader>
      <material-list layout="vertical">
        <material-item ng-repeat="message in messages">
          <material-item-content>
            <div class="material-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            <div class="material-tile-content">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
          </material-item-content>
        </material-item>
      </material-list>
    </section>
    <section>
      <material-subheader>Archived messages</material-subheader>
      <material-list layout="vertical">
        <material-item ng-repeat="message in messages">
          <material-item-content>
            <div class="material-tile-left">
                <img ng-src="{{message.face}}" class="face" alt="{{message.who}}">
            </div>
            <div class="material-tile-content">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
          </material-item-content>
        </material-item>
      </material-list>
    </section>
  </material-content>
</div>
