
<div ng-app="app" ng-controller="AppCtrl" layout="vertical" layout-fill>

  <material-toolbar class="material-theme-green">
    <h1 class="material-toolbar-tools">
      <span>Toolbar</span>
    </h1>
  </material-toolbar>

  <section layout="horizontal" layout-fill>

    <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left">
      <div ng-controller="LeftCtrl">
        <h2>Sidenav left</h2>
        <material-button ng-click="close()" hide-md>Close</material-button>
      </div>
    </material-sidenav>

    <material-content flex class="material-content-padding">

      <p>
        On smaller devices, material-sidenav will be hidden by default. 
      </p>
      <p>
        On larger, it will be shown by default.
      </p>

      <material-button ng-click="toggleLeft()" hide-md>
        Toggle left
      </material-button>

      <material-button ng-click="toggleRight()" hide-md>
        Toggle right
      </material-button>

    </material-content>

    <material-sidenav class="material-sidenav-right material-whiteframe-z2 material-theme-light" component-id="right">
      <div ng-controller="RightCtrl">
        <h2>Sidenav right</h2>
        <material-button ng-click="close()" hide-md>Close</material-button>
      </div>
    </material-sidenav>

  </section>

</div>
<style>
p { text-align: center; }
</style>
