
<div ng-controller="AppCtrl" layout="vertical">

  <section layout="horizontal" flex>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content class="md-content-padding" ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-button-colored" hide-md>
          Close Sidenav Left
        </md-button>
      </md-content>

    </md-sidenav>

    <md-content flex class="md-content-padding">

      <div layout="vertical" layout-fill layout-align="center center">
        <p>
          On smaller devices, md-sidenav will be hidden by default. 
        </p>
        <p>
          On larger, it will be shown by default.
        </p>

        <div>
          <md-button ng-click="toggleLeft()"
            class="md-button-colored" hide-md>
            Toggle left
          </md-button>
        </div>

        <div>
          <md-button ng-click="toggleRight()"
            class="md-button-colored" hide-md>
            Toggle right
          </md-button>
        </div>
      </div>

    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" class="md-content-padding">
        <md-button ng-click="close()" class="md-button-colored" hide-md>
          Close Sidenav Right
        </md-button>
      </md-content>

    </md-sidenav>

  </section>

</div>
<style>
p { text-align: center; }
</style>
