<div ng-controller="DemoCtrl" layout="column" layout-margin ng-cloak>

    <p>Display an icon from a pre-registered set of icons:</p>

    <p>
      <md-icon md-svg-icon="alarm"         style="color: #0F0;"                        aria-label="Alarm Icon"></md-icon>
      <md-icon md-svg-icon="social:cake"   style="color: #f00;width:60px;height:60px;" aria-label="Cake Icon"></md-icon>
      <md-icon md-svg-icon="social:people" style="color: #00F;" class="s48"            aria-label="People Icon"></md-icon>
    </p>

</div>
