
<div ng-controller="AppCtrl">

  <material-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
    Checkbox 1: {{ data.cb1 }}
  </material-checkbox>

  <material-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'">
    Checkbox 2: {{ data.cb2 }}
  </material-checkbox>

  <material-checkbox disabled aria-label="Disabled checkbox">
    Checkbox (Disabled)
  </material-checkbox>

  <material-checkbox disabled aria-label="Disabled checked checkbox" ng-model="data.cb4" ng-init="data.cb4=true">
    Checkbox (Disabled, Checked)
  </material-checkbox>

  <material-checkbox noink aria-label="Checkbox No Ink">
    Checkbox (No Ink)
  </material-checkbox>

</div>
