<div ng-controller="AppCtrl">

    <material-tabs selected="data.selectedIndex"  center>
        <material-tab label="ITEM ONE"></material-tab>
        <material-tab label="ITEM TWO"></material-tab>
        <material-tab label="ITEM THREE" ></material-tab>
        <material-tab label="ITEM FOUR" ng-disabled="locked"></material-tab>
        <material-tab label="ITEM FIVE"></material-tab>
        <material-tab label="ITEM SIX"></material-tab>
        <material-tab label="ITEM SEVEN"></material-tab>
        <material-tab label="ITEM EIGHT"></material-tab>
        <material-tab label="ITEM NINE"></material-tab>
        <material-tab label="ITEM TEN"></material-tab>
    </material-tabs>

    <div class="animate-switch-container" ng-switch on="data.selectedIndex">
        <div class="animate-switch tab1"
             ng-switch-when="0"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #1<br/>
            Selection index = 0
        </div>
        <div class="animate-switch tab2"
             ng-switch-when="1"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #2<br/>
            Selection index = 1
        </div>
        <div class="animate-switch tab3"
             ng-switch-when="2"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #3<br/>
            Selection index = 2
        </div>
        <div class="animate-switch tab4"
             ng-switch-when="3"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #4<br/>
            Selection index = 3
        </div>
        <div class="animate-switch tab5"
             ng-switch-when="4"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #5<br/>
            Selection index = 4
        </div>
        <div class="animate-switch tab6"
             ng-switch-when="5"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #6<br/>
            Selection index = 5
        </div>
        <div class="animate-switch tab7"
             ng-switch-when="6"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #7<br/>
            Selection index = 6
        </div>
        <div class="animate-switch tab8"
             ng-switch-when="7"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #8<br/>
            Selection index = 7
        </div>
        <div class="animate-switch tab9"
             ng-switch-when="8"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #9<br/>
            Selection index = 8
        </div>
        <div class="animate-switch tab10"
             ng-switch-when="9"
             material-swipe-left="next()"
             material-swipe-right="previous()" >
            View for Item #10<br/>
            Selection index = 9
        </div>
    </div>


    <div layout="vertical" layout-padding style="margin-top: 10px;">
        <material-input-group>
            <label>SelectedIndex</label>
            <input type="number" ng-model="data.selectedIndex">
        </material-input-group>

        <material-checkbox ng-model="locked" aria-label="Disabled">
          Disable Tab #4?
        </material-checkbox>
    </div>


</div>
