// Structural

// Base vendor prefixes for mixins
$base-vendor-prefixes: "webkit", "moz", "ms";

// Font families
$font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
$font-color-base: #444;

$background-color-base: #fff !default;

// Font colors
$text-light: #f1f1f1;
$text-medium: #999;
$text-dark: #111111;

// Theme colors
$theme-textfield-focus-label: #1b1b1b;
$theme-textfield-focus-border: #1394F5;

$theme-gray: #444;
$theme-light: #4285f4;
$theme-light-blue: #03a9f4;
$theme-dark: #3f51b5;
$theme-green: #0f9d58;
$theme-yellow: #ffeb3b;
$theme-orange: #ff5722;
$theme-purple: #9c27b0;
$theme-red: #db4437;

$theme-indigo: #3e50b4;

$h1-font-size-base: 2em !default;
$h1-margin-base: 0.67em 0 !default;

$h2-font-size-base: 1.5em !default;
$h2-margin-base: 0.83em 0 !default;

$h3-font-size-base: 1.17em !default;
$h3-margin-base: 1em 0 !default;

$h4-font-size-base: 1em !default;
$h4-margin-base: 1.33em 0 !default;

$h5-font-size-base: 0.83em !default;
$h5-margin-base: 1.67em 0 !default;

$h6-font-size-base: 0.75em !default;
$h6-margin-base: 2.33em 0 !default;




// Layout
// ------------------------------

$baseline-grid:            8px !default;
$layout-breakpoint-sm:     600px !default;
$layout-breakpoint-md:     960px !default;
$layout-breakpoint-lg:     1200px !default;
$layout-gutter-width:      ($baseline-grid * 2) !default;

// Toast
//--------------------------------------------
$toast-height: $baseline-grid * 3;
$toast-margin: $baseline-grid * 1;


// Button
//--------------------------------------------
$button-border-radius: 3px;
$button-disabled-background: rgb(234, 234, 234);
$button-disabled-color: rgb(168, 168, 168);
$button-raised-background: rgb(223, 223, 233);
$button-raised-colored-color: #fff;
$button-raised-colored-background: $theme-light;

$button-hover-background: rgb(228, 228, 228);
$button-raised-hover-background: rgb(214, 214, 214);
$button-raised-colored-hover-background: #3367d6;

$button-line-height: 25px;
$button-padding: 2px 6px 3px;

// Fab buttons
$button-fab-width: 56px;
$button-fab-height: 56px;
$button-fab-border-radius: 28px;
$button-fab-padding: 16px;
$button-fab-toast-offset: $toast-height + $toast-margin;

// App bar variables
$app-bar-height: 64px;

// Toolbar variables
$toolbar-tools-height: 64px;
$toolbar-height: 64px;
$toolbar-medium-tall-height: 88px;
$toolbar-tall-height: 192px;
$toolbar-indent-margin: 64px;

// Side nav variables

$sidenav-shadow: 0px 0px 5px rgba(0,0,0,0.4);
$sidenav-default-width: 304px;
$sidenav-min-room: 56px;

// Whiteframes

$whiteframe-shadow-z1: 0px 2px 5px 0 rgba(0,0,0,0.26);
$whiteframe-zindex-z1: 1;
$whiteframe-shadow-z2: 0px 8px 17px rgba(0,0,0,0.2);
$whiteframe-zindex-z2: 2;
$whiteframe-shadow-z3: 0px 17px 50px rgba(0,0,0,0.19);
$whiteframe-zindex-z3: 3;
$whiteframe-shadow-z4: 0px 16px 28px 0 rgba(0,0,0,0.22);
$whiteframe-zindex-z4: 4;
$whiteframe-shadow-z5: 0px 27px 24px 0 rgba(0,0,0,0.2);
$whiteframe-zindex-z5: 5;

// SubHeader

$subheader-line-height: 1em;
$subheader-font-size: 0.9em;
$subheader-padding: ($baseline-grid * 2) 0px ($baseline-grid * 2) ($baseline-grid * 2);
$subheader-font-weight: 400;
$subheader-margin: 0 0 0 0;
$subheader-margin-right: 16px;
$subheader-sticky-shadow: 0px 2px 4px 0 rgba(0,0,0,0.16);

// Lists and tiles

$list-h3-font-size: 1.1em;
$list-h3-margin: 0 0 3px 0;
$list-h3-font-weight: 400;
$list-h4-font-size: 0.9em;
$list-h4-font-weight: 400;
$list-h4-margin: 0 0 3px 0;
$list-p-font-size: 0.75em;
$list-p-margin: 0 0 3px 0;

$list-padding-top: $baseline-grid;
$list-padding-right: 0px;
$list-padding-left: 0px;
$list-padding-bottom: $baseline-grid;

$item-padding-top: 0px;
$item-padding-right: 0px;
$item-padding-left: 0px;
$item-padding-bottom: 0px;

// Cards

$card-border-radius: 2px;
$card-border: 1px solid #eee;
$card-padding: 8px;
$card-margin: 8px;
$card-box-shadow: $whiteframe-shadow-z1;

// Tabs
$tabs-paginator-width: $baseline-grid * 4 !default;
$tabs-tab-width: $baseline-grid * 12 !default;
$tabs-header-height: 48px;


// ***********************************
// Styles for Floating Label Text Fields
// - Light Theme -
// ***********************************
//
$tff-font-size: 0.75em;
$tff-line-height:26px;
$tff-margin: 10px 0 10px 0;
$tff-placeholder-color: darken($text-light, 30%);
$tff-transition: all ease-out 150ms;
// - `label` element (aka hint)
$tff-hint-offset-large : 22px;
$tff-hint-offset-small : 4px;
$ttf-hint-offset-scale : 0.75;
$tff-hint-normal: #999;
$tff-hint-focused: #EE008B;
$tff-hint-disabled: #b0b0b0;
// - `input` element
$tff-input-normal: #2f2f2f;
$tff-input-focused: #EE008B;
$tff-input-disabled: #bcbcbc;
// - `line` element
$tff-line-focused-width: 2px;
$tff-line-disabled-width: 0px;
$tff-line-dot-width: 1px;
$tff-line-dot-size: 3px;
$tff-line-normal: #c7c7c7;
$tff-line-focused: #EE008B;
$tff-line-disabled: #bcbcbc;
$tff-line-dashed: #cfcfcf;

// ***********************************
// Styles for Floating Label Text Fields
// - Light Theme -
// ***********************************
// - `label` element (aka hint)
$tff-hint-normal-dark: #5d5d5d;
$tff-hint-focused-dark: #1194f6;
$tff-hint-disabled-dark: #858585;
// - `input` element
$tff-input-normal-dark: #d6d6d6;
$tff-input-focused-dark: #d6d6d6;
$tff-input-disabled-dark: #5d5d5d;
// - `line` element
$tff-line-normal-dark: #4c4c4c;
$tff-line-focused-dark: #1194f6;
$tff-line-disabled-dark: #333333;
$tff-line-dashed-dark: #525252;

// Bottom Sheets
$bottom-sheet-background-color: #FAFAFA;
$bottom-sheet-border-top-color: #BCBBBB;
$bottom-sheet-horizontal-padding: 2 * $baseline-grid;
$bottom-sheet-vertical-padding: 1 * $baseline-grid;
$bottom-sheet-icon-after-margin: 4 * $baseline-grid;
$bottom-sheet-list-item-height: 6 * $baseline-grid;
$bottom-sheet-hidden-bottom-padding: 80px;
$bottom-sheet-header-height: 7 * $baseline-grid;
$bottom-sheet-grid-font-weight: 300;

// Forms and inputs

$input-font-size: 0.75em;
$input-line-height: 26px;

$input-placeholder-color: darken($text-light, 30%);

$input-color: $text-dark;
$input-color-inverted: $text-light;

$input-group-margin: 10px 0 10px 0;

$input-label-focused-font-size: 0.7em;
$input-label-focused-color: $text-dark;

$input-focused-scale: 0.85;

$input-label-transition: all ease-out 300ms;

$input-border-color: #6D6D6D;
$input-disabled-border-color: #a0a0a0;
$input-focused-border-color: $text-dark;

// Slider
//--------------------------------------------

$slider-background-color:  rgb(200, 200, 200);
$slider-height:  48px;

$slider-track-height:  2px;
$slider-thumb-width:  32px;
$slider-thumb-height:  $slider-thumb-width;

$slider-thumb-default-scale: 0.5;
$slider-thumb-hover-scale: 0.6;
$slider-thumb-focus-scale: 0.85;
$slider-thumb-disabled-scale: 0.35;
$slider-thumb-disabled-border: 6px;

$slider-focus-thumb-width:  48px;
$slider-focus-thumb-height: $slider-focus-thumb-width;
$slider-focus-ring-border-width: 3px;

$slider-arrow-height: 16px;
$slider-arrow-width: 28px;

$slider-sign-height: 28px;
$slider-sign-width: 28px;
$slider-sign-top: ($slider-height / 2) - ($slider-thumb-default-scale * $slider-thumb-height / 2) - ($slider-sign-height) - ($slider-arrow-height) + 8px;

// Switch
//--------------------------------------------

$switch-width: $baseline-grid * 8;


// Checkbox
//--------------------------------------------

$checkbox-width: 18px;
$checkbox-height: $checkbox-width;


// Radio Button
//--------------------------------------------

$radio-width: 16px;
$radio-height: $radio-width;

// Z-indexes
//--------------------------------------------

$z-index-dialog: 10;
$z-index-toast: 9;
$z-index-sidenav: 8;
$z-index-backdrop: 7;
$z-index-tooltip: 6;
$z-index-fab: 2;
$z-index-bottom-sheet: $z-index-backdrop + 1;
