@font-face {
  font-family:"material";
  src:url("material.eot");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"material";
  src:url("material.eot");
  src:url("material.eot?#iefix") format("embedded-opentype"),
    url("material.woff") format("woff"),
    url("material.ttf") format("truetype"),
    url("material.svg?#material") format("svg");
  font-weight:normal;
  font-style:normal;
}

/* Bootstrap Overrides */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family:"material";
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}