md-menu-content.md-THEME_NAME-theme {
  background-color: '{{background-hue-1}}';

  md-menu-item {
    color: '{{background-hue-1-contrast}}';

    md-icon {
      color: '{{background-hue-1-contrast-icon}}';
    }

    .md-button[disabled] {
      color: '{{background-hue-1-contrast-disabled}}';

      md-icon {
        color: '{{background-hue-1-contrast-disabled}}';
      }
    }
  }

  md-menu-divider {
    background-color: '{{background-hue-1-contrast-divider}}';
  }
}
