md-menu-content.md-THEME_NAME-theme {
  background-color: '{{background-A100}}';

  md-menu-item {
    color: '{{background-A200-0.87}}';

    md-icon {
      color: '{{background-A200-0.54}}';
    }

    .md-button[disabled] {
      color: '{{background-A200-0.25}}';

      md-icon {
        color: '{{background-A200-0.25}}';
      }
    }

  }

  md-menu-divider {
    background-color: '{{background-A200-0.11}}';
  }
}
