
<div ng-app="app" ng-controller="AppCtrl">
  <style>
    material-content {
      top: 192px;
    }
    .material-toolbar-tools {
      padding-top: 80px;
    }
  </style>

  </style>
  <material-toolbar class="material-theme-dark material-tall">
    <div class="material-toolbar-tools">
      <div class="material-flex">
        <ig fid="t1" class="material-input-group-theme-light material-input-group-inverted"></ig>
        <ig fid="t2" class="material-input-group-theme-light-blue material-input-group-inverted"></ig>
      </div>
    </div>
  </material-toolbar>

  <material-content>
    <form>
      <ig fid="i1" class="material-input-group-theme-light"></ig>
      <ig fid="i2" class="material-input-group-theme-light-blue"></ig>
      <ig fid="i3" class="material-input-group-theme-dark"></ig>
      <ig fid="i4" class="material-input-group-theme-green"></ig>
      <ig fid="i5" class="material-input-group-theme-yellow"></ig>
      <ig fid="i6" class="material-input-group-theme-orange"></ig>
      <ig fid="i7" class="material-input-group-theme-purple"></ig>
      <ig fid="i8" class="material-input-group-theme-red"></ig>
    </form>
  </material-content>

</div>
