<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../../dist/material-design.css">
  </head>
  <body ng-app="driveDemo" ng-controller="AppCtrl">
    <material-toolbar class="material-theme-light material-tall">
      <div class="material-toolbar-tools material-toolbar-tools-top">
        <button class="material-button material-button-icon" ng-click="toggleLeft()">
          <material-icon icon="/src/components/icon/icons/system_icons/navigation/res-export/ic_arrow_back_24px.svg"></material-icon>
        </button>
        <span class="material-flex"></span>
        <icon-fill></icon-fill>
        <icon-fill></icon-fill>
      </div>
      <div class="material-toolbar-tools material-toolbar-tools-middle">
        <div class="material-flex material-indent">
          <form>
            <div class="material-input-group material-input-group-theme-light-blue">
              <label for="ftitle">Title</label>
              <input id="ftitle" type="text" ng-model="data.title">
            </div>
            <div class="material-input-group material-input-group-theme-light-blue">
              <label for="fid">Description</label>
              <input id="fid" type="text" ng-model="data.description">
            </div>
          </form>
        </div>
      </div>
    </material-toolbar>

    <material-content>
      <form>
      </form>
    </material-content>

    <script src="../../../bower_components/angular/angular.js"></script>
    <script src="../../../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../../config/lib/angular-animate-sequence/angular-animate-sequence.js"></script>
    <script src="../../../config/lib/angular-animate-sequence/angular-animate-stylers.js"></script>
    <script src="../../../dist/material-design.js"></script>
    <script>
      angular.module('driveDemo', ['ngMaterial'])

      .controller('AppCtrl', function($scope, $timeout, $materialSidenav) {
      });
    </script>
  </body>
</html>
