
<div ng-app="app" ng-controller="AppCtrl">

  <material-list>

    <material-item>
      <div class="material-tile-left">
        <face></face>
      </div>
      <div class="material-tile-content">
        <h2>Brunch this weekend?</h2>
        <h3>Min Li Chan</h3>
        <p>
          I'll be in your neighborhood doing errands
        </p>
      </div>
      <div class="material-tile-right">
        3:08PM
      </div>
    </material-item>

    <material-item>
      <div class="material-tile-left">
        <face></face>
      </div>
      <div class="material-tile-content">
        <h2>Brunch this weekend?</h2>
        <h3>Min Li Chan</h3>
        <p>
          I'll be in your neighborhood doing errands
        </p>
      </div>
      <div class="material-tile-right">
        3:08PM
      </div>
    </material-item>

    <material-item>
      <div class="material-tile-left">
        <face></face>
      </div>
      <div class="material-tile-content">
        <h2>Brunch this weekend?</h2>
        <h3>Min Li Chan</h3>
        <p>
          I'll be in your neighborhood doing errands
        </p>
      </div>
      <div class="material-tile-right">
        3:08PM
      </div>
    </material-item>

    <material-item>
      <div class="material-tile-left">
        <face></face>
      </div>
      <div class="material-tile-content">
        <h2>Brunch this weekend?</h2>
        <h3>Min Li Chan</h3>
        <p>
          I'll be in your neighborhood doing errands
        </p>
      </div>
      <div class="material-tile-right">
        3:08PM
      </div>
    </material-item>

  </material-list>

</div>
