
<div ng-app="app" ng-controller="AppCtrl">
  <material-content>

    <material-list>

      <material-item ng-repeat="item in todos">
        <div class="material-tile-left">
            <img ng-src="{{item.face}}" class="face">
        </div>
        <div class="material-tile-content">
          <h2>{{item.what}}</h2>
          <h3>{{item.who}}</h3>
          <p>
            {{item.notes}}
          </p>
        </div>
        <div class="material-tile-right">
          {{item.when}}
        </div>
      </material-item>

    </material-list>

  </material-content>
</div>
