.card-media {
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.md-subhead.description {
  color: rgba(255, 255, 255, 0.7);
}

.card-media md-icon {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.87);
}

h4.card-title {
  margin: 24px 8px 0;
}

code.css {
  background-color: #fffcc2;
}

p.footnote code {
  font-size: 0.85em;
}

p.footnote {
  font-size: 0.85em;
  margin: 30px 8px;
  padding: 16px;
  background-color: rgba(205, 205, 205, 0.45);
}
