.card-media {
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.md-subhead.description {
  color: rgba(255, 255, 255, 0.7);
}

.card-media md-icon {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.87);
}

user-card {
  margin-bottom: 20px;
}
user-card > span {
  padding-left: 15px;
}
