<md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">
  <md-card-title>
    <md-card-title-media>
      <div class="md-media-sm card-media" layout md-colors="::{background: '{{theme}}-accent'}">
        <md-icon md-svg-icon="person"></md-icon>
      </div>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">{{name}}</span>
      <span class="md-subhead description">This card is colored according the {{theme}} theme</span>
    </md-card-title-text>
  </md-card-title>
</md-card>
