.md-truncate {
  overflow: hidden;
  white-space: nowrap;

  // Default overflow is ellipsis
  text-overflow: ellipsis;

  // Allow override to use clipping
  &.md-clip {
    text-overflow: clip;
  }

  // This is a flex-specific hack that forces the element to only take up available space.
  &.flex {
    width: 0;
  }
}