
<div ng-controller="AppCtrl">
  <md-content >

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <md-button>Button</md-button>
      <md-button noink class="md-button-colored">Button (noink)</md-button>
      <md-button disabled class="md-button-colored">Disabled</md-button>
      <div class="label">flat</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <md-button class="md-button-raised">Button</md-button>
      <md-button class="md-button-raised md-button-colored">Colored</md-button>
      <md-button disabled class="md-button-raised md-button-colored">Disabled</md-button>
      <div class="label">raised</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <md-button>Button</md-button>
      <md-button class="md-button-colored">Colored</md-button>
      <div class="label">flat + hover state</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <md-button class="md-button-raised">Button</md-button>
      <md-button class="md-button-raised md-button-colored">Colored</md-button>
      <div class="label">raised + hover state</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <md-button>Button</md-button>
      <md-button class="md-button-colored">Colored</md-button>
      <div class="label">flat + focused</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <md-button class="md-button-raised">Button</md-button>
      <md-button class="md-button-raised md-button-colored">Colored</md-button>
      <div class="label">raised + focused</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">

        <md-button class="md-button-fab" aria-label="Time">
            <md-icon icon="/img/icons/ic_access_time_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>

      <md-button class="md-button-fab" aria-label="New document">
        <md-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
      </md-button>

        <md-button class="md-button-fab" disabled aria-label="Comment">
            <md-icon icon="/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>

        <md-button class="md-button-fab md-theme-light-blue" aria-label="Profile">
            <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>


      <div class="label">FAB</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <md-button class="">Reset</md-button>
        <md-button class="">RSVP</md-button>
      <div class="label">Button Group</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <md-button class="md-theme-green">Button</md-button>
      <md-button class="md-theme-red">Button</md-button>
      <md-button class="md-theme-light-blue">Button</md-button>
      <md-button class="md-theme-yellow">Button</md-button>
      <div class="label">Themed</div>
    </section>

  </md-content>
</div>
