section {
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
}
section .md-button {
  margin-top: 16px;
  margin-bottom: 16px;
}
.label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54;
}
