<div ng-controller="DemoCtrl" layout="column" layout-margin ng-cloak>

  <p>
      Pre-fetch and cache SVG icons using $templateRequest.<br/>
      <span class="note"> NOTE: Show the Source views for details...</span>
  </p>

  <p>
    <md-icon md-svg-icon="core:alarm-add"       style="color:#000;" aria-label="Add"    ></md-icon>
    <md-icon md-svg-icon="core:alarm-off"       style="color:#f00;" aria-label="Off"    ></md-icon>
    <md-icon md-svg-icon="social:cake"          style="color:#00F;" aria-label="Cake"   ></md-icon>
    <md-icon md-svg-src="img/icons/android.svg" style="color:#0F0;" aria-label="Android"></md-icon>
  </p>

</div>
