md-list {
  padding: $list-padding-top $list-padding-right $list-padding-bottom $list-padding-left;

  &.with-subheader {
    padding-top: 0px;
  }
}

md-item {

}

md-item-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;

  position: relative;

  padding: $item-padding-top $item-padding-right $item-padding-bottom $item-padding-left;
}

/**
 * The left tile for a list item.
 */
.md-tile-left {
  min-width: 56px;
  margin-right: -16px;
}

/**
 * The center content tile for a list item.
 */
.md-tile-content {
  flex: 1;

  padding: $baseline-grid * 2;

  text-overflow: ellipsis;

  h3 {
    margin: $list-h3-margin;
    font-weight: $list-h3-font-weight;
    font-size: $list-h3-font-size;
  }
  h4 {
    margin: $list-h4-margin;
    font-weight: $list-h4-font-weight;
    font-size: $list-h4-font-size;
  }
  p {
    margin: $list-p-margin;
    font-size: $list-p-font-size;
  }
}

/**
 * The right tile for a list item.
 */
.md-tile-right {
  padding-right: $item-padding-right;
}
