material-list {
}

material-item {
  @include flex-display();
  @include flex-align-items(center);
  @include flex-direction(row);

  position: relative;

  padding: $item-padding-top $item-padding-right $item-padding-bottom $item-padding-left;
}

/**
 * The left tile for a list item.
 */
.material-tile-left {
  padding-right: 16px;
  width: 56px;
  text-align: left;
}

/**
 * The center content tile for a list item.
 */
.material-tile-content {
  @extend .material-flex;

  // For border continuation
  margin-right: -35px;

  padding: 15px 0 15px 0;

  width: 100%;
  border-bottom: 1px solid #eee;
  text-overflow: ellipsis;

  h2 {
    margin: $list-h2-margin;
    font-weight: $list-h2-font-weight;
    font-size: $list-h2-font-size;
  }
  h3 {
    margin: $list-h3-margin;
    font-weight: $list-h3-font-weight;
    font-size: $list-h3-font-size;
  }
  p {
    margin: $list-p-margin;
    font-size: $list-p-font-size;
  }
}

/**
 * The right tile for a list item.
 */
.material-tile-right {
  position: absolute;
  top: 17px;
  right: $item-padding-right;
}
