md-list.md-THEME_NAME-theme {
  md-item.md-double-line .md-item-text,
  md-item.md-triple-line .md-item-text {
    h3, h4 {
      color: '{{foreground-1}}';
    }
    p {
      color: '{{foreground-2}}';
    }
  }
  .md-proxy-focus.md-focused div.md-no-style,
  .md-secondary:focus,
  .md-no-style:focus {
    background-color: '{{background-100}}';
  }

  md-item > md-icon {
    color: '{{foreground-2}}';

    &.md-highlight {
      color: '{{primary-color}}';
      &.md-accent {
        color: '{{accent-color}}';
      }
    }
  }
}
