md-list.md-THEME_NAME-theme {
  md-list-item.md-2-line .md-list-item-text,
  md-list-item.md-3-line .md-list-item-text {
    h3, h4 {
      color: '{{foreground-1}}';
    }
    p {
      color: '{{foreground-2}}';
    }
  }
  .md-proxy-focus.md-focused div.md-no-style {
    background-color: '{{background-100}}';
  }

  md-list-item > md-icon {
    color: '{{foreground-2}}';

    &.md-highlight {
      color: '{{primary-color}}';
      &.md-accent {
        color: '{{accent-color}}';
      }
    }
  }
  md-list-item button {
    background-color: '{{background-color}}';

    &.md-button:not([disabled]):hover {
      background-color: '{{background-color}}';
    }
  }
}
