<div ng-controller="DemoCtrl as demo" layout="column">
  <md-content class="md-padding" layout="column">
    <p>
      You may supply a direction of <code>left</code>, <code>up</code>, <code>down</code>, or
      <code>right</code> through the <code>md-direction</code> attribute.
    </p>

    <div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                         ng-class="demo.selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button aria-label="twitter" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
          </md-button>
          <md-button aria-label="facebook" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>

    <div layout="row" layout-align="space-around">
      <div layout="column">
        <b>Direction</b>

        <md-radio-group ng-model="demo.selectedDirection">
          <md-radio-button ng-repeat="direction in demo.availableDirections"
                           ng-value="direction" class="text-capitalize">
            {{direction}}
          </md-radio-button>
        </md-radio-group>
      </div>

      <div layout="column">
        <b>Open/Closed</b>

        <md-radio-group ng-model="demo.isOpen">
          <md-radio-button ng-value="true">Open</md-radio-button>
          <md-radio-button ng-value="false">Closed</md-radio-button>
        </md-radio-group>
      </div>

      <div layout="column">
        <b>Animation Modes</b>

        <md-radio-group ng-model="demo.selectedMode">
          <md-radio-button ng-repeat="mode in demo.availableModes" ng-value="mode">
            {{mode}}
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <p class="note">
      Note that you can also hover over the directive's area or tab through each button to open and
      activate the speed dial menu.
    </p>
  </md-content>
</div>
