
<div ng-controller="AppCtrl" ng-cloak>
    <md-content style="margin: 16px; padding:16px">
        <div layout="column">
            <md-zoom thumb="img/duck.jpg" zoom="img/duck-zoom.jpg" permanent=true size=3>
                <label hide-gt-sm>Drag to zoom <md-icon md-svg-src="img/icons/ic_chevron_right_24px.svg"></md-icon><md-icon md-svg-src="img/icons/ic_chevron_right_24px.svg"></md-icon></label>
                <label hide-sm hide-xs>Move mouse over image to zoom</md-icon></label>
            </md-zoom>
        </div>
    </md-content>
</div>
