
<div ng-app="app" ng-controller="AppCtrl" layout="vertical">
  <material-toolbar class="material-theme-dark">
    <div class="material-toolbar-tools">
      <span class="material-flex">Toolbar: dark-theme</span>
    </div>
  </material-toolbar>

  <material-content class="material-content-padding">
    Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.

    <p>
Facete delenit argumentum cum at. Pro rebum nostrum contentiones ad. Mel exerci tritani maiorum at, mea te audire phaedrum, mel et nibh aliquam. Malis causae equidem vel eu. Noster melius vis ea, duis alterum oporteat ea sea. Per cu vide munere fierent.

    <p>
Ad sea dolor accusata consequuntur. Sit facete convenire reprehendunt et. Usu cu nonumy dissentiet, mei choro omnes fuisset ad. Te qui docendi accusam efficiantur, doming noster prodesset eam ei. In vel posse movet, ut convenire referrentur eum, ceteros singulis intellegam eu sit.
    <p>

Sit saepe quaestio reprimique id, duo no congue nominati, cum id nobis facilisi. No est laoreet dissentias, idque consectetuer eam id. Clita possim assueverit cu his, solum virtute recteque et cum. Vel cu luptatum signiferumque, mel eu brute nostro senserit. Blandit euripidis consequat ex mei, atqui torquatos id cum, meliore luptatum ut usu. Cu zril perpetua gubergren pri. Accusamus rationibus instructior ei pro, eu nullam principes qui, reque justo omnes et quo.
    <p>

Sint unum eam id. At sit fastidii theophrastus, mutat senserit repudiare et has. Atqui appareat repudiare ad nam, et ius alii incorrupte. Alii nullam libris his ei, meis aeterno at eum. Ne aeque tincidunt duo. In audire malorum mel, tamquam efficiantur has te.
    <p>

Qui utamur tacimates quaestio ad, quod graece omnium ius ut. Pri ut vero debitis interpretaris, qui cu mentitum adipiscing disputationi. Voluptatum mediocritatem quo ut. Fabulas dolorem ei has, quem molestie persequeris et sit.
    <p>

Est in vivendum comprehensam conclusionemque, alia cetero iriure no usu, te cibo deterruisset pro. Ludus epicurei quo id, ex cum iudicabit intellegebat. Ex modo deseruisse quo, mel noster menandri sententiae ea, duo et tritani malorum recteque. Nullam suscipit partiendo nec id, indoctum vulputate per ex. Et has enim habemus tibique. Cu latine electram cum, ridens propriae intellegat eu mea.
    <p>

Duo at aliquid mnesarchum, nec ne impetus hendrerit. Ius id aeterno debitis atomorum, et sed feugait voluptua, brute tibique no vix. Eos modo esse ex, ei omittam imperdiet pro. Vel assum albucius incorrupte no. Vim viris prompta repudiare ne, vel ut viderer scripserit, dicant appetere argumentum mel ea. Eripuit feugait tincidunt pri ne, cu facilisi molestiae usu.
    <p>

Solet propriae duo in, ne suas molestiae reprehendunt nam. Assum nobis id est, eam vituperata definitiones ex. Te quem admodum voluptua eos, ex affert voluptatibus ius, ad paulo oblique has. Ea quodsi disputando sit, vel ex adhuc simul, quot graeci constituam an eos. Vidit explicari forensibus eu sit, ei mel meliore prodesset. Clita ubique eu sit, errem voluptatibus usu ut, libris nominavi ei mei. Est prima disputando no, te liber possit laoreet vel, pri ut tota consul populo.
    <p>

Eu everti nominati usu. No sea dicunt suscipit intellegebat, ea eum movet putent maiorum. Mei admodum periculis at, inani essent his eu. Cum cu altera dictas, sit ei novum appetere. Ne viris melius eos, eu illud velit decore vix, eos recteque disputationi et.
    <p>

Mea tritani commune id, habeo audiam at per. Vim no duis aliquip deleniti. Iuvaret menandri definiebas ne est. Te platonem adolescens duo, mentitum recteque referrentur est ne, pri viris aeterno accusata ea. Erat aeque ancillae mei et, eu qui dicit latine probatus, eum in sint docendi alienum.
    <p>

Ex dicit malorum maiestatis quo, corpora scriptorem ea vel. Per choro eripuit repudiare cu, eum summo elitr postulant ex. Per ut veri maiestatis, eruditi propriae contentiones ei est, pri in option eleifend. Duo hinc temporibus ut, fugit dolor pri an. Exerci postea volumus his ex.
    <p>

Vis decore mandamus interpretaris ad, ferri mandamus consequuntur nec id. Habeo solet voluptatibus nec an. Dico vocibus has at, pro possim nonumes forensibus ut. Ubique docendi neglegentur an eum, omnium commodo eu his. Eam eligendi dissentiunt at, ne eam commodo interesset.
    <p>

Et vocibus repudiandae eum. Id eripuit incorrupte dissentiet cum, cu has tractatos intellegat scribentur. Probo ipsum ea vim, ei eos eros utamur, sea eu dolore populo praesent. Vis magna vituperata et, vide dictas labores vis cu.
    <p>

Summo tractatos eu has, et his ipsum erant explicari. Ne vim causae facilisis laboramus, pro an soleat semper consectetuer, posse dicant usu cu. Populo oporteat ut vix, nam simul offendit gloriatur at. Delicata salutandi facilisis no mel, ius lorem nusquam ea. Et mea simul labores, in persius debitis cum.
    <p>

Eum et cibo iuvaret nostrum. Cu nec altera definiebas. Mei quod novum movet an, mel ad meis graece. Iriure graecis nominavi id vel. Qui falli everti cotidieque cu, zril evertitur quo no. Sed tollit invenire id. Nisl meliore tacimates cu vix, hinc consequat nec ex, usu lorem latine an.
    <p>

Nam splendide consectetuer no, laudem perfecto eum at. His pericula vulputate ei, commune intellegebat at mei. Ad tation fierent liberavisse mel, ut his denique accommodare contentiones, sea at consequat sententiae. Alia insolens vituperata ex nec, quo virtute delicatissimi ex, saperet accusata ut nec. Quis ancillae eu sed. Sea eu prompta verterem expetendis, et nam etiam vivendo disputationi, no has soleat eirmod.
    <p>

Fastidii efficiendi no vis, autem aeterno malorum an quo. Per et meis necessitatibus, ex eam option bonorum dissentiet. Usu ei nobis partem constituto, sensibus mediocrem in est. Eu illum efficiantur his. Ex tota erant aperiri vis, altera nominati an sea, sed et tota nostro.
    <p>

Id utinam nullam voluptaria cum, meis novum doming no eum, mei ex nusquam eligendi offendit. Eu sit movet praesent persequeris, dolores lobortis ullamcorper eu vel, ea vis possit feugiat. Quo ut dictas suscipit contentiones, an quis quodsi sanctus qui. Duis iudicabit an est, te quot nonumy putant mei. Quo insolens interpretaris et, per ex illud albucius mentitum.
    <p>

Eu labores invidunt eloquentiam vis. Usu vitae fastidii expetendis id. Modus soleat prompta eos ad, ea mea dolore ubique definitiones, pri no lorem audire. Vivendo lucilius pro ut, at sumo quidam legimus cum. Mentitum incorrupte ex vis.
  </material-content>

</div>
