
material-tabs {
  display: block;
  width: 100%;
  background-color: #4285F4;
  font-weight: 500;
  font-size: 14px;

  .tabs-header {
    width: 100%;

    .tabs-header-items {
      @include flex-display();
      @include box-sizing(border-box);
      overflow: hidden;
      background-color: #4285F4;
      white-space: nowrap;
      align-items: stretch;
    }
  }

  .tabs-content {
    overflow: hidden;
    width: 100%;
  }
}

material-tab {
  @include flex(1);
  @include flex-display();
  @include box-sizing(border-box);
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 10px;
  height: 40px;
  text-align: center;
  cursor: pointer;

  @include not-selectable();

  material-tab-label {
    @include flex(1);
    z-index: 100;

    color: #9FC1FB;

    color: rgba(255,255,255,0.6);
    opacity: 1;

    &.active {
     color: white;
    }

    &.disabled {
      color: #6a6a6a;
      opacity: 0.5;

      &:hover {
        cursor: default;
      }
    }

  }

}

shadow {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}







