@mixin md-tab-theme($theme) {
  > md-tabs-wrapper {
    background-color: '{{#{$theme}-color}}';
    > md-tabs-canvas {
      > md-pagination-wrapper {
        > md-tab-item:not([disabled]) {
          &.md-active, &.md-focused {
            &, md-icon {
              color: '{{#{$theme}-contrast}}';
            }
          }
          &.md-focused {
            background: '{{#{$theme}-contrast-0.1}}';
          }
        }
      }
    }
  }
}
md-tabs.md-THEME_NAME-theme {
  md-tabs-wrapper {
    background-color: transparent;
    border-color: '{{foreground-4}}';
  }
  .md-paginator md-icon {
    color: '{{primary-color}}';
  }

  md-ink-bar {
    color: '{{accent-color}}';
    background: '{{accent-color}}';
  }

  .md-tab {
    color: '{{foreground-2}}';
    &[disabled] {
      &, md-icon {
        color: '{{foreground-3}}';
      }
    }
    &.md-active, &.md-focused {
      &, md-icon {
        color: '{{primary-color}}';
      }
    }
    &.md-focused {
      background: '{{primary-color-0.1}}';
    }
    .md-ripple-container {
      color: '{{accent-A100}}';
    }
  }

  &.md-accent, &.md-primary, &.md-warn{
    > md-tabs-wrapper {
      > md-tabs-canvas {
        > md-pagination-wrapper {
          > md-tab-item:not([disabled]) {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }

  &.md-accent {
    @include md-tab-theme('accent');
  }

  &.md-primary {
    @include md-tab-theme('primary');
  }

  &.md-warn {
    @include md-tab-theme('warn');
  }
}

md-toolbar > md-tabs.md-THEME_NAME-theme {
  @include md-tab-theme('primary');
}
md-toolbar.md-accent > md-tabs.md-THEME_NAME-theme {
  @include md-tab-theme('accent');
}
md-toolbar.md-warn > md-tabs.md-THEME_NAME-theme {
  @include md-tab-theme('warn');
}
