// Tabs
$tabs-paginator-width: $baseline-grid * 4 !default;
$tabs-tab-width: $baseline-grid * 12 !default;
$tabs-header-height: 48px !default;

md-tabs {
  display: block;
  width: 100%;
  font-weight: 500;
  overflow: auto;
}

.md-header {
  width: 100%;
  height: $tabs-header-height;
  box-sizing: border-box;
  position: relative;
}

.md-paginator {
  z-index: 1;
  margin-right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $tabs-paginator-width;
  min-height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  &.md-prev {
    left: 0;
  }
  &.md-next {
    right: 0;

    md-icon {
      transform: rotate(180deg);
    }

  }
}

/* If `center` justified, change to left-justify if paginating */
md-tabs[center] .md-header:not(.md-paginating) .md-header-items {
  justify-content: center;
}
.md-paginating .md-header-items-container {
  left: $tabs-paginator-width;
  right: $tabs-paginator-width;
}
.md-header-items-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin: auto;

  .md-header-items {
    display: flex;
    box-sizing: border-box;
    transition: transform $swift-ease-in-out-duration $swift-ease-in-out-timing-function;
    transform: translate3d(0, 0, 0);
    height: 100%;
    width: 99999px;
  }
}

.md-tabs-content {
  overflow: hidden;
  width: 100%;
  position: relative;
  .md-tab-content {
    height: 100%;
    &.ng-hide {
      &.ng-animate {
        display: block !important;
      }
    }
    &.ng-animate {
      transition: transform $swift-ease-in-out-duration $swift-ease-in-out-timing-function;
      transform: translateX(0);
      &.ng-hide-add {
        transform: translateX(-100%);
        &.md-transition-rtl {
          transform: translateX(100%);
        }
      }
      &.ng-hide-remove {
        position: absolute;
        transform: translateX(100%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &.md-transition-rtl {
          transform: translateX(-100%);
        }
        &.ng-hide-remove-active {
          transform: translateX(0);
        }
      }
    }
  }
}

md-tabs-ink-bar {
  $time: 0.25s;
  $delay: $time * 0.3;
  $shortTime: $time;
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 2px;
  margin-top: -2px;
  transform: scaleX(1);
  transform-origin: 0 0;
  &.md-transition-right {
    transition: right $time $swift-ease-in-out-timing-function,
                left  $shortTime $swift-ease-in-out-timing-function $delay;
  }
  &.md-transition-left {
    transition: right $shortTime $swift-ease-in-out-timing-function $delay,
                left  $time $swift-ease-in-out-timing-function;
  }
}

md-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  text-align: center;
  cursor: pointer;
  padding: 20px 24px;
  box-sizing: border-box;
  transition: none;
  &.md-tab-themed {
    transition: background 0.35s $swift-ease-in-out-timing-function,
                color 0.35s $swift-ease-in-out-timing-function;
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
  }

  @include not-selectable();

  &:focus {
    outline: none;
  }

  md-tab-label {
    flex: 1 1 auto;
    z-index: 100;
    opacity: 1;
    overflow: hidden;
  }
}
