$tabs-highlight-color: white !default;

md-tabs.md-THEME_NAME-theme {
  .md-header {
    background-color: '{{primary-color}}';
  }

  &.md-accent {
    .md-header {
      background-color: '{{accent-color}}';
    }

    md-tab:not([disabled]) {
      color: '{{accent-100}}';
      &.active {
        color: '{{accent-contrast}}';
      }
    }
  }

  &.md-warn {
    .md-header {
      background-color: '{{warn-color}}';
    }

    md-tab:not([disabled]) {
      color: '{{warn-100}}';
      &.active {
        color: '{{warn-contrast}}';
      }
    }
  }


  md-tabs-ink-bar {
    color: '{{primary-contrast}}';
    background: '{{primary-contrast}}';
  }

  md-tab {
    color: '{{primary-100}}';
    &.active {
      color: '{{primary-contrast}}';
    }
    &[disabled] {
      color: '{{foreground-4}}';
    }
    &:focus {
      color: '{{primary-contrast}}';
      background-color: '{{primary-contrast-0.1}}';
    }
    .md-ripple-container {
      color: '{{primary-contrast}}';
    }
  }
}
