md-tabs.md-THEME_NAME-theme {
  .md-header {
    background-color: transparent;
  }
  .md-paginator md-icon {
    color: '{{primary-color}}';
  }

  &.md-accent {
    .md-header {
      background-color: '{{accent-color}}';
    }

    md-tab:not([disabled]) {
      color: '{{accent-100}}';
      &.active {
        color: '{{accent-contrast}}';
      }
    }
  }

  &.md-primary {
    .md-header {
      background-color: '{{primary-color}}';
    }
    md-tab:not([disabled]) {
      color: '{{primary-100}}';
      &.active {
        color: '{{primary-contrast}}';
      }
    }
    md-tab {
      color: '{{primary-100}}';
      &[disabled] {
        color: '{{foreground-3}}';
      }
      &:focus {
        color: '{{primary-contrast}}';
        background-color: '{{primary-contrast-0.1}}';
      }
      &.active {
        color: '{{primary-contrast}}';
      }
      .md-ripple-container {
        color: '{{primary-contrast}}';
      }
    }
  }

  &.md-warn {
    .md-header {
      background-color: '{{warn-color}}';
    }

    md-tab:not([disabled]) {
      color: '{{warn-100}}';
      &.active {
        color: '{{warn-contrast}}';
      }
    }
  }


  md-tabs-ink-bar {
    color: '{{accent-color}}';
    background: '{{accent-color}}';
  }

  md-tab {
    color: '{{foreground-2}}';
    &[disabled] {
      color: '{{foreground-3}}';
    }
    &:focus {
      color: '{{foreground-1}}';
    }
    &.active {
      color: '{{primary-color}}';
    }
    .md-ripple-container {
      color: '{{accent-100}}';
    }
  }
}
