.md-chips-messages {
  color: rgb(221,44,0);
  position: relative;
  order: 4;
  overflow: hidden;
}

.md-chips-messages [ng-message] {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  margin-top: 0;
  padding-top: 5px;
}

p.note {
  font-size: 12px;
}
