<div class="inset">
  <md-switch ng-model="data.cb1" aria-label="Switch 1">
    Switch 1: {{ data.cb1 }}
  </md-switch>

  <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'">
    Switch 2: {{ data.cb2 }}
  </md-switch>

  <md-switch disabled aria-label="Disabled switch">
    Switch (Disabled)
  </md-switch>

  <md-switch disabled aria-label="Disabled active switch" ng-model="data.cb4" ng-init="data.cb4=true">
    Switch (Disabled, Active)
  </md-switch>

  <md-switch noink aria-label="Switch No Ink">
    Switch (No Ink)
  </md-switch>

</div>
