<p>
  <b>Note:</b> Version 1.1.2 drastically improves keyboard and screen reader accessibility for the
  <code>md-chips</code> component. In order to achieve this, the behavior has changed to also select
  and highlight the newly appended chip for <code>300ms</code> before re-focusing the text input.
</p>

<p>
  Please see the <a href="api/directive/mdChips">documentation</a> for more information and for
  the new <code>md-chip-append-delay</code> option which allows you to customize this delay.
</p>