.custom-chips {
  .md-chip {
    position: relative;
    .md-chip-remove-container {
      position: absolute;
      right: 4px;
      top: 4px;
      margin-right: 0;
      height: 24px;
      button.vegetablechip {
        position: relative;
        height: 24px;
        width: 24px;
        line-height: 30px;
        text-align: center;
        background: rgba(black, 0.3);
        border-radius: 50%;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        transition: background 0.15s linear;
        display: block;
        md-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0) scale(0.7);
          color: white;
          fill: white;
        }
        &:hover, &:focus {
          background: rgba(red, 0.8);
        }
      }
    }
    &:not(.md-readonly) {
      md-chip-template {
        padding-right: 5px;
      }
    }
  }
}
