
material-toast {
  @include flex-display();
  @include box-sizing(border-box);
  @include flex-align-items(center);

  background: #323232;
  color: #f1f1f1;
  min-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  height: $toast-height;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 14px;
  cursor: default;

  position: fixed;
  max-width: 879px;
  max-height: 40px;

  z-index: $z-index-toast;

  material-button {
    color: white;
  }

  &.capsule {
    border-radius: 24px;
  }

  opacity: 1;
  @include transform(translate3d(0,0,0) rotateZ(0deg));
  @include transition(all 0.2s linear);
  
  /* Transition faster when swiping */
  &.swipeleft,
  &.swiperight,
  &.swipeup,
  &.swipedown {
    @include transition(all 0.15s ease-out);
  }

  &.ng-enter {
    @include transform-translate3d(0,100%,0);
    &.top {
      @include transform-translate3d(0,-100%,0);
    }
    opacity: 0;
    &.ng-enter-active {
      @include transform-translate3d(0,0,0);
      opacity: 1;
    }
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
    @include transform-translate3d(0, 100%, 0);
    &.top {
      @include transform-translate3d(0, -100%, 0);
    }
    &.swipeleft {
      @include transform(translate3d(-100%, 0, 0));
    }
    &.swiperight {
      @include transform(translate3d(100%, 0, 0));
    }
  }
}

.toast-action {
  line-height: 19px;
  color: #eeff41;
  padding-left: 24px;
  cursor: pointer;
  text-transform: uppercase;
  float: right;
}

@media (max-width: $layout-breakpoint-sm) {
  material-toast {
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    border-radius: 0;
    bottom: 0;
    &.top {
      bottom: auto;
      top: 0;
    }
  }
}
@media (min-width: $layout-breakpoint-sm) {
  material-toast {
    min-width: 288px;
    bottom: $toast-margin;
    left: $toast-margin;
    &.right {
      left: auto;
      right: $toast-margin;
    }
    &.top {
      bottom: auto;
      top: $toast-margin;
    }

    /* 
     * When the toast doesn't take up the whole screen,
     * make it rotate when the user swipes it away
     */
    &.ng-leave.ng-leave-active {
      &.swipeleft {
        @include transform(translate3d(-100%, 25%, 0) rotateZ(-15deg));
      }
      &.swiperight {
        @include transform(translate3d(100%, 25%, 0) rotateZ(15deg));
      }
      &.top {
        &.swipeleft {
          @include transform(translate3d(-100%, 0, 0) rotateZ(-15deg));
        }
        &.swiperight {
          @include transform(translate3d(100%, 0, 0) rotateZ(15deg));
        }
      }
    }
  }
}

