md-toast.md-THEME_NAME-theme {

  .md-toast-content {
    background-color: #323232;
    color: '{{background-50}}';

    .md-button {
      color: '{{background-50}}';

      &.md-highlight {
        // By default the toast should use the accent color as the primary highlight color
        color: '{{accent-color}}';

        &.md-primary {
          color: '{{primary-color}}';
        }

        &.md-warn {
          color: '{{warn-color}}';
        }
      }
    }
  }
}
