material-switch {
  display: block;
  position: relative;
  height: $baseline-grid * 3;
  margin: $baseline-grid;

  @include flex-display();
  @include flex-align-items(center);

  .material-switch-bar {
    position: absolute;
    left: $baseline-grid * 2;
    top: $baseline-grid * 1.5;
    width: $baseline-grid * 4;
    height: 1px;
    background-color: #5a5a5a;
    pointer-events: none;
  }

  /* used also in _radio-button.scss */
  .material-switch-thumb {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    outline: none;

    .material-container {
      position: absolute;
      -webkit-transition: -webkit-transform 0.2s linear; 
      transition: transform 0.2s linear;
      @include transform-translate3d(0,0,0);
    }
    &.material-checked .material-container {
      @include transform-translate3d($switch-width - 16,0,0);
    }

    &:focus .material-label {
      border: 1px dotted black;
    }
    .material-label {
      margin-left: $baseline-grid * 9;
    }
  }
}
