@mixin md-switch-checked ($group, $shade) {
  .md-ink-ripple {
      color: '{{' + $group + '-'+ $shade +'}}';
  }
  ._md-thumb {
    background-color: '{{' + $group + '-' + $shade + '}}';
  }
  ._md-bar {
    background-color: '{{' + $group + '-' + $shade + '-0.5}}';
  }
  &.md-focused ._md-thumb:before {
    background-color: '{{' + $group + '-' + $shade + '-0.26}}';
  }
}

md-switch.md-THEME_NAME-theme {
  .md-ink-ripple {
    color: '{{background-contrast-1.0}}';
  }
  ._md-thumb {
    background-color: '{{background-50}}';
  }
  ._md-bar {
    background-color: '{{background-contrast-0.38}}';
  }
  &.md-focused ._md-thumb:before {
    background-color: '{{background-contrast-0.26}}';
  }

  &.md-checked {
    @include md-switch-checked('accent', '500');

    &.md-primary {
      @include md-switch-checked('primary', '500');
    }

    &.md-warn {
      @include md-switch-checked('warn', '500');
    }

  }

  &[disabled] {
    ._md-thumb {
      background-color: '{{background-400}}';
    }
    ._md-bar {
      background-color: '{{background-contrast-0.12}}';
    }
  }

  &.md-theme-dark {
    ._md-thumb {
      background-color: '{{background-400}}';
    }
    ._md-bar {
      background-color: '{{background-contrast-0.30}}';
    }

    &.md-checked {
      @include md-switch-checked('accent', '200');

      &.md-primary {
        @include md-switch-checked('primary', '200');
      }

      &.md-warn {
        @include md-switch-checked('warn', '200');
      }

    }

    &[disabled] {
      ._md-thumb {
        background-color: '{{background-800}}';
      }
      ._md-bar {
        background-color: '{{background-contrast-0.10}}';
      }
    }
  }
}
