@keyframes subheaderStickyHoverIn {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: $subheader-sticky-shadow;
  }
}
@keyframes subheaderStickyHoverOut {
  0% {
    box-shadow: $subheader-sticky-shadow;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.md-subheader {
  color: $text-medium;
  display: block;
  font-size: $subheader-font-size;
  font-weight: $subheader-font-weight;
  line-height: $subheader-line-height;
  padding: $subheader-padding;
  margin: $subheader-margin;
  margin-right: $subheader-margin-right;
  background-color: white;
  position: relative;

  &.md-subheader-colored {
    color: $theme-light-blue
  }

  &:not(.sticky-no-effect) {
    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: -$subheader-margin-right;
      content: '';
    }

    transition: 0.2s ease-out margin;
    &[sticky-state="active"] {
      margin-top: -2px;
    }
    &:not(.md-sticky-clone)[sticky-prev-state="active"]:after {
      animation: subheaderStickyHoverOut 0.3s ease-out both;
    }
  }
}
