$md-subheader-line-height: 1em !default;
$md-subheader-font-size: rem(1.4) !default;
$md-subheader-padding: ($baseline-grid * 2) !default;
$md-subheader-font-weight: 500 !default;
$md-subheader-margin: 0 0 0 0 !default;

md-subheader {
  position: relative;
  display: block;

  box-sizing: border-box;
  width: 100%;

  z-index: 2;
  top: 0;

  font-size: $md-subheader-font-size;
  font-weight: $md-subheader-font-weight;
  line-height: $md-subheader-line-height;

  margin: $md-subheader-margin;
  padding: $md-subheader-padding;
}
