<div ng-controller="AppCtrl" class="sample">

    <md-tabs selected="selectedIndex">
        <md-tab ng-repeat="tab in tabs"
                on-select="onTabSelected(tab)"
                on-deselect="announceDeselected(tab)"
                ng-disabled="tab.disabled"
                label="{{tab.title}}">

            <div ng-class="tab.style" layout="vertical" layout-fill layout-align="center center">
                <div flex ng-bind="tab.content" class="tab-text"></div>
                <md-button class="md-theme-red btnRemove"
                           ng-click="removeTab( tab )">Remove Tab
                </md-button>
            </div>
        </md-tab>
    </md-tabs>

    <form ng-submit="addTab(tTitle,tContent)" flex>
        <div layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
            <md-text-float label="Active Index" ng-model="selectedIndex" disabled></md-text-float>
            <md-text-float label="Active Title" ng-model="tabs[selectedIndex].title"></md-text-float>
            <md-text-float label="Active Content" ng-model="tabs[selectedIndex].content" class="long"></md-text-float>
        </div>
        <div layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
            <span class="title">New Tab:</span>
            <md-text-float label="Label" ng-model="tTitle"></md-text-float>
            <md-text-float label="Content" ng-model="tContent" ></md-text-float>
            <md-button class="md-theme-green"  type="submit" style="max-height: 40px" >Add Tab</md-button>
        </div>
    </form>


</div>
