
div.infoBar input {
    display: inline-block;
}

div.infoBar {
    margin-left: 20px;
    height: 75px;
    font-size: .8em;
}


md-tabs .md-view {
  background: #EEE;
}

.tab-text {
    padding-top: 32px;
    margin-bottom: 32px;
}


.float-logo {
    position:absolute;
    width:30px;
    height: 30px;
    padding-top:5px;
    padding-left: 5px;
    z-index:100;
}


md-button {
    display:block;
    margin-bottom: 40px;
}
