
.remove-tab {
  margin-bottom: 40px;
}

.md-button {
  display:block;
}

.demo-tab {
  height: 300px;
  text-align: center;
}
.tab0, .tab1, .tab2, .tab3 {
  background-color: #bbdefb;
}

.md-header {
  background-color: #1976D2 !important;
}
md-tab {
  color: #90caf9 !important;
}
md-tab.active,
md-tab:focus {
  color: white !important;
}
md-tab[disabled] {
  opacity: 0.5;
}
.md-header .md-ripple {
  border-color: #FFFF8D !important;
}
md-tabs-ink-bar {
  background-color: #FFFF8D !important;
}

.title {
  padding-top: 8px;
  padding-right: 8px;
  text-align: left;
  text-transform: uppercase;
  color: #888;
  margin-top: 24px;
}


[layout-align] > * {
  margin-left: 8px;
}

form > [layout] > * {
  margin-left: 8px;
}

.long > input {
  width: 264px;
}

.md-button {
  max-height: 30px;
}

.md-button.add-tab {
  margin-top:20px;
  max-height:30px !important;
}
