.remove-tab {
  margin-bottom: 40px;
}
.demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box;
}
.edit-form input {
  width: 100%;
}
md-tabs {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
md-tab[disabled] {
  opacity: 0.5;
}
label {
  text-align: left;
}

.title {
  padding-top: 8px;
  padding-right: 8px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 24px;
}
[layout-align] > * {
  margin-left: 8px;
}
form > [layout] > * {
  margin-left: 8px;
}
form > [layout] > span {
  padding-top:2px
}
.long > input {
  width: 264px;
}
.md-button.add-tab {
  margin-top:20px;
  max-height:30px !important;
}
