md-content {
  h1:first-child {
    margin-top: 0;
  }
  md-tabs {
    .demo-tab {
      padding: 25px;
      text-align: center;

      &> div > div {
        padding: 25px;
        box-sizing: border-box;
      }
    }
    md-tab {
      &[disabled] {
        opacity: 0.5;
      }
    }
  }
  form {
    padding-top: 0;

    div[flex] {
      position: relative;

      h2.md-subhead {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 35px;
        white-space: nowrap;
      }
    }
    md-button.add-tab {
      margin-right: 0;
      transform: translateY(5px);
    }
    md-input-container {
      padding-bottom: 0;
    }
  }
}
