/* Overides for AM variables */

$font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-size:   14px;

/* TST variables */

$PRIMARY: #4d91db;
$SECONDARY: #183a5c;
$LINK: #4d91db;

$NOTIFY: #4d91db; /* Blue */
$ERROR: #cb191c; /* Red */
$SUCCESS: #00a45f; /* Green */
$WARNING: #e7b81c; /* Yellow */

$TEXT: #333839;
$TEXT-HEADING: #000000;
$TEXT-ALT: #ffffff;
$TEXT-SECONDARY: #6d7070;

$DISABLED: #cccccc;

$BG: #ffffff;
$BG-ALT: #eeeeee;
$BG-DARK: #333839;

$SEPARATOR: #e8e8e8;
$STROKE: #cccccc;