md-sidenav {
  position: absolute;

  width: $sidenav-default-width;
  bottom: 0;
  z-index: $z-index-sidenav;
  background-color: white;
  overflow: auto;

  &.closed {
    display: none;
  }
  &.closed-add,
  &.closed-remove {
    display: block;
    /* this is required as of 1.3x to properly
       apply all styling in a show/hide animation */
    transition: 0s all;
  }
  &.closed-add.closed-add-active,
  &.closed-remove.closed-remove-active {
    transition: transform 0.3s ease-in-out;
  }

  &.locked-open,
  &.locked-open.closed,
  &.locked-open.closed.material-sidenav-left,
  &.locked-open.closed.material-sidenav-right {
    position: static;
    display: block;
    transform: translate3d(0, 0, 0);
  }

  @extend .material-sidenav-left;
}
.md-sidenav-backdrop.locked-open {
  display: none;
}

.md-sidenav-left {
  left: 0;
  top: 0;
  transform: translate3d(0%, 0, 0);
  &.closed {
    transform: translate3d(-100%, 0, 0);
  }
}

.md-sidenav-right {
  left: 100%;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  &.closed {
    transform: translate3d(0%, 0, 0);
  }
}
