md-sidenav {
  position: absolute;

  width: $sidenav-default-width;
  bottom: 0;

  background-color: white;

  transition: transform 0.3s ease-in-out;

  @extend .md-sidenav-left;

  // &.closed {
  //   display: none;
  // }
}

.md-sidenav-left {
  left: 0;
  top: 0;
  transform: translate3d(-100%, 0, 0);

  &.open {
    transform: translate3d(0%, 0, 0);
    z-index: $z-index-sidenav;
  }
}

.md-sidenav-right {
  left: 100%;
  top: 0;
  transform: translate3d(100%, 0, 0);

  &.open {
    transform: translate3d(-100%, 0, 0);
    z-index: $z-index-sidenav;
  }
}

@media (min-width: $layout-breakpoint-md) {
  md-sidenav {
    position: static;
    transform: translate3d(0,0,0) !important;
  }

  .md-sidenav-backdrop {
    display: none !important;
  }
}

@media (max-width: $sidenav-default-width + 2 * $sidenav-min-room) {
  md-sidenav {
    max-width: 75%;
  }
}
