$sidenav-default-width: 304px !default;
$sidenav-min-space: 56px !default;

.md-sidenav-left {
  transform: translate3d(-100%, 0, 0);
}

md-sidenav {
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  z-index: $z-index-sidenav;

  top:0;
  bottom: 0;
  left:0;
  width: $sidenav-default-width;
  min-width: $sidenav-default-width;
  max-width: $sidenav-default-width;

  display:none;
  transition: 0s ease-out transform;

  background-color: white;
  overflow: auto;

  ul {
    list-style: none;
  }


  &.md-locked-open-add,
  &.md-locked-open-remove {
    display: block;
  }
  &.md-locked-open {
    display: block;
    transition-duration: 0.2s;

    &.md-sidenav-left {
      transform: translate3d(0, 0, 0);
    }
  }

  @extend .md-sidenav-left;
}


.md-sidenav-backdrop.md-locked-open {
  display: none;
}

@media (max-width: $sidenav-default-width + $sidenav-min-space) {
  md-sidenav {
    width: 85%;
  }
}

@media screen and (-ms-high-contrast: active) {
  .md-sidenav-left {
    border-right: 1px solid #fff;
  }
}
