<!DOCTYPE html>
<html ng-app="materialDemoTabs">
<head>
    <title></title>
    <link rel="stylesheet" href="/dist/material-design.css">
    <style type="text/css">
        html, body {
          color:white;
            width: 100%;
            height: 400px;
        }

        body {
            padding:100px; background-color: #FDFFEC; color: #000000;
        }

    </style>
</head>
<body ng-controller="myController" >



    <material-checkbox>
        <input type="checkbox" ng-model="data.cb1">
        Checkbox 1: {{ data.cb1 }}
    </material-checkbox>


    <material-radio-group>
        <material-radio-button>
            <input type="radio" name="group2" value="4" ng-model="data.group2">
            Label 4
        </material-radio-button>

        <material-radio-button>
            <input type="radio" name="group2" value="5" ng-model="data.group2">
            Label 5
        </material-radio-button>
    </material-radio-group>

</body>

<script type="text/javascript" src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>

<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/config/lib/angular-animate-sequence/angular-animate-sequence.js"></script>
<script type="text/javascript" src="/config/lib/angular-animate-sequence/angular-animate-stylers.js"></script>

<script src="/src/components/animate/effects.js"></script>
<script src="/src/components/animate/canvas/rippler.js"></script>

<script src="/src/utils/supplant.js"></script>
<script src="/src/utils/binding.js"></script>
<script src="/src/utils/list.js"></script>
<script src="/src/components/checkbox/checkbox.js"></script>
<script src="/src/components/radioButton/radioButton.js"></script>

<script>
    angular.module('materialDemoTabs', ['material.animations', 'material.components.checkbox', 'material.components.radioButton'])
            .controller('myController', function($scope, $log){
                $scope.data = {};
                $scope.data.group1 = '2';
                $scope.data.group2 = '6';

                $scope.radioData = [
                    { label: 'Label 1', value: '1' },
                    { label: 'Label 2', value: '2' },
                    { label: 'Label 3', value: '3' }
                ];
            });

</script>
</html>
