[class^="qt-animate"], [class*=" qt-animate"] {
  animation-duration: 0.5s;
}


/*material-tabs {*/
  /*display: flex;*/
  /*background:#00bcd4;*/
  /*align-items: stretch;*/
/*}*/

material-tab {
  flex: 1 100%;
  padding:10px;
  text-align:center;
  position:relative;
  z-index:0;
  overflow:hidden;
}

