#popupContainer {
    position:relative;
}

.footer {
    width:100%;
    text-align: center;
    margin-left:20px;
}
 .footer, .footer > code {
    font-size: 0.8em;
    margin-top:50px;
}

button {
    width: 200px;
}

div#status {
    color: #c60008;
}

.dialog-demo-prerendered md-checkbox {
  margin-bottom: 0;
}