
<div ng-app="app" ng-controller="AppCtrl">
  <material-content >

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <material-button>Button</material-button>
      <material-button noink class="material-button-colored">Button (noink)</material-button>
      <material-button disabled class="material-button-colored">Disabled</material-button>
      <div class="label">flat</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <material-button class="material-button-raised">Button</material-button>
      <material-button class="material-button-raised material-button-colored">Colored</material-button>
      <material-button disabled class="material-button-raised material-button-colored">Disabled</material-button>
      <div class="label">raised</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <a><material-button class="material-button-raised">Button</material-button></a>
      <a><material-button class="material-button-raised material-button-colored">Colored</material-button></a>
      <a><material-button disabled class="material-button-raised material-button-colored">Disabled</material-button></a>
      <div class="label">anchors</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <material-button>Button</material-button>
      <material-button class="material-button-colored">Colored</material-button>
      <div class="label">flat + hover state</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <material-button class="material-button-raised">Button</material-button>
      <material-button class="material-button-raised material-button-colored">Colored</material-button>
      <div class="label">raised + hover state</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <material-button>Button</material-button>
      <material-button class="material-button-colored">Colored</material-button>
      <div class="label">flat + focused</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <material-button class="material-button-raised">Button</material-button>
      <material-button class="material-button-raised material-button-colored">Colored</material-button>
      <div class="label">raised + focused</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center" style="height: 92px;margin-top: 0px;">

        <material-button class="material-button-fab">
            <material-icon icon="/img/icons/ic_access_time_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>

      <material-button class="material-button-fab">
        <material-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></material-icon>
      </material-button>

        <material-button class="material-button-fab" disabled>
            <material-icon icon="/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>

        <material-button class="material-button-fab">
            <material-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>


      <div class="label">FAB</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" layout-padding layout-align="center center">
      <div class="material-button-group">
        <material-button class="">Reset</material-button>
        <material-button class="">RSVP</material-button>
      </div>
      <div class="label">Button Group</div>
    </section>

    <section layout="vertical" layout-sm="horizontal" 
      layout-padding layout-align="center center">
      <material-button class="material-theme-green">Button</material-button>
      <material-button class="material-theme-red">Button</material-button>
      <material-button class="material-theme-light-blue">Button</material-button>
      <material-button class="material-theme-yellow">Button</material-button>
      <div class="label">Themed</div>
    </section>

  </material-content>
</div>
