
<div ng-app="app" ng-controller="AppCtrl">
  <material-content>

    <section class="margin">
      <button class="material-button">Button</button>
      <br>
      <button class="material-button material-button-colored">Button</button>
      <br>
      <button disabled class="material-button material-button-colored">Colored</button>
      <br>
      <div class="label">flat</div>
    </section>

    <section class="margin">
      <button class="material-button material-button-raised">Button</button>
      <br>
      <button class="material-button material-button-raised material-button-colored">Colored</button>
      <br>
      <button disabled class="material-button material-button-raised material-button-colored">Disabled</button>
      <br>
      <div class="label">raised</div>
    </section>

    <section class="margin">
      <a class="material-button material-button-raised">Button</a>
      <br>
      <a class="material-button material-button-raised material-button-colored">Colored</a>
      <br>
      <a disabled class="material-button material-button-raised material-button-colored">Disabled</a>
      <br>
      <div class="label">anchors</div>
    </section>

    <section class="margin">
      <button class="material-button">Button</button>
      <br>
      <button class="material-button material-button-colored">Colored</button>
      <br>
      <div class="label">flat + hover state</div>
    </section>

    <section class="margin">
      <button class="material-button material-button-raised">Button</button>
      <br>
      <button class="material-button material-button-raised material-button-colored">Colored</button>
      <br>
      <div class="label">raised + hover state</div>
    </section>

    <section class="margin">
      <button class="material-button">Button</button>
      <br>
      <button class="material-button material-button-colored">Colored</button>
      <br>
      <div class="label">flat + focused</div>
    </section>

    <section class="margin">
      <button class="material-button material-button-raised">Button</button>
      <br>
      <button class="material-button material-button-raised material-button-colored">Colored</button>
      <br>
      <div class="label">raised + focused</div>
    </section>

    <section>
      <button class="material-button material-button-fab" style="position: static; display: block">
        <material-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;">
        </material-icon>
      </button>
      <br>
      <div class="label">FAB</div>
    </section>

    <section>
      <div class="material-button-group">
        <button class="material-button">Reset</button>
        <button class="material-button">RSVP</button>
      </div>
      <br>
      <div class="label">Button Group</div>
    </section>

    <section class="margin">
      <button class="material-button material-theme-green">Button</button>
      <br>
      <button class="material-button material-theme-red">Button</button>
      <br>
      <button class="material-button material-theme-light-blue">Button</button>
      <br>
      <button class="material-button material-theme-yellow">Button</button>
      <br>
      <div class="label">Themed</div>
    </section>

  </material-content>
</div>
