
/** From vulcanized demo **/

section {
  vertical-align: top;
  display: inline-block;
  background: #f7f7f7;
  border-radius: 3px;
  width: 25%;
  text-align: center;
  margin: 1%;
  padding: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.margin .material-button {
  width: 10em;
  margin: 1em;
  line-height: 25px;
}
.label {
  text-align: left;
  color: #bbb;
  font-size: 12px;
  margin-top: 2em;
}

