$bar-height:5px;

 md-progress-linear {
  display: block;
  width: 100%;
  height: $bar-height;

  .container {
    overflow: hidden;
    position: relative;
    height: $bar-height;
    background-color: $color-blue-100;
    top: $bar-height;
    transform: translate(0, 5px) scale(1, 0);
    transition: all .3s linear;
  }

  .container.ready {
    transform: translate(0, 0) scale(1, 1);
  }

  .bar {
    height: $bar-height;
    background-color: $color-blue-500;
    position: absolute;
    width: 100%;
  }

  .bar1, .bar2 {
    transition: all 0.2s linear;
  }

  &[mode=determinate] {
    .bar1 {
      display: none;
    }
  }

  &[mode=indeterminate] {
    .bar1 {
      animation: indeterminate1 4s infinite linear;
    }

    .bar2 {
      animation: indeterminate2 4s infinite linear;
    }
  }

  &[mode=buffer] {
    .container {
      background-color: transparent;
    }

    .dashed:before {
      content: "";
      display: block;
      height: $bar-height;
      width: 100%;
      margin-top: 0px;
      position: absolute;
      background: radial-gradient(#d0d9ff 0%, #d0d9ff 16%, transparent 42%);
      background-color: transparent;
      background-size: 10px 10px;
      background-position: 0px -23px;
      animation: buffer 3s infinite linear;
    }

    .bar1 {
      background-color: $color-blue-100;
    }
  }

  &[mode=query] {
    .bar2 {
      animation: query .8s infinite cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }
  }
}

@keyframes indeterminate1 {
  0% {
    transform: translateX(-25%) scale(.5, 1);
  }
  10% {
    transform: translateX(25%) scale(.5, 1);
  }
  19.99% {
    transform: translateX(50%) scale(0, 1);
  }
  20% {
    transform: translateX(-37.5%) scale(.25, 1);
  }
  30% {
    transform: translateX(37.5%) scale(.25, 1);
  }
  34.99% {
    transform: translateX(50%) scale(0, 1);
  }
  36.99% {
    transform: translateX(50%) scale(0, 1);
  }
  37% {
    transform: translateX(-37.5%) scale(.25, 1);
  }
  47% {
    transform: translateX(20%) scale(.25, 1);
  }
  52% {
    transform: translateX(35%) scale(.05, 1);
  }
  55% {
    transform: translateX(35%) scale(.1, 1);
  }
  58% {
    transform: translateX(50%) scale(.1, 1);
  }
  61.99% {
    transform: translateX(50%) scale(0, 1);
  }
  69.99% {
    transform: translateX(50%) scale(0, 1);
  }
  70% {
    transform: translateX(-37.5%) scale(.25, 1);
  }
  80% {
    transform: translateX(20%) scale(.25, 1);
  }
  85% {
    transform: translateX(35%) scale(.05, 1);
  }
  88% {
    transform: translateX(35%) scale(.1, 1);
  }
  91% {
    transform: translateX(50%) scale(.1, 1);
  }
  92.99% {
    transform: translateX(50%) scale(0, 1);
  }
  93% {
    transform: translateX(-50%) scale(0, 1);
  }
  100% {
    transform: translateX(-25%) scale(.5, 1);
  }
}

@keyframes indeterminate2 {
  0% {
    transform: translateX(-50%) scale(0, 1);
  }
  25.99%{
    transform: translateX(-50%) scale(0, 1);
  }
  28% {
    transform: translateX(-37.5%) scale(.25, 1);
  }
  38% {
    transform: translateX(37.5%) scale(.25, 1);
  }
  42.99% {
    transform: translateX(50%) scale(0, 1);
  }
  46.99% {
    transform: translateX(50%) scale(0, 1);
  }
  49.99% {
    transform: translateX(50%) scale(0, 1);
  }
  50% {
    transform: translateX(-50%) scale(0, 1);
  }
  60% {
    transform: translateX(-25%) scale(.5, 1);
  }
  70% {
    transform: translateX(25%) scale(.5, 1);
  }
  79.99% {
    transform: translateX(50%) scale(0, 1);
  }
}

@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(.3, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}

@keyframes buffer {
  0% {
    opacity: 1;
    background-position: 0px -23px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-position: -200px -23px;
  }
}
