md-progress-linear.md-THEME_NAME-theme {
  .md-container {
    background-color: '{{primary-100}}';
  }

  .md-bar {
    background-color: '{{primary-color}}';
  }

  &.md-warn {
    .md-container {
      background-color: '{{warn-100}}';
    }

    .md-bar {
      background-color: '{{warn-color}}';
    }
  }

  &.md-accent {
    .md-container {
      background-color: '{{accent-100}}';
    }

    .md-bar {
      background-color: '{{accent-color}}';
    }
  }

  &[md-mode=buffer] {
    &.md-warn {
      .md-bar1 {
        background-color: '{{warn-100}}';
      }
      .md-dashed:before {
        background: radial-gradient('{{warn-100}}' 0%, '{{warn-100}}' 16%, transparent 42%);
      }
    }
    &.md-accent {
      .md-bar1 {
        background-color: '{{accent-100}}';
      }
      .md-dashed:before {
        background: radial-gradient('{{accent-100}}' 0%, '{{accent-100}}' 16%, transparent 42%);
      }
    }
  }
}
