<div ng-controller="AppCtrl" class="tabsdemoStaticTabs sample">

    <md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1">
        <md-tab-label>Item One</md-tab-label>
        <md-tab-template>
          View for Item #1 <br/>
          data.selectedIndex = 0;
        </md-tab-template>
      </md-tab>
      <md-tab id="tab2" ng-disabled="data.secondLocked">
        <md-tab-label>{{data.secondLabel}}</md-tab-label>
        <md-tab-template>
          View for Item #2 <br/>
          data.selectedIndex = 1;
        </md-tab-template>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Item Three</md-tab-label>
        <md-tab-template>
          View for Item #3 <br/>
          data.selectedIndex = 2;
        </md-tab-template>
      </md-tab>
    </md-tabs>

    <div class="after-tabs-area" layout="row" layout-sm="column" layout-margin layout-align="left center">
        <md-input-container>
          <label for="selectedIndex">Selected Index</label>
          <input type="number" id="selectedIndex" ng-model="data.selectedIndex">
        </md-input-container>
        <div flex></div>
        <span>Item Two: </span>
        <md-checkbox ng-model="data.secondLocked" aria-label="Disabled">
          Disabled
        </md-checkbox>

    </div>


</div>
