md-content {
  md-tabs {
    md-tab-content {
      padding: 25px;
      &:nth-child(1) {
        background-color: #cfd8dc;
      }
      &:nth-child(2) {
        background-color: #ffb74d;
      }
      &:nth-child(3) {
        background-color: #ffd54f;
      }
      &:nth-child(4) {
        background-color: #aed581;
      }
      &:nth-child(5) {
        background-color: #00897b;
      }
    }
  }
}
.after-tabs-area {
  > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px;
  }
  > md-checkbox {
    margin-top: 26px;
    margin-left: 0;
  }
}
