
<div ng-app="app" ng-controller="AppCtrl">
  <div class="material-display-flex material-flex-h">
    <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z1">
      <div class="material-flex">
        z1
      </div>
    </material-whiteframe>
    <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z2">
      <div class="material-flex">
        z2
      </div>
    </material-whiteframe>
    <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z3">
      <div class="material-flex">
        z3
      </div>
    </material-whiteframe>
  </div>
  <div class="material-display-flex material-flex-h">
    <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z4">
      <div class="material-flex">
        z4
      </div>
    </material-whiteframe>
    <material-whiteframe class="material-flex material-display-flex material-flex-center material-whiteframe-z5">
      <div class="material-flex">
        z5
      </div>
    </material-whiteframe>
  </div>
</div>