.tab1 {
    background-color: #ea9a9e;
    width: 100%;
    height: 100%;
}

.tab2 {
    background-color: #65a1fc;
    width: 100%;
    height: 100%;
}

.tab3 {
    background-color: #96ba82;
    width: 100%;
    height: 100%;
}

.tab4 {
    background-color: #f4f5af;
    width: 100%;
    height: 100%;
}

.tab5 {
    background-color: #91a7ea;
    width: 100%;
    height: 100%;
}


.tab6 {
    background-color: #d9d9d9;
    width: 100%;
    height: 100%;
}

.tab7 {
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
}

.tab8 {
    background-color: #119957;
    width: 100%;
    height: 100%;
}

.tab9 {
    background-color: #cdf0ff;
    width: 100%;
    height: 100%;
}

.tab10 {
    background-color: #83d473;
    width: 100%;
    height: 100%;
}





/*
 * Animation styles
 */

.animate-switch-container {
    position:relative;
    background:white;
    border:0px solid black;
    height:300px;
    opacity: 1.0;
    overflow:hidden;

}

.animate-switch {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    position:absolute;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top:-300px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top:0;
}

.animate-switch.ng-leave
{
    z-index: 100;
}

div.animate-switch-container div.animate-switch {
    padding:20px;
}

.title {
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

div.row {
    margin-left: -8px;
}

.row > * {
    font-size: inherit;
    margin: 0 8px;
}
