$chip-font-size: 1.3rem !default;
$chip-height: 2.2rem !default;
$chip-button-padding: 0.2rem !default;
$chip-padding: 0 0.8rem 0 0.8rem !default;
$chip-margin: 0 0 0 0.8rem !default;
$chip-wrap-padding: 0.8rem !default;

.md-chips {
  box-shadow: $whiteframe-shadow-z1;
  display: block;
  font-family: $font-family;
  font-size: $chip-font-size;
  padding: $chip-wrap-padding;
  vertical-align: middle;

  .md-chip {
    border-radius: $chip-height / 2;
    display: inline-block;
    height: $chip-height;
    margin: $chip-margin;
    line-height: $chip-height;
    padding: $chip-padding;

    &:first-child {
      margin: 0;
    }

    &.selected, &:focus {
      outline: none;
      transform: translate3d(0, -1px, 0);
      box-shadow: $whiteframe-shadow-z1;
    }

    .md-button {
      padding: $chip-button-padding;
      line-height: $chip-height - $chip-button-padding * 2;
      min-width: 0;
      margin: 0 0 0 0.5em;

      md-icon {
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }

  .md-chip-worker {
    display: inline-block;
    line-height: $chip-height;

    &:not(:first-child) {
      margin: $chip-margin;
    }
  }

  .md-chip-input {
    background-color:transparent;
    border-width: 0;
  }
}
