md-chips.md-THEME_NAME-theme {
  background: '{{background-50}}';
  .md-chip {
    background: '{{background-300}}';
    color: '{{background-800}}';
  }
  md-chip-remove {
    .md-button {
      md-icon {
        path {
          fill: '{{background-500}}';
        }
      }
    }
  }
}
