md-content.autocomplete {
 min-height: 200px;
}
input[type=number] {
 width: 110px;
}
.veggie-option {
 float: left;
 width: 20%;
 box-sizing: border-box;
 padding: 0 8px;
}
.veggie-option .md-item-text {
 padding: 8px;
 border-radius: 3px;
}
.veggie-option .md-item-text h3,
.veggie-option .md-item-text p {
 padding: 0;
 margin: 0;
}