md-toolbar {
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 2;

  font-size: 1.3em;
  min-height: $baseline-grid * 8;
  width: 100%;

  &.md-tall {
    height: $toolbar-tall-height;
  }

  &.md-medium-tall {
    height: $toolbar-medium-tall-height;

    .md-toolbar-tools {
      height: 48px;
    }
  }

  .md-indent {
    margin-left: $toolbar-indent-margin;
  }
}

.md-toolbar-tools {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  height: $toolbar-tools-height;
  font-size: inherit;
  font-weight: normal;
  padding: 0 10px;
  margin: 0;

  > * {
    font-size: inherit;
    margin: 0 8px;
  }
  h2, h3 {
    font-weight: normal;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  md-button {
    font-size: 16px;
  }
}

// .md-toolbar-tools-middle {
//   position: absolute;
//   top: calc(33.3333333333336%);
//   left: 0;
//   right: 0;
// }
