material-toolbar {
  display: block;

  position: relative;
  z-index: 2;

  font-size: 1.3em;
  height: $baseline-grid * 8;
  width: 100%;

  &.material-tall {
    height: $toolbar-tall-height;
  }

  &.material-medium-tall {
    height: $toolbar-medium-tall-height;
  }

  .material-indent {
    margin-left: $toolbar-indent-margin;
  }
}

.material-toolbar-tools {
  @include flex-display();
  @include flex-align-items(center);
  @include flex-direction(row);

  height: $toolbar-tools-height;
  padding: 0 10px;

  > * {
    margin: 0 8px;
  }

  .material-button {
    font-size: 16px;
  }
}

.material-toolbar-tools-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.material-toolbar-tools-middle {
  position: absolute;
  top: calc(33.3333333333336%);
  left: 0;
  right: 0;
}
