$toolbar-tools-height: 64px !default;
$toolbar-height: 64px !default;
$toolbar-medium-tall-height: 88px !default;
$toolbar-tall-height: 128px !default;
$toolbar-indent-margin: 64px !default;
$toolbar-padding: 16px !default;

md-toolbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 2;

  font-size: 1.3em;
  min-height: $baseline-grid * 8;
  width: 100%;

  box-shadow: $whiteframe-shadow-z1;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &.md-tall {
    height: $toolbar-tall-height;
    min-height: $toolbar-tall-height;
    max-height: $toolbar-tall-height;
  }

  &.md-medium-tall {
    height: $toolbar-medium-tall-height;
    min-height: $toolbar-medium-tall-height;
    max-height: $toolbar-medium-tall-height;

    .md-toolbar-tools {
      height: 48px;
      min-height: 48px;
      max-height: 48px;
    }
  }

  .md-indent {
    margin-left: $toolbar-indent-margin;
  }
}

.md-toolbar-tools {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  height: $toolbar-tools-height;
  max-height: $toolbar-tools-height;
  font-size: inherit;
  font-weight: normal;
  padding: 0 $toolbar-padding;
  margin: 0;

  > * {
    font-size: inherit;
  }
  h2, h3 {
    font-weight: normal;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .fill-height {
    display: flex;
    align-items: center;
  }
  .md-tools {
    margin-left: auto;
  }
  .md-button {
    font-size: 16px;
  }
}
