md-toolbar.md-THEME_NAME-theme:not(.md-menu-toolbar) {
  background-color: '{{primary-color}}';
  color: '{{primary-contrast}}';

  md-icon {
    color: '{{primary-contrast}}';
  }

  &.md-accent {
    background-color: '{{accent-color}}';
    color: '{{accent-contrast}}';
  }
  &.md-warn {
    background-color: '{{warn-color}}';
    color: '{{warn-contrast}}';
  }
}
