.hljs, hljs {
  display: block;
  overflow-x: auto;
  padding: 48px 0.5em 0.5em;
  background: #263238;
  color: white;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  line-height: 1.45;
  tab-size: 2;
  -webkit-font-smoothing: auto;
  -webkit-text-size-adjust: none;
  position: relative;
}
.hljs:before, hljs:before {
  content: attr(lang);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  line-height: 48px;
  text-indent: 16px;
  background: #e91e63;
}

hljs pre > code.highlight {
  background: transparent;
}

.hljs-comment,
.hljs-title,
.hljs-variable,
.hljs-regexp,
.xml .tag .title,
.xml .pi,
.xml .doctype,
.html .doctype,
.css .value,
.css .value .function,
.css .value .string,
.css .value .number,
.css .id,
.css .class,
.css-pseudo,
.css .selector,
.css .tag,
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant,
.ruby .class .title,
.css .rules .attribute,
.css .hexcolor,
.function,
.javascript .title {
  color: #e91e63;
}

.hljs-attribute {
  color: #f06292;
}

.hljs-tag {
  color: #e91e63;
}

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .symbol,
.xml .cdata,
.hljs-keyword,
.javascript .function {
  color: #9FA8DA;
}

.coffeescript .javascript,
.javascript,
.javascript .xml,
.tex .formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .cdata {
    background: transparent;
    opacity: 1;
}
