
.inline-demo {
  margin: 0 0 25px 0;
  padding: 5px;
  height: 170px;
  border: 1px solid #4db6ac;
  background: #e0f2f1;
  text-align: center;
}

.layout-guidelines demo-include [layout] > * {
  padding: 8px;
  min-width: 136px;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.26);
  margin: 8px;
}

.layout-demo :not([layout]) {
  border: 1px solid #eee;
  padding: 8px;
  font-size: 16px;
}

.layout-content .demo-box {
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.26);
  padding: 16px;
}
