
body {
  overflow: hidden;
  max-width: 100%; 
  max-height: 100%;
}

.material-sidenav-inner {
  background: #fff;
}

.material-sidenav-left .menu-item {
  cursor: pointer;
}
.material-sidenav-left .menu-item:hover {
  color: #999;
}
.material-sidenav-left .menu-item.active {
  color: black;
  font-weight: bold;
}

.sidenav-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media only screen and (min-device-width : 968px) {
  .sidenav-content {
    left: 304px;
  }
  .material-sidenav-left {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0,0,0) !important;
  }
  .menu-icon {
    display: none;
  }
}

.menu-icon {
  height: 60px;
}
.menu-icon material-icon {
  top: 19px;
  pointer-events: none; /* don't let svg stop the click event */
}

.view-source {
  margin: 5px;
  text-align: right;
}

.component-pane {
  box-sizing: border-box;
  padding: 10px;
  height: auto;
  background: white;
}

material-sidenav material-content {
  padding-top: 64px;
}

iframe.demo {
  position: absolute;
  top: 39px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 39px);
  height: -webkit-calc(100% - 39px);
  border: none;
}

.material-button.view-source-button {
  color: #eee;
}

material-dialog.view-source-dialog {
  width: 100%;
  height: 100%;
}
