
body:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  background: #3367d6;
  content: " ";
}

body {
  overflow: hidden;
  max-width: 100%; max-height: 100%;
}

.material-sidenav-left:before {
  position: absolute;
  display: block;
  padding: 15px;
  width: 100%;
  height: 60px;
  background: #4285f4;
  color: #fff;
  content: "Components";
  font-size: 1.5em;
}

.material-sidenav-left material-content {
  top: 60px;
}

.material-sidenav-inner {
  box-sizing: border-box;
  padding-top: 60px;
  background: #fff;
}

.material-sidenav-left .menu-item {
  cursor: pointer;
}
.material-sidenav-left .menu-item:hover {
  color: #999;
}
.material-sidenav-left .menu-item.active {
  color: black;
  font-weight: bold;
}

.sidenav-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media only screen and (min-device-width : 968px) {
  .sidenav-content {
    left: 304px;
  }
  .material-sidenav-left {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0,0,0) !important;
  }
  .menu-icon {
    display: none;
  }
}

.sidenav-content h2 {
  margin: 15px;
  margin-left: 45px;
  color: #fff;
  font-weight: normal;
}
.sidenav-content .menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 10px;
  padding-left: 10px;
  height: 60px;
}
.sidenav-content .menu-icon material-icon {
  top: 19px;
  pointer-events: none; /* don't let svg stop the click event */
}
.menu-icon material-icon {
  fill: white;
}

.view-source {
  margin: 5px;
  text-align: right;
}

.component-pane {
  box-sizing: border-box;
  padding: 10px;
  height: auto;
  background: white;
}

iframe.demo {
  position: absolute;
  top: 39px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 39px);
  height: -webkit-calc(100% - 39px);
  border: none;
}
