
body {
  overflow: hidden;
  max-width: 100%; 
  max-height: 100%;
}

.material-sidenav-inner {
  background: #fff;
}

.menu-item {
  background-color: #fff;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.25s linear;
  -webkit-transition-property: max-height, background-color;
  -moz-transition: 0.25s linear;
  -moz-transition-property: max-height, background-color;
  transition: 0.25s linear;
  transition-property: max-height, background-color;
}
.menu-item.ng-hide {
  max-height: 0;
}
.menu-item:hover, .menu-item:focus {
  color: #999;
}
.menu-item.active {
  background-color: #eeeeee;
  font-weight: bold;
  color: #4285f4;
}
.menu-item.menu-title {
  color: #888;
  font-size: 16px;
  padding-left: 8px;
  text-align: left;
  text-transform: uppercase;
}

.menu-icon {
  height: 60px;
}
.menu-icon material-icon {
  top: 19px;
  pointer-events: none; /* don't let svg stop the click event */
}

pre, code {
  margin: 0;
  padding: 0;
}
code {
  font-size: 14px;
  background: #f6f6f6;
}
code:not(.highlight) {
  color: #4285f4;
  margin-left: 1px;
  margin-right: 1px;
}
code.highlight {
  display: block;
  overflow-wrap: break-word;
}

pre > code.highlight {
  padding: 10px;
  font-weight: 400;
}

ng-view {
  margin: auto;
  width: 100%;
  max-width: 1600px;
}

.demo-container.no-source {
  height: 664px;
}
.demo-container {
  height: auto;
}
iframe.demo {
  width: 100%;
  height: 600px;
  border: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.demo-frame-container {
  background: #fff;
  z-index: 1;
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
  -webkit-transform: translate3d(0, -440px, 0);
  -moz-transform: translate3d(0, -440px, 0);
  transform: translate3d(0, -440px, 0);
}
.demo-frame-container.below {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

material-toolbar.demo-toolbar,
.demo-container material-tabs .tabs-header-items {
  background: #455ede;
  color: white;
}
material-toolbar.demo-toolbar material-button {
  -webkit-transition: background 0.35s linear;
  -moz-transition: background 0.35s linear;
  transition: background 0.35s linear;
}
material-toolbar.demo-toolbar material-button.active {
  background: rgb(118,137,231);
}

.demo-container .tabs-header-items material-tab-label {
  background: #455ede;
}
.demo-source-content {
  height: 400px;
  background: #f6f6f6;
}
.demo-source-content pre {
  max-width: 100%;
  overflow-wrap: break-word;
}
.menu-separator-icon {
  margin: 0;
}
.menu-module-name {
  opacity: 0.6;
  font-size: 18px;
}

/************
 * DOCS
 ************/
.api-options-bar material-button {
  margin: 5px;
}
.api-options-bar material-icon {
  position: absolute;
  top: 1px;
  right: 4px;
}
.api-options-bar material-button span {
  margin-right: 24px;
}
