body {
    padding:20px;
}

body h3 {
    font-size:0.95em;
    color: #d4d263;
    font-weight: normal;
    width: 420px;
    text-indent: 20px;
    line-height: 30px;
    margin-left: -20px;
}
.highlight {
    background-color: rgb(255, 251, 231);
    padding: 5px;
    padding-right: 10px;
    vertical-align: middle;
}

.addTabBtn {
    font-size: 12px;
    line-height: 24px;
    margin-left: 40px;
}

.special {

}

.special .tabs-content {
    height: 365px;
}


.options {
    padding-left:20px; padding-top:5px;
}
.options input {
    background-color: rgb(255, 251, 231);
}

.hello {
    background-color: #9fffa3;
}

.bye {
    background-color: #ffa89e;
}

.left-spacer {
    padding-left: 20px;
}

.infoBar {
    width: 100%;
    height: 40px;
}

.infoBar .left {
    display: block;
    width: 100%;
    line-height: 30px;
    float: left;
    margin-bottom: 15px;
}


.tab1 {
    background-color: #ea9a9e;
    width: 100%;
    height: 100%;
}

.tab2 {
    background-color: #65a1fc;
    width: 100%;
    height: 100%;
}

.tab3 {
    background-color: #96ba82;
    width: 100%;
    height: 100%;
}

.tab4 {
    background-color: #f4f5af;
    width: 100%;
    height: 100%;
}

.tab5 {
    background-color: #91a7ea;
    width: 100%;
    height: 100%;
}


.tab6 {
    background-color: #d9d9d9;
    width: 100%;
    height: 100%;
}

.tab7 {
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
}

.tab8 {
    background-color: #119957;
    width: 100%;
    height: 100%;
}

.tab9 {
    background-color: #cdf0ff;
    width: 100%;
    height: 100%;
}

.tab10 {
    background-color: #83d473;
    width: 100%;
    height: 100%;
}





.sample.demo1 {
    height: 470px;
}

input {
    margin-left: 10px; line-height: 25px; font-size: 12px; text-indent: 5px;
}

/*
 * Animation styles
 */

.tabs-content, .animate-switch-container {
    position:relative;
    background:white;
    border:0px solid black;
    height:300px;
    opacity: 1.0;
    overflow:hidden;

}

.animate-switch {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    position:absolute;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top:-300px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top:0;
}

.animate-switch.ng-leave
{
    z-index: 100;
}

/* Animations for material-view elements that are in materialTabs containers */

.tabs-content {
    height: 100%;
}
.tabs-content .material-view {
    opacity:1.0;
    height:100%;
}

.tabs-content .material-view div {
    padding: 20px;
}

.tabs-content .material-view span {
    padding: 10px;
    display: block;
}

.tabs-content .material-view.ng-hide-add,
.tabs-content .material-view.ng-hide-remove {
    display:block!important;
}

.tabs-content .material-view.ng-hide-add.ng-hide-add-active,
.tabs-content .material-view.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 0.0s;
    transition:all linear 0.0s;
}

.tabs-content .material-view.ng-hide {
    opacity:0;
}

.material-view {
    color: black;
}



div.animate-switch-container div.animate-switch {
    padding:20px;
}


material-tab  button {
    position: absolute;
    display:none;
    top: 0;
    right: 0;
    border: 0;
    background: transparent none;
    text-decoration: none;
    cursor: pointer;
}

material-tab:hover  button {
    display:inline;
    border-radius: 50%;
    background-color: rgba(255, 255, 104, 0.3);
}

material-tab  button:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 104, 1.0);
}


material-list.tab-demo-list material-checkbox {
  margin: 8px;
}

.title {
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.removal {
    position: absolute;
    top: 35%;
    left: 40%;
}
