material-content {
  position: absolute;

  padding: 20px;
  box-sizing: border-box;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 1;

  overflow-y: auto;
  overflow-x: hidden;
}

material-toolbar ~ material-content {
  top: 60px;
}
