material-content, 
.material-content {
  display: block;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &[scroll-y] {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &[scroll-x] {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &[scroll-xy] {
  }

  > * {
    position: static;
    height: 100%;
    width: 100%;
  }
}
