material-content {

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &[scroll-y] {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &[scroll-x] {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &[scroll-xy] {
  }

  &.material-content-padding {
    padding: 8px;
  }

  // min-width: 100%;
  // min-height: 100%;
}

@media (min-width: $layout-breakpoint-sm) {
  material-content.material-content-padding {
    padding: 16px;
  }
}
