md-content {

  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &[md-scroll-y] {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &[md-scroll-x] {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &[md-scroll-xy] {
  }

  // For iOS allow disabling of momentum scrolling
  // @see issue #2640.

  &.md-no-momentum {
    -webkit-overflow-scrolling: auto;
  }

  @media print {
    overflow: visible !important;
  }
}


