
<div ng-app="app" ng-controller="AppCtrl">

  <material-content>

    <material-toolbar class="material-theme-light">
      <div class="material-toolbar-tools">
        <material-icon style="width: 24px; height: 24px;">
          <svg-icon></svg-icon>
        </material-icon>
        <span class="material-flex">Toolbar: light-theme (default)</span>
        <material-icon style="width: 24px; height: 24px;">
          <svg-icon></svg-icon>
        </material-icon>
        <material-icon style="width: 24px; height: 24px;">
          <svg-icon></svg-icon>
        </material-icon>
      </div>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-dark">
      <div class="material-toolbar-tools">
        <span class="material-flex">Toolbar: dark-theme</span>
      </div>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-green material-tall">
      <div class="material-toolbar-tools">
        <span class="material-flex">Toolbar: tall</span>
      </div>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-yellow material-tall">
      <div class="material-toolbar-tools material-toolbar-tools-bottom">
        <span class="material-flex">Toolbar: tall with actions pin to the bottom</span>
      </div>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-orange material-medium-tall">
      <div class="material-toolbar-tools material-toolbar-tools-top">
        <material-icon style="width: 24px; height: 24px;">
          <svg-icon></svg-icon>
        </material-icon>
        <span class="material-flex"></span>
      </div>
      <div class="material-toolbar-tools material-toolbar-tools-bottom">
        <span class="material-flex material-indent">Toolbar: medium tall with label aligns to the bottom</span>
      </div>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-purple material-tall">
      <div class="material-toolbar-tools material-toolbar-tools-bottom">
        <div class="material-flex material-indent" style="font-size: 18px">Some stuff aligns to the bottom</div>
      </div>
      <div class="material-toolbar-tools material-toolbar-tools-middle">
        <span class="material-flex material-indent">Toolbar: label aligns to the middle</span>
      </div>
      <div class="material-toolbar-tools material-toolbar-tools-top">
        <material-icon style="width: 24px; height: 24px;">
          <svg-icon></svg-icon>
        </material-icon>
        <span class="material-flex"></span>
      </div>
    </material-toolbar>

  </material-content>
</div>
