
<div ng-controller="AppCtrl">

  <material-content>

    <material-toolbar class="material-theme-light">
      <h2 class="material-toolbar-tools">
        <span>Toolbar: light-theme (default)</span>
      </h2>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-dark">
      <h2 class="material-toolbar-tools">
        <span>Toolbar: dark-theme</span>
      </h2>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-green material-tall">
      <h2 class="material-toolbar-tools">
        <span>Toolbar: tall</span>
      </h2>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-yellow material-tall">
      <span flex></span>
      <h2 class="material-toolbar-tools material-toolbar-tools-bottom">
        <span class="material-flex">Toolbar: tall with actions pin to the bottom</span>
      </h2>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-orange material-medium-tall">
      <div class="material-toolbar-tools material-toolbar-tools-top">
        <material-icon style="width: 24px; height: 24px;">
          <svg-icon></svg-icon>
        </material-icon>
      </div>
      <span flex></span>
      <h2 class="material-toolbar-tools material-toolbar-tools-bottom">
        <span>Toolbar: medium tall with label aligns to the bottom</span>
      </h2>
    </material-toolbar>

    <br>

    <material-toolbar class="material-theme-purple material-tall">
      <div class="material-toolbar-tools material-toolbar-tools-top">
        <material-icon style="width: 24px; height: 24px;">
          <svg-icon></svg-icon>
        </material-icon>
      </div>
      <h2 class="material-toolbar-tools" layout-arrange="center center">
        <span>Toolbar: label aligns to the middle</span>
      </h2>
      <span flex></span>
      <h2 class="material-toolbar-tools">
        <div style="font-size: 18px">Some stuff aligns to the bottom</div>
      </h2>
    </material-toolbar>

  </material-content>
</div>
