md-input-container {
  &.md-input-focused {
    &:not(.md-input-has-value) {
      md-select.md-THEME_NAME-theme {
        ._md-select-value {
          color: '{{primary-color}}';
          &._md-select-placeholder {
            color: '{{primary-color}}';
          }
        }
      }
    }
  }

  &.md-input-invalid {
    md-select.md-THEME_NAME-theme ._md-select-value {
      color: '{{warn-A700}}' !important;
      border-bottom-color: '{{warn-A700}}' !important;
    }

    md-select.md-THEME_NAME-theme.md-no-underline ._md-select-value {
      border-bottom-color: transparent !important;
    }
  }
}

md-select.md-THEME_NAME-theme {
  &[disabled] ._md-select-value {
    border-bottom-color: transparent;
    background-image: linear-gradient(to right, '{{background-contrast-hint}}' 0%, '{{background-contrast-hint}}' 33%, transparent 0%);
    background-image: -ms-linear-gradient(left, transparent 0%, '{{background-contrast-hint}}' 100%);
  }
  ._md-select-value {
    &._md-select-placeholder {
      color: '{{background-contrast-hint}}';
    }
    border-bottom-color: '{{background-contrast-divider}}';
  }
  &.md-no-underline ._md-select-value {
    border-bottom-color: transparent !important;
  }
  &.ng-invalid.ng-touched {
    ._md-select-value {
      color: '{{warn-A700}}' !important;
      border-bottom-color: '{{warn-A700}}' !important;
    }
    &.md-no-underline ._md-select-value {
      border-bottom-color: transparent !important;
    }
  }
  &:not([disabled]):focus {
    ._md-select-value {
      border-bottom-color: '{{primary-color}}';
      color: '{{background-contrast}}';
      &._md-select-placeholder {
        color: '{{background-contrast}}';
      }
    }
    &.md-no-underline ._md-select-value {
      border-bottom-color: transparent !important;
    }
    &.md-accent ._md-select-value {
      border-bottom-color: '{{accent-color}}';
    }
    &.md-warn ._md-select-value {
      border-bottom-color: '{{warn-color}}';
    }
  }
  &[disabled] {
    ._md-select-value {
      color: '{{background-contrast-disabled}}';
      &._md-select-placeholder {
        color: '{{background-contrast-disabled}}';
      }
    }
  }
}

md-select-menu.md-THEME_NAME-theme {
  md-content {
    background-color: '{{background-hue-1}}';

    md-optgroup {
      color: '{{background-hue-1-contrast-secondary}}';
    }

    md-option {
      color: '{{background-hue-1-contrast}}';

      &[disabled] {
        ._md-text {
          color: '{{background-hue-1-contrast-disabled}}';
        }
      }

      &:not([disabled]) {
        &:focus,
        &:hover {
          background: '{{background-hue-3}}'
        }
      }

      &[selected] {
        color: '{{primary-500}}';
        &:focus {
          color: '{{primary-600}}';
        }
        &.md-accent {
          color: '{{accent-color}}';
          &:focus {
            color: '{{accent-A700}}';
          }
        }
      }
    }
  }
}

._md-checkbox-enabled.md-THEME_NAME-theme {
  @include checkbox-primary('[selected]');

  md-option ._md-text {
    color: '{{background-hue-1-contrast}}';
  }
}
