md-select.md-THEME_NAME-theme {
  &.ng-invalid.ng-dirty {
    .md-select-label {
      color: '{{warn-500}}' !important;
      border-bottom-color: '{{warn-500}}' !important;
    }
  }
  &:not([disabled]):focus {
    .md-select-label {
      border-bottom-color: '{{primary-color}}';
      color: '{{ foreground-1 }}';
      &.md-placeholder {
        color: '{{ foreground-1 }}';
      }
    }
    &.md-accent .md-select-label {
      border-bottom-color: '{{accent-color}}';
    }
    &.md-warn .md-select-label {
      border-bottom-color: '{{warn-color}}';
    }
  }
  &[disabled] {
    .md-select-label {
      color: '{{foreground-3}}';
      &.md-placeholder {
        color: '{{foreground-3}}';
      }
    }
  }
  .md-select-label {
    &.md-placeholder {
      color: '{{foreground-2}}';
    }
    border-bottom-color: '{{foreground-4}}';
  }
}

md-select-menu.md-THEME_NAME-theme {

  md-optgroup {
    color: '{{foreground-2}}';
    md-option {
      color: '{{foreground-1}}';
    }
  }
  md-option[selected] {
    color: '{{primary-500}}';
    &:focus {
      color: '{{primary-600}}';
    }
    &.md-accent {
      color: '{{accent-500}}';
      &:focus {
        color: '{{accent-600}}';
      }
    }
  }
  md-option:focus:not([selected]) {
    background: '{{background-200}}';
  }

}
