md-select.md-THEME_NAME-theme {
  &[disabled] ._md-select-value {
    border-bottom-color: transparent;
    background-image: linear-gradient(to right, '{{foreground-3}}' 0%, '{{foreground-3}}' 33%, transparent 0%);
    background-image: -ms-linear-gradient(left, transparent 0%, '{{foreground-3}}' 100%);
  }
  ._md-select-value {
    &._md-select-placeholder {
      color: '{{foreground-3}}';
    }
    border-bottom-color: '{{foreground-4}}';
  }
  &.ng-invalid.ng-dirty {
    ._md-select-value {
      color: '{{warn-A700}}' !important;
      border-bottom-color: '{{warn-A700}}' !important;
    }
  }
  &:not([disabled]):focus {
    ._md-select-value {
      border-bottom-color: '{{primary-color}}';
      color: '{{ foreground-1 }}';
      &._md-select-placeholder {
        color: '{{ foreground-1 }}';
      }
    }
    &.md-accent ._md-select-value {
      border-bottom-color: '{{accent-color}}';
    }
    &.md-warn ._md-select-value {
      border-bottom-color: '{{warn-color}}';
    }
  }
  &[disabled] {
    ._md-select-value {
      color: '{{foreground-3}}';
      &._md-select-placeholder {
        color: '{{foreground-3}}';
      }
    }
  }
}

md-select-menu.md-THEME_NAME-theme {
  md-content {
    background: '{{background-A100}}';

    md-optgroup {
      color: '{{background-600-0.87}}';
    }

    md-option {
      color: '{{background-900-0.87}}';

      &[disabled] {
        ._md-text {
          color: '{{background-400-0.87}}';
        }
      }

      &:not([disabled]) {
        &:focus,
        &:hover {
          background: '{{background-200}}'
        }
      }

      &[selected] {
        color: '{{primary-500}}';
        &:focus {
          color: '{{primary-600}}';
        }
        &.md-accent {
          color: '{{accent-500}}';
          &:focus {
            color: '{{accent-600}}';
          }
        }
      }
    }
  }
}

[md-checkbox-enabled].md-THEME_NAME-theme {
  @include checkbox-primary('[selected]');

  md-option ._md-text {
    color: '{{background-900-0.87}}';
  }
}
