<div ng-controller="AppCtrl">
  <h2>Determinate</h2>
  <material-linear-progress mode="determinate" ng-value="determinateValue"></material-linear-progress>

  <h2>Indeterminate</h2>
  <material-linear-progress mode="indeterminate"></material-linear-progress>

  <h2>Buffer</h2>
  <material-linear-progress mode="buffer" value="{{determinateValue}}" secondaryValue="{{determinateValue2}}"></material-linear-progress>

  <h2>Query Indeterminate and Determinate</h2>
  <material-linear-progress mode="{{mode}}" value="{{determinateValue}}"></material-linear-progress>
</div>