<div ng-controller="AppCtrl" layout="vertical" layout-padding>
  <h3>Determinate</h3>
  <material-linear-progress mode="determinate" ng-value="determinateValue"></material-linear-progress>

  <h3>Indeterminate</h3>
  <material-linear-progress mode="indeterminate"></material-linear-progress>

  <h3>Buffer</h3>
  <material-linear-progress mode="buffer" value="{{determinateValue}}" secondaryValue="{{determinateValue2}}"></material-linear-progress>

  <h3>Query Indeterminate and Determinate</h3>
  <material-linear-progress mode="{{mode}}" value="{{determinateValue}}"></material-linear-progress>
</div>
