.inputIconDemo {
  min-height:48px;
}


md-input-container:not(.md-input-invalid) > md-icon.email {
    color : green;
}
md-input-container:not(.md-input-invalid) > md-icon.name {
    color : dodgerblue;
}

md-input-container.md-input-invalid > md-icon.email,
md-input-container.md-input-invalid > md-icon.name,
{
    color : red;
}

