
material-radio-button,
.material-switch-thumb { // Used in switch
  display: block;
  margin: 15px;
  white-space: nowrap;
  cursor: pointer;

  input {
    display: none;
  }

  .material-container {
    position: relative;
    top: 4px;
    display: inline-block;
    width: $radio-width;
    height: $radio-width;
    cursor: pointer;

    .material-ripple-container {
      position: absolute;
      display: block;
      width: $radio-width * 3; 
      height: $radio-width * 3;
      left: -$radio-width;
      top: -$radio-width;
    }
    .material-ripple {
      color: #0f9d58;
    }
  }


  .material-off {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $radio-width;
    height: $radio-width;
    border: solid 2px;
    border-color: #5a5a5a;
    border-radius: 50%;
  }

  .material-on {
    position: absolute;
    top: 0;
    left: 0;
    width: $radio-width;
    height: $radio-width;
    border-radius: 50%;
    background-color: #0f9d58;
    transition: -webkit-transform ease 0.28s;
    transition: transform ease 0.28s;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  &.material-checked .material-on {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  &.material-checked .material-ink-ripple {
    color: #119957;
  }

  .material-label {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    width: auto;
  }

  .circle {
    border-radius: 50%;
  }

}
material-radio-group {
  border: 1px dotted transparent;
  display: block;
  outline: none;

  &:focus {
    border-color: $input-focused-border-color;
  }
}
