$radio-width: 16px !default;
$radio-height: $radio-width !default;

md-radio-button,
.md-switch-thumb { // Used in switch
  box-sizing: border-box;
  display: block;
  margin: 15px;
  white-space: nowrap;
  cursor: pointer;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  input {
    display: none;
  }

  .md-container {
    position: relative;
    top: 4px;
    display: inline-block;
    width: $radio-width;
    height: $radio-width;
    cursor: pointer;

    .md-ripple-container {
      position: absolute;
      display: block;
      width: $radio-width * 3;
      height: $radio-width * 3;
      left: -$radio-width;
      top: -$radio-width;
    }

    &:before {
      background-color: transparent;
      border-radius: 50%;
      content: '';
      position: absolute;
      display: block;
      height: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: all 0.5s;
      width: auto;
    }
  }


  .md-off {
    position: absolute;
    top: 0;
    left: 0;
    width: $radio-width;
    height: $radio-width;
    border: solid 2px;
    border-radius: 50%;
    transition: border-color ease 0.28s;
  }

  .md-on {
    position: absolute;
    top: 0;
    left: 0;
    width: $radio-width;
    height: $radio-width;
    border-radius: 50%;
    transition: transform ease 0.28s;
    transform: scale(0);
  }

  &.md-checked .md-on {
    transform: scale(0.50);
  }

  .md-label {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    width: auto;
  }

  .circle {
    border-radius: 50%;
  }

}
md-radio-group {
  &:focus {
    outline: none;
  }
  &.md-focused {
    .md-checked .md-container:before {
      left: -8px;
      top: -8px;
      right: -8px;
      bottom: -8px;
    }
  }
}

@media screen and (-ms-high-contrast: active) {
  md-radio-button.md-default-theme .md-on {
    background-color: #fff;
  }
}
