
md-radio-button.md-THEME_NAME-theme {
  ._md-off {
    border-color: '{{foreground-2}}';
  }

  ._md-on {
    background-color: '{{accent-color-0.87}}';
  }
  &.md-checked ._md-off {
    border-color: '{{accent-color-0.87}}';
  }
  &.md-checked .md-ink-ripple {
    color: '{{accent-color-0.87}}';
  }
  ._md-container .md-ripple {
    color: '{{accent-600}}';
  }
}

md-radio-group.md-THEME_NAME-theme,
md-radio-button.md-THEME_NAME-theme {

  &:not([disabled]) {
    .md-primary,
    &.md-primary {
      ._md-on {
        background-color: '{{primary-color-0.87}}';
      }
      .md-checked,
      &.md-checked {
        ._md-off {
          border-color: '{{primary-color-0.87}}';
        }
      }
      .md-checked,
      &.md-checked {
        .md-ink-ripple {
          color: '{{primary-color-0.87}}';
        }
      }
      ._md-container .md-ripple {
        color: '{{primary-600}}';
      }
    }

    .md-warn,
    &.md-warn {
      ._md-on {
        background-color: '{{warn-color-0.87}}';
      }
      .md-checked,
      &.md-checked {
        ._md-off {
          border-color: '{{warn-color-0.87}}';
        }
      }
      .md-checked,
      &.md-checked {
        .md-ink-ripple {
          color: '{{warn-color-0.87}}';
        }
      }
      ._md-container .md-ripple {
        color: '{{warn-600}}';
      }
    }

  }

  &[disabled] {
    color: '{{foreground-3}}';

    ._md-container ._md-off {
      border-color: '{{foreground-3}}';
    }
    ._md-container ._md-on {
      border-color: '{{foreground-3}}';
    }
  }

}
md-radio-group.md-THEME_NAME-theme {
  .md-checked .md-ink-ripple {
    color: '{{accent-color-0.26}}';
  }
  &.md-primary .md-checked:not([disabled]) .md-ink-ripple, .md-checked:not([disabled]).md-primary .md-ink-ripple {
    color: '{{primary-color-0.26}}';
  }
  .md-checked.md-primary .md-ink-ripple {
    color: '{{warn-color-0.26}}';
  }
}

md-radio-group.md-THEME_NAME-theme.md-focused:not(:empty) {
  .md-checked ._md-container:before {
    background-color: '{{accent-color-0.26}}';
  }
  &.md-primary .md-checked ._md-container:before,
  .md-checked.md-primary ._md-container:before {
    background-color: '{{primary-color-0.26}}';
  }
  &.md-warn .md-checked ._md-container:before,
  .md-checked.md-warn ._md-container:before {
    background-color: '{{warn-color-0.26}}';
  }
}
