md-zoom {
  position: relative;
  .md-zoom-zoomed-container {
    //display: none;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 4;

    img {
      position: absolute;
    }
  }

  .md-zoom-thumb-container {
    display: block;
    position: relative;

    img {
      width: 100%;
    }
  }
  
  .md-zoom-message {
    position: absolute;
    top: 0;
    padding: 10px 0;
    background-color: rgba(250,250,250,0.3);    
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
  }
}

