#vertical-container {
  height: 292px;
  width: 400px;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

md-content {
  margin: 16px;
}

md-virtual-repeat-container {
  border: solid 1px grey;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px;
}
