/** Demo styles for mdCalendar. */
.md-calendar-root {
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}

md-calendar {
  margin: 1px;
}
