material-card {
  display: block;

  box-shadow: $card-box-shadow;

  padding: $card-padding;
  margin: $card-margin;

  border-radius: $card-border-radius;

  .material-card-image {
    min-width: 100%;
    @include calc(width, "100% + #{$card-padding}*2");
    margin-left: -10px;
    margin-top: -10px;
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

}
