md-card {
  display: block;
  box-sizing: border-box;

  box-shadow: $card-box-shadow;
  margin: $card-margin;
  padding: $card-padding;
  border-radius: $card-border-radius;

  .md-card-image {
    display: block;
    width: 100%;
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

}
