$card-padding: 16px !default;
$card-box-shadow: $whiteframe-shadow-1dp !default;

md-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: $baseline-grid;

  box-shadow: $card-box-shadow;

  > img,
  > :not(md-card-content) img {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
  }

  md-card-content {
    display: block;
    padding: $card-padding;
  }

  .md-actions {
    margin: 0;

    .md-button {
      margin-bottom: $baseline-grid;
      margin-top: $baseline-grid;
      margin-right: $baseline-grid * .5;
      margin-left: $baseline-grid * .5;
    }
  }
  md-card-footer {
    margin-top: auto;
    padding: $card-padding;
  }
}

@media screen and (-ms-high-contrast: active) {
  md-card {
    border: 1px solid #fff;
  }
}

