$card-margin: 8px !default;
$card-box-shadow: $whiteframe-shadow-z1 !default;

md-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  box-shadow: $card-box-shadow;

  > img {
    order: 0;
    width: 100%;
  }

  md-card-content {
    order: 1;
    margin: $card-margin;
  }
}
