
@font-face {
  font-family:"material";
  src:url("/dist/material-font/material.eot");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"material";
  src:url("/dist/material-font/material.eot");
  src:url("/dist/material-font/material.eot?#iefix") format("embedded-opentype"),
    url("/dist/material-font/material.woff") format("woff"),
    url("/dist/material-font/material.ttf") format("truetype"),
    url("/dist/material-font/material.svg?#material") format("svg");
  font-weight:normal;
  font-style:normal;
}

/* Bootstrap Overrides */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family:"material";
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  height: 3 * $baseline-grid;
  width: 3 * $baseline-grid;
}

.icon-3d-rotation:before {
  content:"\f101";
}


.icon-access-alarms:before {
  content:"\f102";
}


.icon-access-time:before {
  content:"\f103";
}


.icon-accessibility:before {
  content:"\f104";
}


.icon-account-balance:before {
  content:"\f105";
}


.icon-account-balance-wallet:before {
  content:"\f106";
}


.icon-account-box:before {
  content:"\f107";
}


.icon-account-child:before {
  content:"\f108";
}


.icon-account-circle:before {
  content:"\f109";
}


.icon-adb:before {
  content:"\f10a";
}


.icon-add:before {
  content:"\f10b";
}


.icon-add-alarm:before {
  content:"\f10c";
}


.icon-add-box:before {
  content:"\f10d";
}


.icon-add-circle:before {
  content:"\f10e";
}


.icon-add-circle-outline:before {
  content:"\f10f";
}


.icon-add-shopping-cart:before {
  content:"\f110";
}


.icon-add-to-photos:before {
  content:"\f111";
}


.icon-adjust:before {
  content:"\f112";
}


.icon-airplanemode-off:before {
  content:"\f113";
}


.icon-airplanemode-on:before {
  content:"\f114";
}


.icon-alarm:before {
  content:"\f115";
}


.icon-alarm-add:before {
  content:"\f116";
}


.icon-alarm-off:before {
  content:"\f117";
}


.icon-alarm-on:before {
  content:"\f118";
}


.icon-album:before {
  content:"\f119";
}


.icon-android:before {
  content:"\f11a";
}


.icon-announcement:before {
  content:"\f11b";
}


.icon-apps:before {
  content:"\f11c";
}


.icon-archive:before {
  content:"\f11d";
}


.icon-arrow-back:before {
  content:"\f11e";
}


.icon-arrow-drop-down:before {
  content:"\f11f";
}


.icon-arrow-drop-down-circle:before {
  content:"\f120";
}


.icon-arrow-drop-up:before {
  content:"\f121";
}


.icon-arrow-forward:before {
  content:"\f122";
}


.icon-aspect-ratio:before {
  content:"\f123";
}


.icon-assessment:before {
  content:"\f124";
}


.icon-assignment:before {
  content:"\f125";
}


.icon-assignment-ind:before {
  content:"\f126";
}


.icon-assignment-late:before {
  content:"\f127";
}


.icon-assignment-return:before {
  content:"\f128";
}


.icon-assignment-returned:before {
  content:"\f129";
}


.icon-assignment-turned-in:before {
  content:"\f12a";
}


.icon-assistant-photo:before {
  content:"\f12b";
}


.icon-attach-file:before {
  content:"\f12c";
}


.icon-attach-money:before {
  content:"\f12d";
}


.icon-attachment:before {
  content:"\f12e";
}


.icon-audiotrack:before {
  content:"\f12f";
}


.icon-autorenew:before {
  content:"\f130";
}


.icon-av-timer:before {
  content:"\f131";
}


.icon-backspace:before {
  content:"\f132";
}


.icon-backup:before {
  content:"\f133";
}


.icon-battery-20:before {
  content:"\f134";
}


.icon-battery-30:before {
  content:"\f135";
}


.icon-battery-50:before {
  content:"\f136";
}


.icon-battery-60:before {
  content:"\f137";
}


.icon-battery-80:before {
  content:"\f138";
}


.icon-battery-90:before {
  content:"\f139";
}


.icon-battery-alert:before {
  content:"\f13a";
}


.icon-battery-charging-20:before {
  content:"\f13b";
}


.icon-battery-charging-30:before {
  content:"\f13c";
}


.icon-battery-charging-50:before {
  content:"\f13d";
}


.icon-battery-charging-60:before {
  content:"\f13e";
}


.icon-battery-charging-80:before {
  content:"\f13f";
}


.icon-battery-charging-90:before {
  content:"\f140";
}


.icon-battery-charging-full:before {
  content:"\f141";
}


.icon-battery-full:before {
  content:"\f142";
}


.icon-battery-std:before {
  content:"\f143";
}


.icon-battery-unknown:before {
  content:"\f144";
}


.icon-beenhere:before {
  content:"\f145";
}


.icon-block:before {
  content:"\f146";
}


.icon-bluetooth:before {
  content:"\f147";
}


.icon-bluetooth-audio:before {
  content:"\f148";
}


.icon-bluetooth-connected:before {
  content:"\f149";
}


.icon-bluetooth-disabled:before {
  content:"\f14a";
}


.icon-bluetooth-searching:before {
  content:"\f14b";
}


.icon-blur-circular:before {
  content:"\f14c";
}


.icon-blur-linear:before {
  content:"\f14d";
}


.icon-blur-off:before {
  content:"\f14e";
}


.icon-blur-on:before {
  content:"\f14f";
}


.icon-book:before {
  content:"\f150";
}


.icon-bookmark:before {
  content:"\f151";
}


.icon-bookmark-outline:before {
  content:"\f152";
}


.icon-border-all:before {
  content:"\f153";
}


.icon-border-bottom:before {
  content:"\f154";
}


.icon-border-clear:before {
  content:"\f155";
}


.icon-border-color:before {
  content:"\f156";
}


.icon-border-horizontal:before {
  content:"\f157";
}


.icon-border-inner:before {
  content:"\f158";
}


.icon-border-left:before {
  content:"\f159";
}


.icon-border-outer:before {
  content:"\f15a";
}


.icon-border-right:before {
  content:"\f15b";
}


.icon-border-style:before {
  content:"\f15c";
}


.icon-border-top:before {
  content:"\f15d";
}


.icon-border-vertical:before {
  content:"\f15e";
}


.icon-brightness-1:before {
  content:"\f15f";
}


.icon-brightness-2:before {
  content:"\f160";
}


.icon-brightness-3:before {
  content:"\f161";
}


.icon-brightness-4:before {
  content:"\f162";
}


.icon-brightness-5:before {
  content:"\f163";
}


.icon-brightness-6:before {
  content:"\f164";
}


.icon-brightness-7:before {
  content:"\f165";
}


.icon-brightness-auto:before {
  content:"\f166";
}


.icon-brightness-high:before {
  content:"\f167";
}


.icon-brightness-low:before {
  content:"\f168";
}


.icon-brightness-medium:before {
  content:"\f169";
}


.icon-brush:before {
  content:"\f16a";
}


.icon-bug-report:before {
  content:"\f16b";
}


.icon-business:before {
  content:"\f16c";
}


.icon-cached:before {
  content:"\f16d";
}


.icon-cake:before {
  content:"\f16e";
}


.icon-call:before {
  content:"\f16f";
}


.icon-call-end:before {
  content:"\f170";
}


.icon-call-made:before {
  content:"\f171";
}


.icon-call-merge:before {
  content:"\f172";
}


.icon-call-missed:before {
  content:"\f173";
}


.icon-call-received:before {
  content:"\f174";
}


.icon-call-split:before {
  content:"\f175";
}


.icon-camera:before {
  content:"\f176";
}


.icon-camera-alt:before {
  content:"\f177";
}


.icon-camera-front:before {
  content:"\f178";
}


.icon-camera-rear:before {
  content:"\f179";
}


.icon-camera-roll:before {
  content:"\f17a";
}


.icon-cancel:before {
  content:"\f17b";
}


.icon-cast:before {
  content:"\f17c";
}


.icon-cast-connected:before {
  content:"\f17d";
}


.icon-center-focus-strong:before {
  content:"\f17e";
}


.icon-center-focus-weak:before {
  content:"\f17f";
}


.icon-chat:before {
  content:"\f180";
}


.icon-check:before {
  content:"\f181";
}


.icon-check-box:before {
  content:"\f182";
}


.icon-check-box-outline-blank:before {
  content:"\f183";
}


.icon-check-circle:before {
  content:"\f184";
}


.icon-chevron-left:before {
  content:"\f185";
}


.icon-chevron-right:before {
  content:"\f186";
}


.icon-class:before {
  content:"\f187";
}


.icon-clear:before {
  content:"\f188";
}


.icon-clear-all:before {
  content:"\f189";
}


.icon-close:before {
  content:"\f18a";
}


.icon-closed-caption:before {
  content:"\f18b";
}


.icon-cloud:before {
  content:"\f18c";
}


.icon-cloud-circle:before {
  content:"\f18d";
}


.icon-cloud-done:before {
  content:"\f18e";
}


.icon-cloud-download:before {
  content:"\f18f";
}


.icon-cloud-off:before {
  content:"\f190";
}


.icon-cloud-queue:before {
  content:"\f191";
}


.icon-cloud-upload:before {
  content:"\f192";
}


.icon-collections:before {
  content:"\f193";
}


.icon-color-lens:before {
  content:"\f194";
}


.icon-colorize:before {
  content:"\f195";
}


.icon-comment:before {
  content:"\f196";
}


.icon-compare:before {
  content:"\f197";
}


.icon-computer:before {
  content:"\f198";
}


.icon-contacts:before {
  content:"\f199";
}


.icon-content-copy:before {
  content:"\f19a";
}


.icon-content-cut:before {
  content:"\f19b";
}


.icon-content-paste:before {
  content:"\f19c";
}


.icon-control-point:before {
  content:"\f19d";
}


.icon-control-point-duplicate:before {
  content:"\f19e";
}


.icon-create:before {
  content:"\f19f";
}


.icon-credit-card:before {
  content:"\f1a0";
}


.icon-crop:before {
  content:"\f1a1";
}


.icon-crop-16-9:before {
  content:"\f1a2";
}


.icon-crop-3-2:before {
  content:"\f1a3";
}


.icon-crop-5-4:before {
  content:"\f1a4";
}


.icon-crop-7-5:before {
  content:"\f1a5";
}


.icon-crop-din:before {
  content:"\f1a6";
}


.icon-crop-free:before {
  content:"\f1a7";
}


.icon-crop-landscape:before {
  content:"\f1a8";
}


.icon-crop-original:before {
  content:"\f1a9";
}


.icon-crop-portrait:before {
  content:"\f1aa";
}


.icon-crop-square:before {
  content:"\f1ab";
}


.icon-dashboard:before {
  content:"\f1ac";
}


.icon-data-usage:before {
  content:"\f1ad";
}


.icon-dehaze:before {
  content:"\f1ae";
}


.icon-delete:before {
  content:"\f1af";
}


.icon-description:before {
  content:"\f1b0";
}


.icon-desktop-mac:before {
  content:"\f1b1";
}


.icon-desktop-windows:before {
  content:"\f1b2";
}


.icon-details:before {
  content:"\f1b3";
}


.icon-developer-mode:before {
  content:"\f1b4";
}


.icon-devices:before {
  content:"\f1b5";
}


.icon-dialer-sip:before {
  content:"\f1b6";
}


.icon-dialpad:before {
  content:"\f1b7";
}


.icon-directions:before {
  content:"\f1b8";
}


.icon-directions-bike:before {
  content:"\f1b9";
}


.icon-directions-bus:before {
  content:"\f1ba";
}


.icon-directions-car:before {
  content:"\f1bb";
}


.icon-directions-ferry:before {
  content:"\f1bc";
}


.icon-directions-subway:before {
  content:"\f1bd";
}


.icon-directions-train:before {
  content:"\f1be";
}


.icon-directions-transit:before {
  content:"\f1bf";
}


.icon-directions-walk:before {
  content:"\f1c0";
}


.icon-disc-full:before {
  content:"\f1c1";
}


.icon-dnd-forwardslash:before {
  content:"\f1c2";
}


.icon-dnd-on:before {
  content:"\f1c3";
}


.icon-dns:before {
  content:"\f1c4";
}


.icon-do-not-disturb:before {
  content:"\f1c5";
}


.icon-dock:before {
  content:"\f1c6";
}


.icon-domain:before {
  content:"\f1c7";
}


.icon-done:before {
  content:"\f1c8";
}


.icon-done-all:before {
  content:"\f1c9";
}


.icon-drafts:before {
  content:"\f1ca";
}


.icon-drive-eta:before {
  content:"\f1cb";
}


.icon-dvr:before {
  content:"\f1cc";
}


.icon-edit:before {
  content:"\f1cd";
}


.icon-email:before {
  content:"\f1ce";
}


.icon-equalizer:before {
  content:"\f1cf";
}


.icon-error:before {
  content:"\f1d0";
}


.icon-event:before {
  content:"\f1d1";
}


.icon-event-available:before {
  content:"\f1d2";
}


.icon-event-busy:before {
  content:"\f1d3";
}


.icon-event-note:before {
  content:"\f1d4";
}


.icon-exit-to-app:before {
  content:"\f1d5";
}


.icon-expand-less:before {
  content:"\f1d6";
}


.icon-expand-more:before {
  content:"\f1d7";
}


.icon-explicit:before {
  content:"\f1d8";
}


.icon-explore:before {
  content:"\f1d9";
}


.icon-exposure:before {
  content:"\f1da";
}


.icon-exposure-minus-1:before {
  content:"\f1db";
}


.icon-exposure-minus-2:before {
  content:"\f1dc";
}


.icon-exposure-plus-1:before {
  content:"\f1dd";
}


.icon-exposure-plus-2:before {
  content:"\f1de";
}


.icon-exposure-zero:before {
  content:"\f1df";
}


.icon-extension:before {
  content:"\f1e0";
}


.icon-face:before {
  content:"\f1e1";
}


.icon-fast-forward:before {
  content:"\f1e2";
}


.icon-fast-rewind:before {
  content:"\f1e3";
}


.icon-favorite:before {
  content:"\f1e4";
}


.icon-favorite-outline:before {
  content:"\f1e5";
}


.icon-file-download:before {
  content:"\f1e6";
}


.icon-file-upload:before {
  content:"\f1e7";
}


.icon-filter:before {
  content:"\f1e8";
}


.icon-filter-1:before {
  content:"\f1e9";
}


.icon-filter-2:before {
  content:"\f1ea";
}


.icon-filter-3:before {
  content:"\f1eb";
}


.icon-filter-4:before {
  content:"\f1ec";
}


.icon-filter-5:before {
  content:"\f1ed";
}


.icon-filter-6:before {
  content:"\f1ee";
}


.icon-filter-7:before {
  content:"\f1ef";
}


.icon-filter-8:before {
  content:"\f1f0";
}


.icon-filter-9:before {
  content:"\f1f1";
}


.icon-filter-9-plus:before {
  content:"\f1f2";
}


.icon-filter-b-and-w:before {
  content:"\f1f3";
}


.icon-filter-center-focus:before {
  content:"\f1f4";
}


.icon-filter-drama:before {
  content:"\f1f5";
}


.icon-filter-frames:before {
  content:"\f1f6";
}


.icon-filter-hdr:before {
  content:"\f1f7";
}


.icon-filter-list:before {
  content:"\f1f8";
}


.icon-filter-none:before {
  content:"\f1f9";
}


.icon-filter-tilt-shift:before {
  content:"\f1fa";
}


.icon-filter-vintage:before {
  content:"\f1fb";
}


.icon-find-in-page:before {
  content:"\f1fc";
}


.icon-find-replace:before {
  content:"\f1fd";
}


.icon-flag:before {
  content:"\f1fe";
}


.icon-flare:before {
  content:"\f1ff";
}


.icon-flash-auto:before {
  content:"\f200";
}


.icon-flash-off:before {
  content:"\f201";
}


.icon-flash-on:before {
  content:"\f202";
}


.icon-flight:before {
  content:"\f203";
}


.icon-flip:before {
  content:"\f204";
}


.icon-flip-to-back:before {
  content:"\f205";
}


.icon-flip-to-front:before {
  content:"\f206";
}


.icon-folder:before {
  content:"\f207";
}


.icon-folder-open:before {
  content:"\f208";
}


.icon-folder-shared:before {
  content:"\f209";
}


.icon-folder-special:before {
  content:"\f20a";
}


.icon-format-align-center:before {
  content:"\f20b";
}


.icon-format-align-justify:before {
  content:"\f20c";
}


.icon-format-align-left:before {
  content:"\f20d";
}


.icon-format-align-right:before {
  content:"\f20e";
}


.icon-format-bold:before {
  content:"\f20f";
}


.icon-format-clear:before {
  content:"\f210";
}


.icon-format-color-fill:before {
  content:"\f211";
}


.icon-format-color-reset:before {
  content:"\f212";
}


.icon-format-color-text:before {
  content:"\f213";
}


.icon-format-indent-decrease:before {
  content:"\f214";
}


.icon-format-indent-increase:before {
  content:"\f215";
}


.icon-format-italic:before {
  content:"\f216";
}


.icon-format-line-spacing:before {
  content:"\f217";
}


.icon-format-list-bulleted:before {
  content:"\f218";
}


.icon-format-list-numbered:before {
  content:"\f219";
}


.icon-format-paint:before {
  content:"\f21a";
}


.icon-format-quote:before {
  content:"\f21b";
}


.icon-format-size:before {
  content:"\f21c";
}


.icon-format-strikethrough:before {
  content:"\f21d";
}


.icon-format-textdirection-l-to-r:before {
  content:"\f21e";
}


.icon-format-textdirection-r-to-l:before {
  content:"\f21f";
}


.icon-format-underline:before {
  content:"\f220";
}


.icon-forum:before {
  content:"\f221";
}


.icon-forward:before {
  content:"\f222";
}


.icon-fullscreen:before {
  content:"\f223";
}


.icon-fullscreen-exit:before {
  content:"\f224";
}


.icon-functions:before {
  content:"\f225";
}


.icon-gamepad:before {
  content:"\f226";
}


.icon-games:before {
  content:"\f227";
}


.icon-gesture:before {
  content:"\f228";
}


.icon-get-app:before {
  content:"\f229";
}


.icon-gps-fixed:before {
  content:"\f22a";
}


.icon-gps-not-fixed:before {
  content:"\f22b";
}


.icon-gps-off:before {
  content:"\f22c";
}


.icon-grade:before {
  content:"\f22d";
}


.icon-gradient:before {
  content:"\f22e";
}


.icon-grain:before {
  content:"\f22f";
}


.icon-grid-off:before {
  content:"\f230";
}


.icon-grid-on:before {
  content:"\f231";
}


.icon-group:before {
  content:"\f232";
}


.icon-group-add:before {
  content:"\f233";
}


.icon-group-work:before {
  content:"\f234";
}


.icon-hdr-off:before {
  content:"\f235";
}


.icon-hdr-on:before {
  content:"\f236";
}


.icon-hdr-strong:before {
  content:"\f237";
}


.icon-hdr-weak:before {
  content:"\f238";
}


.icon-headset:before {
  content:"\f239";
}


.icon-headset-mic:before {
  content:"\f23a";
}


.icon-healing:before {
  content:"\f23b";
}


.icon-hearing:before {
  content:"\f23c";
}


.icon-help:before {
  content:"\f23d";
}


.icon-high-quality:before {
  content:"\f23e";
}


.icon-highlight-remove:before {
  content:"\f23f";
}


.icon-history:before {
  content:"\f240";
}


.icon-home:before {
  content:"\f241";
}


.icon-hotel:before {
  content:"\f242";
}


.icon-https:before {
  content:"\f243";
}


.icon-image:before {
  content:"\f244";
}


.icon-image-aspect-ratio:before {
  content:"\f245";
}


.icon-import-export:before {
  content:"\f246";
}


.icon-inbox:before {
  content:"\f247";
}


.icon-info:before {
  content:"\f248";
}


.icon-info-outline:before {
  content:"\f249";
}


.icon-input:before {
  content:"\f24a";
}


.icon-insert-chart:before {
  content:"\f24b";
}


.icon-insert-comment:before {
  content:"\f24c";
}


.icon-insert-drive-file:before {
  content:"\f24d";
}


.icon-insert-emoticon:before {
  content:"\f24e";
}


.icon-insert-invitation:before {
  content:"\f24f";
}


.icon-insert-link:before {
  content:"\f250";
}


.icon-insert-photo:before {
  content:"\f251";
}


.icon-invert-colors:before {
  content:"\f252";
}


.icon-invert-colors-off:before {
  content:"\f253";
}


.icon-invert-colors-on:before {
  content:"\f254";
}


.icon-iso:before {
  content:"\f255";
}


.icon-keyboard:before {
  content:"\f256";
}


.icon-keyboard-alt:before {
  content:"\f257";
}


.icon-keyboard-arrow-down:before {
  content:"\f258";
}


.icon-keyboard-arrow-left:before {
  content:"\f259";
}


.icon-keyboard-arrow-right:before {
  content:"\f25a";
}


.icon-keyboard-arrow-up:before {
  content:"\f25b";
}


.icon-keyboard-backspace:before {
  content:"\f25c";
}


.icon-keyboard-capslock:before {
  content:"\f25d";
}


.icon-keyboard-control:before {
  content:"\f25e";
}


.icon-keyboard-hide:before {
  content:"\f25f";
}


.icon-keyboard-return:before {
  content:"\f260";
}


.icon-keyboard-tab:before {
  content:"\f261";
}


.icon-keyboard-voice:before {
  content:"\f262";
}


.icon-label:before {
  content:"\f263";
}


.icon-label-outline:before {
  content:"\f264";
}


.icon-landscape:before {
  content:"\f265";
}


.icon-language:before {
  content:"\f266";
}


.icon-laptop:before {
  content:"\f267";
}


.icon-laptop-chromebook:before {
  content:"\f268";
}


.icon-laptop-mac:before {
  content:"\f269";
}


.icon-laptop-windows:before {
  content:"\f26a";
}


.icon-launch:before {
  content:"\f26b";
}


.icon-layers:before {
  content:"\f26c";
}


.icon-layers-clear:before {
  content:"\f26d";
}


.icon-leak-add:before {
  content:"\f26e";
}


.icon-leak-remove:before {
  content:"\f26f";
}


.icon-lens:before {
  content:"\f270";
}


.icon-link:before {
  content:"\f271";
}


.icon-list:before {
  content:"\f272";
}


.icon-live-help:before {
  content:"\f273";
}


.icon-local-airport:before {
  content:"\f274";
}


.icon-local-atm:before {
  content:"\f275";
}


.icon-local-attraction:before {
  content:"\f276";
}


.icon-local-bar:before {
  content:"\f277";
}


.icon-local-cafe:before {
  content:"\f278";
}


.icon-local-car-wash:before {
  content:"\f279";
}


.icon-local-convenience-store:before {
  content:"\f27a";
}


.icon-local-drink:before {
  content:"\f27b";
}


.icon-local-florist:before {
  content:"\f27c";
}


.icon-local-gas-station:before {
  content:"\f27d";
}


.icon-local-grocery-store:before {
  content:"\f27e";
}


.icon-local-hospital:before {
  content:"\f27f";
}


.icon-local-hotel:before {
  content:"\f280";
}


.icon-local-laundry-service:before {
  content:"\f281";
}


.icon-local-library:before {
  content:"\f282";
}


.icon-local-mall:before {
  content:"\f283";
}


.icon-local-movies:before {
  content:"\f284";
}


.icon-local-offer:before {
  content:"\f285";
}


.icon-local-parking:before {
  content:"\f286";
}


.icon-local-pharmacy:before {
  content:"\f287";
}


.icon-local-phone:before {
  content:"\f288";
}


.icon-local-pizza:before {
  content:"\f289";
}


.icon-local-play:before {
  content:"\f28a";
}


.icon-local-post-office:before {
  content:"\f28b";
}


.icon-local-print-shop:before {
  content:"\f28c";
}


.icon-local-restaurant:before {
  content:"\f28d";
}


.icon-local-see:before {
  content:"\f28e";
}


.icon-local-shipping:before {
  content:"\f28f";
}


.icon-local-taxi:before {
  content:"\f290";
}


.icon-location-city:before {
  content:"\f291";
}


.icon-location-disabled:before {
  content:"\f292";
}


.icon-location-history:before {
  content:"\f293";
}


.icon-location-off:before {
  content:"\f294";
}


.icon-location-on:before {
  content:"\f295";
}


.icon-location-searching:before {
  content:"\f296";
}


.icon-lock:before {
  content:"\f297";
}


.icon-lock-open:before {
  content:"\f298";
}


.icon-lock-outline:before {
  content:"\f299";
}


.icon-looks:before {
  content:"\f29a";
}


.icon-looks-3:before {
  content:"\f29b";
}


.icon-looks-4:before {
  content:"\f29c";
}


.icon-looks-5:before {
  content:"\f29d";
}


.icon-looks-6:before {
  content:"\f29e";
}


.icon-looks-one:before {
  content:"\f29f";
}


.icon-looks-two:before {
  content:"\f2a0";
}


.icon-loop:before {
  content:"\f2a1";
}


.icon-loupe:before {
  content:"\f2a2";
}


.icon-loyalty:before {
  content:"\f2a3";
}


.icon-mail:before {
  content:"\f2a4";
}


.icon-map:before {
  content:"\f2a5";
}


.icon-markunread:before {
  content:"\f2a6";
}


.icon-markunread-mailbox:before {
  content:"\f2a7";
}


.icon-memory:before {
  content:"\f2a8";
}


.icon-menu:before {
  content:"\f2a9";
}


.icon-merge-type:before {
  content:"\f2aa";
}


.icon-message:before {
  content:"\f2ab";
}


.icon-messenger:before {
  content:"\f2ac";
}


.icon-mic:before {
  content:"\f2ad";
}


.icon-mic-none:before {
  content:"\f2ae";
}


.icon-mic-off:before {
  content:"\f2af";
}


.icon-mms:before {
  content:"\f2b0";
}


.icon-mode-comment:before {
  content:"\f2b1";
}


.icon-mode-edit:before {
  content:"\f2b2";
}


.icon-mood:before {
  content:"\f2b3";
}


.icon-more:before {
  content:"\f2b4";
}


.icon-more-horiz:before {
  content:"\f2b5";
}


.icon-more-vert:before {
  content:"\f2b6";
}


.icon-mouse:before {
  content:"\f2b7";
}


.icon-movie:before {
  content:"\f2b8";
}


.icon-movie-creation:before {
  content:"\f2b9";
}


.icon-multitrack-audio:before {
  content:"\f2ba";
}


.icon-my-library-add:before {
  content:"\f2bb";
}


.icon-my-library-books:before {
  content:"\f2bc";
}


.icon-my-library-music:before {
  content:"\f2bd";
}


.icon-my-location:before {
  content:"\f2be";
}


.icon-nature:before {
  content:"\f2bf";
}


.icon-nature-people:before {
  content:"\f2c0";
}


.icon-navigate-before:before {
  content:"\f2c1";
}


.icon-navigate-next:before {
  content:"\f2c2";
}


.icon-navigation:before {
  content:"\f2c3";
}


.icon-network-cell:before {
  content:"\f2c4";
}


.icon-network-locked:before {
  content:"\f2c5";
}


.icon-network-wifi:before {
  content:"\f2c6";
}


.icon-new-releases:before {
  content:"\f2c7";
}


.icon-nfc:before {
  content:"\f2c8";
}


.icon-no-sim:before {
  content:"\f2c9";
}


.icon-not-interested:before {
  content:"\f2ca";
}


.icon-note-add:before {
  content:"\f2cb";
}


.icon-notifications:before {
  content:"\f2cc";
}


.icon-notifications-none:before {
  content:"\f2cd";
}


.icon-notifications-off:before {
  content:"\f2ce";
}


.icon-notifications-on:before {
  content:"\f2cf";
}


.icon-notifications-paused:before {
  content:"\f2d0";
}


.icon-now-wallpaper:before {
  content:"\f2d1";
}


.icon-now-widgets:before {
  content:"\f2d2";
}


.icon-open-in-browser:before {
  content:"\f2d3";
}


.icon-open-in-new:before {
  content:"\f2d4";
}


.icon-open-with:before {
  content:"\f2d5";
}


.icon-pages:before {
  content:"\f2d6";
}


.icon-pageview:before {
  content:"\f2d7";
}


.icon-palette:before {
  content:"\f2d8";
}


.icon-panorama:before {
  content:"\f2d9";
}


.icon-panorama-fisheye:before {
  content:"\f2da";
}


.icon-panorama-horizontal:before {
  content:"\f2db";
}


.icon-panorama-vertical:before {
  content:"\f2dc";
}


.icon-panorama-wide-angle:before {
  content:"\f2dd";
}


.icon-party-mode:before {
  content:"\f2de";
}


.icon-pause:before {
  content:"\f2df";
}


.icon-pause-circle-fill:before {
  content:"\f2e0";
}


.icon-pause-circle-outline:before {
  content:"\f2e1";
}


.icon-payment:before {
  content:"\f2e2";
}


.icon-people:before {
  content:"\f2e3";
}


.icon-people-outline:before {
  content:"\f2e4";
}


.icon-perm-camera-mic:before {
  content:"\f2e5";
}


.icon-perm-contact-cal:before {
  content:"\f2e6";
}


.icon-perm-data-setting:before {
  content:"\f2e7";
}


.icon-perm-device-info:before {
  content:"\f2e8";
}


.icon-perm-identity:before {
  content:"\f2e9";
}


.icon-perm-media:before {
  content:"\f2ea";
}


.icon-perm-phone-msg:before {
  content:"\f2eb";
}


.icon-perm-scan-wifi:before {
  content:"\f2ec";
}


.icon-person:before {
  content:"\f2ed";
}


.icon-person-add:before {
  content:"\f2ee";
}


.icon-person-outline:before {
  content:"\f2ef";
}


.icon-phone:before {
  content:"\f2f0";
}


.icon-phone-android:before {
  content:"\f2f1";
}


.icon-phone-bluetooth-speaker:before {
  content:"\f2f2";
}


.icon-phone-forwarded:before {
  content:"\f2f3";
}


.icon-phone-in-talk:before {
  content:"\f2f4";
}


.icon-phone-iphone:before {
  content:"\f2f5";
}


.icon-phone-locked:before {
  content:"\f2f6";
}


.icon-phone-missed:before {
  content:"\f2f7";
}


.icon-phone-paused:before {
  content:"\f2f8";
}


.icon-phonelink:before {
  content:"\f2f9";
}


.icon-phonelink-off:before {
  content:"\f2fa";
}


.icon-photo:before {
  content:"\f2fb";
}


.icon-photo-album:before {
  content:"\f2fc";
}


.icon-photo-camera:before {
  content:"\f2fd";
}


.icon-photo-library:before {
  content:"\f2fe";
}


.icon-picture-in-picture:before {
  content:"\f2ff";
}


.icon-pin-drop:before {
  content:"\f300";
}


.icon-place:before {
  content:"\f301";
}


.icon-play-arrow:before {
  content:"\f302";
}


.icon-play-circle-fill:before {
  content:"\f303";
}


.icon-play-circle-outline:before {
  content:"\f304";
}


.icon-play-download:before {
  content:"\f305";
}


.icon-play-install:before {
  content:"\f306";
}


.icon-play-shopping-bag:before {
  content:"\f307";
}


.icon-playlist-add:before {
  content:"\f308";
}


.icon-plus-one:before {
  content:"\f309";
}


.icon-poll:before {
  content:"\f30a";
}


.icon-polymer:before {
  content:"\f30b";
}


.icon-portable-wifi-off:before {
  content:"\f30c";
}


.icon-portrait:before {
  content:"\f30d";
}


.icon-print:before {
  content:"\f30e";
}


.icon-public:before {
  content:"\f30f";
}


.icon-publish:before {
  content:"\f310";
}


.icon-query-builder:before {
  content:"\f311";
}


.icon-question-answer:before {
  content:"\f312";
}


.icon-queue:before {
  content:"\f313";
}


.icon-queue-music:before {
  content:"\f314";
}


.icon-quick-contacts-dialer:before {
  content:"\f315";
}


.icon-quick-contacts-mail:before {
  content:"\f316";
}


.icon-radio:before {
  content:"\f317";
}


.icon-radio-button-off:before {
  content:"\f318";
}


.icon-radio-button-on:before {
  content:"\f319";
}


.icon-rate-review:before {
  content:"\f31a";
}


.icon-receipt:before {
  content:"\f31b";
}


.icon-recent-actors:before {
  content:"\f31c";
}


.icon-redeem:before {
  content:"\f31d";
}


.icon-redo:before {
  content:"\f31e";
}


.icon-refresh:before {
  content:"\f31f";
}


.icon-remove:before {
  content:"\f320";
}


.icon-remove-circle:before {
  content:"\f321";
}


.icon-remove-circle-outline:before {
  content:"\f322";
}


.icon-remove-red-eye:before {
  content:"\f323";
}


.icon-reorder:before {
  content:"\f324";
}


.icon-repeat:before {
  content:"\f325";
}


.icon-repeat-one:before {
  content:"\f326";
}


.icon-replay:before {
  content:"\f327";
}


.icon-reply:before {
  content:"\f328";
}


.icon-reply-all:before {
  content:"\f329";
}


.icon-report:before {
  content:"\f32a";
}


.icon-report-problem:before {
  content:"\f32b";
}


.icon-restaurant-menu:before {
  content:"\f32c";
}


.icon-restore:before {
  content:"\f32d";
}


.icon-ring-volume:before {
  content:"\f32e";
}


.icon-room:before {
  content:"\f32f";
}


.icon-rotate-left:before {
  content:"\f330";
}


.icon-rotate-right:before {
  content:"\f331";
}


.icon-satellite:before {
  content:"\f332";
}


.icon-save:before {
  content:"\f333";
}


.icon-schedule:before {
  content:"\f334";
}


.icon-school:before {
  content:"\f335";
}


.icon-screen-lock-landscape:before {
  content:"\f336";
}


.icon-screen-lock-portrait:before {
  content:"\f337";
}


.icon-screen-lock-rotation:before {
  content:"\f338";
}


.icon-screen-rotation:before {
  content:"\f339";
}


.icon-sd-card:before {
  content:"\f33a";
}


.icon-sd-storage:before {
  content:"\f33b";
}


.icon-search:before {
  content:"\f33c";
}


.icon-security:before {
  content:"\f33d";
}


.icon-select-all:before {
  content:"\f33e";
}


.icon-send:before {
  content:"\f33f";
}


.icon-settings:before {
  content:"\f340";
}


.icon-settings-applications:before {
  content:"\f341";
}


.icon-settings-backup-restore:before {
  content:"\f342";
}


.icon-settings-bluetooth:before {
  content:"\f343";
}


.icon-settings-cell:before {
  content:"\f344";
}


.icon-settings-display:before {
  content:"\f345";
}


.icon-settings-ethernet:before {
  content:"\f346";
}


.icon-settings-input-antenna:before {
  content:"\f347";
}


.icon-settings-input-component:before {
  content:"\f348";
}


.icon-settings-input-composite:before {
  content:"\f349";
}


.icon-settings-input-hdmi:before {
  content:"\f34a";
}


.icon-settings-input-svideo:before {
  content:"\f34b";
}


.icon-settings-overscan:before {
  content:"\f34c";
}


.icon-settings-phone:before {
  content:"\f34d";
}


.icon-settings-power:before {
  content:"\f34e";
}


.icon-settings-remote:before {
  content:"\f34f";
}


.icon-settings-system-daydream:before {
  content:"\f350";
}


.icon-settings-voice:before {
  content:"\f351";
}


.icon-share:before {
  content:"\f352";
}


.icon-shop:before {
  content:"\f353";
}


.icon-shop-two:before {
  content:"\f354";
}


.icon-shopping-basket:before {
  content:"\f355";
}


.icon-shopping-cart:before {
  content:"\f356";
}


.icon-shuffle:before {
  content:"\f357";
}


.icon-signal-cellular-0-bar:before {
  content:"\f358";
}


.icon-signal-cellular-1-bar:before {
  content:"\f359";
}


.icon-signal-cellular-2-bar:before {
  content:"\f35a";
}


.icon-signal-cellular-3-bar:before {
  content:"\f35b";
}


.icon-signal-cellular-4-bar:before {
  content:"\f35c";
}


.icon-signal-cellular-connected-no-internet-0-bar:before {
  content:"\f35d";
}


.icon-signal-cellular-connected-no-internet-1-bar:before {
  content:"\f35e";
}


.icon-signal-cellular-connected-no-internet-2-bar:before {
  content:"\f35f";
}


.icon-signal-cellular-connected-no-internet-3-bar:before {
  content:"\f360";
}


.icon-signal-cellular-connected-no-internet-4-bar:before {
  content:"\f361";
}


.icon-signal-cellular-no-sim:before {
  content:"\f362";
}


.icon-signal-cellular-null:before {
  content:"\f363";
}


.icon-signal-cellular-off:before {
  content:"\f364";
}


.icon-signal-wifi-0-bar:before {
  content:"\f365";
}


.icon-signal-wifi-1-bar:before {
  content:"\f366";
}


.icon-signal-wifi-2-bar:before {
  content:"\f367";
}


.icon-signal-wifi-3-bar:before {
  content:"\f368";
}


.icon-signal-wifi-4-bar:before {
  content:"\f369";
}


.icon-signal-wifi-off:before {
  content:"\f36a";
}


.icon-sim-card:before {
  content:"\f36b";
}


.icon-sim-card-alert:before {
  content:"\f36c";
}


.icon-skip-next:before {
  content:"\f36d";
}


.icon-skip-previous:before {
  content:"\f36e";
}


.icon-slideshow:before {
  content:"\f36f";
}


.icon-smartphone:before {
  content:"\f370";
}


.icon-sms:before {
  content:"\f371";
}


.icon-sms-failed:before {
  content:"\f372";
}


.icon-snooze:before {
  content:"\f373";
}


.icon-sort:before {
  content:"\f374";
}


.icon-speaker:before {
  content:"\f375";
}


.icon-speaker-notes:before {
  content:"\f376";
}


.icon-spellcheck:before {
  content:"\f377";
}


.icon-star:before {
  content:"\f378";
}


.icon-star-half:before {
  content:"\f379";
}


.icon-star-outline:before {
  content:"\f37a";
}


.icon-star-rate:before {
  content:"\f37b";
}


.icon-stars:before {
  content:"\f37c";
}


.icon-stay-current-landscape:before {
  content:"\f37d";
}


.icon-stay-current-portrait:before {
  content:"\f37e";
}


.icon-stay-primary-landscape:before {
  content:"\f37f";
}


.icon-stay-primary-portrait:before {
  content:"\f380";
}


.icon-stop:before {
  content:"\f381";
}


.icon-storage:before {
  content:"\f382";
}


.icon-store:before {
  content:"\f383";
}


.icon-store-mall-directory:before {
  content:"\f384";
}


.icon-straighten:before {
  content:"\f385";
}


.icon-style:before {
  content:"\f386";
}


.icon-subject:before {
  content:"\f387";
}


.icon-subtitles:before {
  content:"\f388";
}


.icon-supervisor-account:before {
  content:"\f389";
}


.icon-surround-sound:before {
  content:"\f38a";
}


.icon-swap-calls:before {
  content:"\f38b";
}


.icon-swap-horiz:before {
  content:"\f38c";
}


.icon-swap-vert:before {
  content:"\f38d";
}


.icon-swap-vert-circle:before {
  content:"\f38e";
}


.icon-switch-camera:before {
  content:"\f38f";
}


.icon-switch-video:before {
  content:"\f390";
}


.icon-sync:before {
  content:"\f391";
}


.icon-sync-disabled:before {
  content:"\f392";
}


.icon-sync-problem:before {
  content:"\f393";
}


.icon-system-update:before {
  content:"\f394";
}


.icon-system-update-tv:before {
  content:"\f395";
}


.icon-tab:before {
  content:"\f396";
}


.icon-tab-unselected:before {
  content:"\f397";
}


.icon-tablet:before {
  content:"\f398";
}


.icon-tablet-android:before {
  content:"\f399";
}


.icon-tablet-mac:before {
  content:"\f39a";
}


.icon-tag-faces:before {
  content:"\f39b";
}


.icon-tap-and-play:before {
  content:"\f39c";
}


.icon-terrain:before {
  content:"\f39d";
}


.icon-text-format:before {
  content:"\f39e";
}


.icon-textsms:before {
  content:"\f39f";
}


.icon-texture:before {
  content:"\f3a0";
}


.icon-theaters:before {
  content:"\f3a1";
}


.icon-thumb-down:before {
  content:"\f3a2";
}


.icon-thumb-up:before {
  content:"\f3a3";
}


.icon-thumbs-up-down:before {
  content:"\f3a4";
}


.icon-time-to-leave:before {
  content:"\f3a5";
}


.icon-timelapse:before {
  content:"\f3a6";
}


.icon-timer:before {
  content:"\f3a7";
}


.icon-timer-10:before {
  content:"\f3a8";
}


.icon-timer-3:before {
  content:"\f3a9";
}


.icon-timer-auto:before {
  content:"\f3aa";
}


.icon-timer-off:before {
  content:"\f3ab";
}


.icon-toc:before {
  content:"\f3ac";
}


.icon-today:before {
  content:"\f3ad";
}


.icon-tonality:before {
  content:"\f3ae";
}


.icon-track-changes:before {
  content:"\f3af";
}


.icon-traffic:before {
  content:"\f3b0";
}


.icon-transform:before {
  content:"\f3b1";
}


.icon-translate:before {
  content:"\f3b2";
}


.icon-trending-down:before {
  content:"\f3b3";
}


.icon-trending-neutral:before {
  content:"\f3b4";
}


.icon-trending-up:before {
  content:"\f3b5";
}


.icon-tune:before {
  content:"\f3b6";
}


.icon-turned-in:before {
  content:"\f3b7";
}


.icon-turned-in-not:before {
  content:"\f3b8";
}


.icon-tv:before {
  content:"\f3b9";
}


.icon-undo:before {
  content:"\f3ba";
}


.icon-unfold-less:before {
  content:"\f3bb";
}


.icon-unfold-more:before {
  content:"\f3bc";
}


.icon-usb:before {
  content:"\f3bd";
}


.icon-verified-user:before {
  content:"\f3be";
}


.icon-vertical-align-bottom:before {
  content:"\f3bf";
}


.icon-vertical-align-center:before {
  content:"\f3c0";
}


.icon-vertical-align-top:before {
  content:"\f3c1";
}


.icon-vibration:before {
  content:"\f3c2";
}


.icon-video-collection:before {
  content:"\f3c3";
}


.icon-videocam:before {
  content:"\f3c4";
}


.icon-videocam-off:before {
  content:"\f3c5";
}


.icon-view-agenda:before {
  content:"\f3c6";
}


.icon-view-array:before {
  content:"\f3c7";
}


.icon-view-carousel:before {
  content:"\f3c8";
}


.icon-view-column:before {
  content:"\f3c9";
}


.icon-view-day:before {
  content:"\f3ca";
}


.icon-view-headline:before {
  content:"\f3cb";
}


.icon-view-list:before {
  content:"\f3cc";
}


.icon-view-module:before {
  content:"\f3cd";
}


.icon-view-quilt:before {
  content:"\f3ce";
}


.icon-view-stream:before {
  content:"\f3cf";
}


.icon-view-week:before {
  content:"\f3d0";
}


.icon-visibility:before {
  content:"\f3d1";
}


.icon-visibility-off:before {
  content:"\f3d2";
}


.icon-voice-chat:before {
  content:"\f3d3";
}


.icon-voicemail:before {
  content:"\f3d4";
}


.icon-volume-down:before {
  content:"\f3d5";
}


.icon-volume-mute:before {
  content:"\f3d6";
}


.icon-volume-off:before {
  content:"\f3d7";
}


.icon-volume-up:before {
  content:"\f3d8";
}


.icon-vpn-key:before {
  content:"\f3d9";
}


.icon-vpn-lock:before {
  content:"\f3da";
}


.icon-wallet-giftcard:before {
  content:"\f3db";
}


.icon-wallet-membership:before {
  content:"\f3dc";
}


.icon-wallet-travel:before {
  content:"\f3dd";
}


.icon-warning:before {
  content:"\f3de";
}


.icon-watch:before {
  content:"\f3df";
}


.icon-wb-auto:before {
  content:"\f3e0";
}


.icon-wb-cloudy:before {
  content:"\f3e1";
}


.icon-wb-incandescent:before {
  content:"\f3e2";
}


.icon-wb-irradescent:before {
  content:"\f3e3";
}


.icon-wb-sunny:before {
  content:"\f3e4";
}


.icon-web:before {
  content:"\f3e5";
}


.icon-whatshot:before {
  content:"\f3e6";
}


.icon-wifi-lock:before {
  content:"\f3e7";
}


.icon-wifi-tethering:before {
  content:"\f3e8";
}


.icon-work:before {
  content:"\f3e9";
}


.icon-wrap-text:before {
  content:"\f3ea";
}
