md-icon.md-THEME_NAME-theme {
  color: '{{background-default-contrast-icon}}';
  fill: currentColor;
  &.md-inactive,
  &[disabled] {
    color: '{{background-default-contrast-disabled}}';
  }

  &.md-primary {
    color: '{{primary-color}}';
  }

  &.md-accent {
    color: '{{accent-color}}';
  }

  &.md-warn {
    color: '{{warn-color}}';
  }
}

