// Space between the text input and the calendar-icon button.
$md-datepicker-button-gap: 12px;


// Mixin for a "flat" input that can be used for components that contain an input
// (datepicker, autocomplete).
// TODO(jelbourn): actually use this w/ autocomplete.
@mixin md-flat-input() {
  font-size: 14px;

  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;

  &::-ms-clear {
    display: none;
  }
}

// The calendar icon button used to open the calendar pane.
// Need absurd specificty to override md-button.md-icon-button.
.md-datepicker-button {
  display: inline-block;
  box-sizing: border-box;
  background: none;
}

// The input into which the user can type the date.
.md-datepicker-input {
  @include md-flat-input();
  width: 100%;
}

// Container for the datepicker input.
.md-datepicker-input-container {
  position: relative;
  z-index: $z-index-datepicker-trigger;

  display: inline-block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 120px;
  margin-left: $md-datepicker-button-gap;
}


// Floating pane that contains the calendar at the bottom of the input.
.md-datepicker-calendar-pane {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-menu;

  border-width: 1px;
  border-style: solid;
  border-top: none;
  background: white;
}

// Shadow that wraps around both the floating calendar pane and the in-line input.
.md-datepicker-calendar-pane-shadow {
  position: absolute;
  z-index: $z-index-datepicker-shadow;
  width: $md-calendar-width;
}

// Down triangle/arrow indicating that the datepicker can be opened.
// We can do this entirely with CSS without needing to load an icon.
// See https://css-tricks.com/snippets/css/css-triangle/
$md-date-arrow-size: 6px;
.md-datepicker-expand-triangle {
  // Center the triangle inside of the button so that the
  // ink ripple origin looks correct.
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;
  border-left: $md-date-arrow-size solid transparent;
  border-right: $md-date-arrow-size solid transparent;
  border-top: $md-date-arrow-size solid rgba(black, 0.20);
}

// Button containing the down "disclosure" triangle/arrow.
.md-datepicker-triangle-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-25%) translateX(45%);
}

// Need crazy specificity to override .md-button.md-icon-button.
// Only apply this high specifiy to the property we need to override.
.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 100%;
}


// Open state for all of the elements of the picker.
.md-datepicker-open {
  .md-datepicker-input-container {
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    min-width: $md-calendar-width;
    margin-left: -$md-datepicker-button-gap;
  }

  .md-datepicker-input {
    margin-left: 24px;
    height: 40px;
  }

  .md-datepicker-triangle-button {
    display: none;
  }
}
