$md-datepicker-button-size: 48px;
$md-datepicker-button-gap: 12px;


// Mixin for a "flat" input that can be used for components that contain an input
// (datepicker, autocomplete).
@mixin md-flat-input() {
  font-size: 14px;

  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;

  &::-ms-clear {
    display: none;
  }
}

// The calendar icon button used to open the calendar pane.
// Need absurd specificty to override md-button.md-icon-button.
.md-date-picker-button {
  display: inline-block;
  box-sizing: border-box;
  background: none;

  &.md-open {
    fill: lightblue;
  }
}

// The input into which the user can type the date.
.md-datepicker-input {
  @include md-flat-input();
  width: 100%;
  line-height: 21px;
}

// Container for the datepicker input.
.md-datepicker-input-container {
  position: relative;
  z-index: $z-index-datepicker-trigger;

  display: inline-block;
  border-bottom: 1px solid #e0e0e0;
  width: 120px;
  margin-left: $md-datepicker-button-gap;

  &.md-open {
    border: 1px solid #e0e0e0;
    border-bottom: none;
    min-width: $md-calendar-width;
    margin-left: -$md-datepicker-button-gap;

    .md-datepicker-input {
      margin-left: 24px;
      //line-height: 40px;
      height: 40px;
    }

    .md-datepicker-expand-triangle {
      display: none;
    }
  }
}


// Floating pane that contains the calendar at the bottom of the input.
.md-date-calendar-pane {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-menu;

  border: 1px solid #e0e0e0;
  border-top: none;
  background: white;
}

// Shadow that wraps around both the floating calendar pane and the in-line input.
.md-date-calendar-pane-shadow {
  position: absolute;
  z-index: $z-index-datepicker-shadow;
  width: $md-calendar-width;
}


.md-datepicker-triangle-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-25%) translateX(45%);

  &:hover .md-datepicker-expand-triangle {
    border-top-color: rgba(black, 0.54);
  }
}

// Need crazy specificity to override .md-button.md-icon-button
.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 100%;
}

$md-date-arrow-size: 6px;
.md-datepicker-expand-triangle {
  // Center the triangle inside of the button so that the
  // ink ripple origin looks correct.
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;
  border-left: $md-date-arrow-size solid transparent;
  border-right: $md-date-arrow-size solid transparent;
  border-top: $md-date-arrow-size solid rgba(black, 0.20);
}
