<div layout="column" layout-fill>

  <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
    <span>.md-whiteframe-z1</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
    <span>.md-whiteframe-z2</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
    <span>.md-whiteframe-z3</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-z4" layout layout-align="center center">
    <span>.md-whiteframe-z4</span>
  </md-whiteframe>

  <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
    <span>.md-whiteframe-z5</span>
  </md-whiteframe>

</div>
