@mixin theme-bg-and-color($bg, $color) {
  background-color: $bg !important;
  color: $color !important;
}
@mixin theme-input-text-and-border($color) {
  &.material-input-has-value, &.material-input-focused {
    input {
      border-color: $color;
    }
    label {
      color: $color;
    }
  }
}

/*
@mixin material-theme($name, $t100, $t300, $t500, $t700, $t900) {
}

@include material-theme('google-red', #f3c6C2, #e57b72, #da4336, #c43828, #a42613);
@include material-theme('pink', #f7bacf, #ef6191, #e81d62, #c1175a, #870d4e);
@include material-theme('indigo', #c4c9e8, #7885ca, #3e50b4, #2f3e9e, #19227d);
@include material-theme('google-blue', #c5d9fb, #7aa9f6, #4184f3, #3266d5, #1b39ab);
@include material-theme('light-blue', #b2e4fb, #4ec2f6, #02a8f3, #0187d0, #00569A);
@include material-theme('teal', #b1deda, #4cb5ab, #009587, #00786a, #004c3f);
@include material-theme('google-green', #b6e0cc, #56ba89, #0E9C57, #0a7f42, #045423);
@include material-theme('yellow', #fff8c3, #fff075, #ffea3a, #fabf2c, #f47e16);
@include material-theme('google-yellow', #fbe7b1, #f6ca4c, #f3b300, #ef9200, #e96000);
@include material-theme('orange', #ffdfb1, #ffb64c, #ff9700, #f47b00, #e55000);
@include material-theme('deep-orange', #ffcbbb, #ff8964, #ff5621, #e54918, #be350b);
@include material-theme('grey', #f0f0f0, #e0e0e0, #a2a2a2, #636363, #252525);
*/


.material-theme-light { @include theme-bg-and-color($theme-light, $text-light); }
.material-theme-light-blue { @include theme-bg-and-color($theme-light-blue, $text-light); }
.material-theme-indigo { @include theme-bg-and-color($theme-indigo, $text-light); }
.material-theme-dark { @include theme-bg-and-color($theme-dark, $text-light); }
.material-theme-green { @include theme-bg-and-color($theme-green, $text-light); }
.material-theme-yellow { @include theme-bg-and-color($theme-yellow, $text-dark); }
.material-theme-orange { @include theme-bg-and-color($theme-orange, $text-light); }
.material-theme-purple { @include theme-bg-and-color($theme-purple, $text-light); }
.material-theme-red { @include theme-bg-and-color($theme-red, $text-light); }

.material-input-group-theme-light { @include theme-input-text-and-border($theme-light); }
.material-input-group-theme-light-blue { @include theme-input-text-and-border($theme-light-blue); }
.material-input-group-theme-dark { @include theme-input-text-and-border($theme-dark); }
.material-input-group-theme-green { @include theme-input-text-and-border($theme-green); }
.material-input-group-theme-yellow { @include theme-input-text-and-border($theme-yellow); }
.material-input-group-theme-orange { @include theme-input-text-and-border($theme-orange); }
.material-input-group-theme-purple { @include theme-input-text-and-border($theme-purple); }
.material-input-group-theme-red { @include theme-input-text-and-border($theme-red); }

.material-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

.material-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.material-shadow-animated.material-shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
