md-divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;

  &[md-inset] {
    @include rtl-prop(margin-left, margin-right, $baseline-grid * 10, auto);
  }
}

@include when-layout-row(md-divider) {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
}
