md-divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;

  &[md-inset] {
    @include rtl(margin-left, $baseline-grid * 10, null);
    @include rtl(margin-right, null, $baseline-grid * 10);
  }
}
