<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

  <md-whiteframe md-whiteframe="1" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="1"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="2" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="2"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="3" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="3"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="4" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="4"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="5" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="5"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="6" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="6"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="7" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="7"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="8" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="8"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="9" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="9"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="10" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="10"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="11" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="11"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="12" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="12"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="13" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="13"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="14" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="14"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="15" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="15"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="16" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="16"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="17" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="17"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="18" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="18"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="19" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="19"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="20" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="20"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="21" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="21"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="22" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="22"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="23" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="23"</span>
  </md-whiteframe>

  <md-whiteframe md-whiteframe="24" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="24"</span>
  </md-whiteframe>

</div>
