
<div ng-controller="AppCtrl">
  <md-content class="md-padding">
    <h4>Embed as SVG</h4>
    <section layout="row" layout-sm="column" layout-align="center center">
        <md-icon icon="/img/logo.svg" type="svg"></md-icon>
    </section>
    <h4>Embed as IMG</h4>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-icon icon="/img/logo.svg" type="image"></md-icon>
    </section>
    <h4>Use in fab Buttons</h4>
    <section layout="row" layout-sm="column" layout-align="space-around center">
      <md-button class="md-fab" aria-label="Time">
        <md-icon icon="/img/icons/ic_access_time_24px.svg"></md-icon>
      </md-button>
      <md-button class="md-fab" aria-label="New document">
        <md-icon icon="/img/icons/ic_insert_drive_file_24px.svg"></md-icon>
      </md-button>
      <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
        <md-icon icon="/img/icons/ic_people_24px.svg"></md-icon>
      </md-button>
    </section>
  </md-content>
</div>
