
/****************************************************/
/***** Customer Search > List filter animations *****/
/****************************************************/

.customers.animated {
    line-height         : 40px;
    list-style          : none;
    border-bottom       : 1px solid white;
    -webkit-transition  : .3s linear all;
    transition          : .3s linear all;
}

.customers.animated.ng-leave.ng-leave-active,
.customers.animated.ng-enter                    { opacity: 0; max-height:0px; }

.customers.animated.ng-leave,
.customers.animated.ng-enter.ng-enter-active    { opacity: 1; max-height:40px; }


/**************************************************************/
/***** Customer Details - Order Summaries list animations *****/
/**************************************************************/


.customerOrders.animated {
    -webkit-transition  : 0.3s linear all;
    transition          : 0.3s linear all;
}

.customerOrders.animated.ng-leave.ng-leave-active,
.customerOrders.animated.ng-enter                 { opacity: 0; max-height:0px; }

.customerOrders.animated.ng-leave,
.customerOrders.animated.ng-enter.ng-enter-active { opacity: 1; max-height:30px; }


/***********************************************************************/
/***** Animations for Sidebar `Cart` & `Recently Viewed` containers ****/
/***********************************************************************/

.well.animated,
.well.animated.cart {
    -webkit-transition  : 0.5s all;
    -moz-transition     : 0.5s all;
    -ms-transition      : 0.5s all;
    -o-transition       : 0.5s all;
    transition          : 0.5s all;
}
.well.animated.cart {
    background-color: rgb(199, 235, 199);
    padding-bottom  : 40px;
    overflow        : hidden;
}

.well.animated.ng-hide-remove,
.well.animated.ng-hide-add,
.well.animated.cart.ng-hide-remove,
.well.animated.cart.ng-hide-add
{
    /* starting CSS styles */
    display: block !important;
}


.well.animated.ng-hide-remove,
.well.animated.ng-hide-add.ng-hide-add-active,
.well.animated.cart.ng-hide-remove,
.well.animated.cart.ng-hide-add.ng-hide-add-active
{
    /* targeted CSS styles */
    opacity: 0.0;
}

.well.animated.ng-hide-add,
.well.animated.ng-hide-remove.ng-hide-remove-active,
.well.animated.cart.ng-hide-add,
.well.animated.cart.ng-hide-remove.ng-hide-remove-active
{
    /* targeted CSS styles */
    opacity: 1;
}

/***********************************************************************/
/***** Animations for Sidebar `Cart` & `Recently Viewed` lists      ****/
/***********************************************************************/

.orderItem.animated
{
    line-height         :40px;
    list-style          :none;
    border-bottom       : 1px solid white;
    -webkit-transition  : 0.25s all;
    -moz-transition     : 0.25s all;
    -ms-transition      : 0.25s all;
    -o-transition       : 0.25s all;
    transition          : 0.25s all;
}

.orderItem.animated.ng-enter,
.orderItem.animated.ng-leave.ng-leave-active
{
    opacity:0;
    max-height:0;
}

.orderItem.animated.ng-leave,
.orderItem.animated.ng-enter.ng-enter-active
{
    opacity:1;
    max-height:40px;
}


/***************************************************************************/
/*      Order `content` page animations ->  pizza, salads, drinks...       */
/***************************************************************************/


.products.animated {
    position: absolute;
    display: block !important;
}
.products.animated.ng-enter  {
    -webkit-animation   :fadeInDown 0.25s both ease-in;
    -moz-animation      :fadeInDown 0.25s both ease-in;
    animation           :fadeInDown 0.25s both ease-in;

}
.products.animated.ng-leave  {
    -webkit-animation   : slideOutRight 0.25s both ease-out;
    -moz-animation      : slideOutRight 0.25s both ease-out;
    animation           : slideOutRight 0.25s both ease-out;
}



/***************************************************************************/
/*      Main Page animations ->  order, customer, about pages...           */
/***************************************************************************/


.content {
    position: absolute;
    display: block !important;
    width: 100%;
    bottom:0;
    top:40px;
    position:absolute;
    width:100%;
    background-color: #ffffff;
}
.content.animated.ng-leave 	{ z-index:9999; display: block !important;  }
.content.animated.ng-enter 	{ z-index:8888; display: block !important;  }


.content.animated.ng-leave  {
    -webkit-animation   : slideOutRight 0.25s both ease-in;
    -moz-animation      : slideOutRight 0.25s both ease-in;
    animation           : slideOutRight 0.25s both ease-in;
}

.content.animated.ng-enter  {
    -webkit-animation   :scaleUp 0.25s both ease-in;
    -moz-animation      :scaleUp 0.25s both ease-in;
    animation           :scaleUp 0.25s both ease-in;
}


/*  Slide in from Right, out to Left */
.content-rightToLeft.ng-enter {
    -webkit-animation   :slideInRight 0.25s both ease-in;
    -moz-animation      :slideInRight 0.25s both ease-in;
    animation           :slideInRight 0.25s both ease-in;
}
.content-rightToLeft.ng-leave {
    -webkit-animation   :slideOutLeft 0.25s both ease-in;
    -moz-animation      :slideOutLeft 0.25s both ease-in;
    animation           :slideOutLeft 0.25s both ease-in;
}

/* Slide up from bottom... rotate out to leave */
.content-slideUpRotate.ng-enter {
    -webkit-animation   :slideInUp 0.25s both ease-in;
    -moz-animation      :slideInUp 0.25s both ease-in;
    animation           :slideInUp 0.25s both ease-in;
}
.content-slideUpRotate.ng-leave {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin   : 50% 50%;
    transform-origin        : 50% 50%;
    -webkit-animation       : rotateOutNewspaper .5s both ease-in;
    -moz-animation          : rotateOutNewspaper .5s both ease-in;
    animation               : rotateOutNewspaper .5s both ease-in;
}


/****************************************************/
/*          Key Frames                              */
/****************************************************/


/* scale down to... */
@keyframes          shrinkHeight {  to     { opacity: 0.0  ; max-height : 0px; }}
@-moz-keyframes     shrinkHeight {  to     { opacity: 0.0  ; max-height : 0px; }}
@-webkit-keyframes  shrinkHeight {  to     { opacity: 0.0  ; max-height : 0px; }}


/* scale up from... */
@keyframes          scaleUp {    from   { opacity: 0.3  ; -webkit-transform : scale(0.8); }}
@-moz-keyframes     scaleUp {    from   { opacity: 0.3  ; -moz-transform    : scale(0.8); }}
@-webkit-keyframes  scaleUp {    from   { opacity: 0.3  ; -webkit-transform : scale(0.8); }}


/* scale down to... */
@keyframes          scaleDown {  to     { opacity: 0.3  ; -webkit-transform : scale(0.8); }}
@-moz-keyframes     scaleDown {  to     { opacity: 0.3  ; -moz-transform    : scale(0.8); }}
@-webkit-keyframes  scaleDown {  to     { opacity: 0.3  ; -webkit-transform : scale(0.8); }}

/* slide in from bottom offscreen */
@keyframes          slideInUp    { from { transform         :translateY(100%); } to { transform         : translateY(0);  }}
@-moz-keyframes     slideInUp    { from { -moz-transform    :translateY(100%); } to { -moz-transform    : translateY(0);  }}
@-webkit-keyframes  slideInUp    { from { -webkit-transform :translateY(100%); } to { -webkit-transform : translateY(0);  }}


/* slide in from right offscreen */
@keyframes          slideInRight  { from { transform         :translateX(100%); } to { transform         : translateX(0);  }}
@-moz-keyframes     slideInRight  { from { -moz-transform    :translateX(100%); } to { -moz-transform    : translateX(0);  }}
@-webkit-keyframes  slideInRight  { from { -webkit-transform :translateX(100%); } to { -webkit-transform : translateX(0);  }}


/* slide out to right offscreen */
@keyframes          slideOutRight { from { transform         : translateX(0);  }  to { transform         : translateX(+100%);  }}
@-moz-keyframes     slideOutRight { from { -moz-transform    : translateX(0);  }  to { -moz-transform    : translateX(+100%);  }}
@-webkit-keyframes  slideOutRight { from { -webkit-transform : translateX(0);  }  to { -webkit-transform : translateX(+100%);  }}


/* slide out offscreen to the left */
@keyframes          slideOutLeft { to 	{ transform         : translateX(-100%);  }}
@-moz-keyframes     slideOutLeft { to 	{ -moz-transform    : translateX(-100%);  }}
@-webkit-keyframes  slideOutLeft { to 	{ -webkit-transform : translateX(-100%);  }}


/* rotate, fade, and move to back */
@-webkit-keyframes  rotateOutNewspaper { to { -webkit-transform : translateZ(-3000px) rotateZ(360deg);    opacity: 0;  }}
@-moz-keyframes     rotateOutNewspaper { to { -moz-transform    : translateZ(-3000px) rotateZ(360deg);    opacity: 0;  }}
@keyframes          rotateOutNewspaper { to { transform         : translateZ(-3000px) rotateZ(360deg);    opacity: 0;  }}


/* rotate and fall */
@-webkit-keyframes rotateFall {
    0% { -webkit-transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
    40% { -webkit-transform: rotateZ(17deg); }
    60% { -webkit-transform: rotateZ(16deg); }
    100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
    0% { -moz-transform: rotateZ(0deg); }
    20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
    40% { -moz-transform: rotateZ(17deg); }
    60% { -moz-transform: rotateZ(16deg); }
    100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
    0% { transform: rotateZ(0deg); }
    20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40% { transform: rotateZ(17deg); }
    60% { transform: rotateZ(16deg); }
    100% { transform: translateY(100%) rotateZ(17deg); }
}


/* Fade in and shift down... */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name  : fadeInDown;
    animation-name          : fadeInDown;
}
