<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/dist/material-design.css">
  </head>
  <body ng-app="ngMaterial" ng-controller="MyCtrl">
    <br />
    <br />
    <br />
    <button ng-click="toastIt()">
      Toast It
    </button>
    <button ng-click="complexToastIt()">
      Complex Toast It
    </button>
    <hr />
    Toast Position: "{{getToastPosition()}}"
    <ul>
      <li ng-repeat="(name, isSelected) in toastPosition">
        <input type="checkbox" ng-model="toastPosition[name]"> {{name}}
      </li>
    </ul>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/dist/material-design.js"></script>

    <script>
      function MyCtrl($scope, $materialToast) {
      $scope.toastPosition = {
      bottom: true,
      top: false,
      left: true,
      right: false,
      fit: false
      };

      $scope.getToastPosition = function() {
      return Object.keys($scope.toastPosition)
      .filter(function(pos) { return $scope.toastPosition[pos]; })
      .join(' ');
      };

      $scope.complexToastIt = function() {
      $materialToast({
      controller: ToastCtrl,
      templateUrl: 'toast-template.html',
      duration: 5000,
      position: $scope.getToastPosition()
      })
      };

      $scope.toastIt = function() {
      $materialToast({
      template: 'Hello, ' + Math.random(),
      duration: 2000,
      position: $scope.getToastPosition()
      });
      };
      }
      function ToastCtrl($scope, $hideToast) {
      $scope.closeToast = function() {
      $hideToast();
      };
      }
    </script>
    <script type="text/ng-template" id="toast-template.html">
      <div>
        Hello there!
        <button ng-click="closeToast()">
          Close Toast
        </button>
      </div>
    </script>

  </body>
</html>
