
<div ng-controller="DemoController" layout="column">
  <md-content md-theme="light-blue-dark">
    <form style="padding: 20px;">
      <div class="row">
        <md-text-float label="Title"  ng-model="user.title"   ></md-text-float>
        <md-text-float label="eMail"  ng-model="user.email" type="email" ></md-text-float>
      </div>
    </form>
  </md-content>

  <md-content>
    <form style="padding: 20px;">
      <md-text-float label="Company"       ng-model="user.company"    disabled > </md-text-float>
      <div class="row">
          <md-text-float label="FirstName" ng-model="user.firstName"  > </md-text-float>
          <md-text-float label="LastName"  ng-model="user.lastName"   class="long"> </md-text-float>
      </div>
      <md-text-float label="Address"       ng-model="user.address"    > </md-text-float>
      <div class="row">
        <md-text-float label="City"        ng-model="user.city"       > </md-text-float>
        <md-text-float label="State"       ng-model="user.state"      > </md-text-float>
        <md-text-float label="Postal Code" ng-model="user.postalCode" > </md-text-float>
      </div>
      <md-text-float label="Country"       ng-model="user.country"    disabled > </md-text-float>
    </form>
  </md-content>

</div>
