/**
 *  SaSS version
 *
 * form > .row {
 *   @include flex-display();
 *   @include flex-align-items(center);
 *   @include flex-direction(row);
 *
 *   > * {
 *     font-size: inherit;
 *     margin: 0 8px;
 *   }
 *
 *   margin-left: -8px;
 * }
 *
 *
 * md-input-group.long {
 *   input {
 *      width : 262px;
 *   }
 * }
 *
*/

form > .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: -8px;
}

.row > * {
    font-size: inherit;
    margin: 0 8px;
}

md-input-group.long > input {
    width: 264px;
}
