<div ng-controller="AppCtrl">
  <div style="padding: 24px;">
    <p>Toast can be dismissed with a swipe, a timer, or a button.</p>
    <div class="inset" layout="vertical" layout-sm="horizontal" layout-align="center">
      <md-button ng-click="toastIt()">
        Show Simple
      </md-button>
      <div style="width:50px"></div>
      <md-button class="md-button-raised"
                 ng-click="complexToastIt()">
        Show Advanced
      </md-button>
    </div>

    <div>
      <br/>
      <b>Toast Position: "{{getToastPosition()}}"</b>
    </div>
    <md-checkbox ng-repeat="(name, isSelected) in toastPosition"
      ng-model="toastPosition[name]"> 
      {{name}}
    </md-checkbox>
    <md-button class="md-button-fab md-button-fab-bottom-right md-theme-red">
      FAB
    </md-button>
    <md-button class="md-button-fab md-button-fab-top-right md-theme-green">
      FAB
    </md-button>
  </div>
</div>
