
<div ng-controller="AppCtrl">

  <p>
    <material-button ng-click="addItem()">Add</material-button>
    <material-button ng-click="removeItem()">Remove</material-button>
  </p>

  <material-radio-group ng-model="data.group1">

    <material-radio-button value="1" aria-label="Label 1">
      Label 1
    </material-radio-button>

    <material-radio-button value="2" noink>
      Label 2
    </material-radio-button>

    <material-radio-button value="3" aria-label="Label 3">
      Label 3
    </material-radio-button>

  </material-radio-group>

  <p>Group 1 Selected: {{ data.group1 }}</p>

    <material-radio-group ng-model="data.group2">

        <material-radio-button ng-repeat="d in radioData" ng-value="d.value" aria-label="{{ d.label }}">
            {{ d.label }}
        </material-radio-button>

    </material-radio-group>

    <p style="margin-bottom:50px">Group 2 Selected: {{ data.group2 }}</p>



</div>
