md-backdrop {
  z-index: $z-index-backdrop;
  background-color: rgba(0,0,0,0);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &.opaque {
    background-color: rgba(0,0,0,0.3);
  }

  transition: all 0.2s ease-out;

  &.ng-enter {
    transition-delay: 0.1s;
  }
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}
