md-backdrop {
  z-index: $z-index-backdrop;
  &.md-menu-backdrop {
    position: fixed !important;
    z-index: $z-index-menu - 1;
  }
  &.md-select-backdrop {
    z-index: $z-index-dialog + 1;
    transition-duration: 0;
  }
  &.md-dialog-backdrop {
    z-index: $z-index-dialog - 1;
  }
  &.md-bottom-sheet-backdrop {
    z-index: $z-index-bottom-sheet - 1;
  }
  &.md-sidenav-backdrop {
    z-index: $z-index-sidenav - 1;
  }

  opacity: 1;

  // - Animate background-color alpha only for `.md-opaque` stylings
  // !!Important - Theme-based Background-color and animations can be enabled in backdrop-theme.scss

  transition: background-color 450ms $swift-ease-in-timing-function;

  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;

  &.md-click-catcher {
    position: absolute;
  }

  &.md-opaque.ng-leave {
    transition: background-color 400ms linear;
  }

}

