md-backdrop {
  z-index: $z-index-backdrop;
  &.md-menu-backdrop {
    z-index: $z-index-menu - 1;
  }
  &.md-select-backdrop {
    z-index: $z-index-dialog + 1;
  }
  &.md-dialog-backdrop {
    z-index: $z-index-dialog - 1;
  }
  &.md-bottom-sheet-backdrop {
    z-index: $z-index-bottom-sheet - 1;
  }
  &.md-sidenav-backdrop {
    z-index: $z-index-sidenav - 1;
  }

  opacity: 1;
  transition: background-color 500ms $swift-ease-in-timing-function;

  background-color: rgba(0,0,0,0);

  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;

  &.md-click-catcher {
    position: fixed;
  }

  &.md-opaque.ng-enter {
    background-color: rgba(0,0,0,0);

    &.md-opaque.ng-enter-active {
      background-color: rgba(0,0,0,0.42);
    }
  }

  &.md-opaque.ng-leave {
    transition: background-color 400ms linear;

    &.md-opaque.ng-leave-active {
      background-color: rgba(0,0,0,0);
    }
  }

  &.md-opaque {
    background-color: rgba(0,0,0,0.42);
  }

}

