
<div ng-controller="DemoController" layout="vertical">

  <material-toolbar class="theme-dark-tff material-medium-tall" style="padding-top:15px;">
    <div class="material-toolbar-tools dark">
      <tf-float fid="tfFloat" label="Title" value="user.title"     ></tf-float>
      <tf-float fid="tfFloat" label="Message" value="user.message" ></tf-float>
    </div>
  </material-toolbar>

  <material-content>
    <form style="padding: 20px;">
      <tf-float fid="i1" label="FirstName"    value="user.firstName"  > </tf-float>
      <tf-float fid="i2" label="LastName"     value="user.lastName"   > </tf-float>
      <tf-float fid="i3" label="Company"      value="user.company"    > </tf-float>
      <tf-float fid="i4" label="Address"      value="user.address"    > </tf-float>
      <tf-float fid="i5" label="City"         value="user.city"       > </tf-float>
      <tf-float fid="i6" label="State"        value="user.state"      > </tf-float>
      <tf-float fid="i7" label="Country"      value="user.country"    disabled > </tf-float>
      <tf-float fid="i8" label="Postal Code"  value="user.postalCode" > </tf-float>
    </form>
  </material-content>

</div>
