

<div ng-app="app" ng-controller="AppCtrl" class="inset">
  <material-icon icon="/img/icons/ic_access_time_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_arrow_back_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_comment_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_insert_drive_file_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_label_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_menu_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_more_vert_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_people_24px.svg"></material-icon>
  <material-icon icon="/img/icons/ic_refresh_24px.svg"></material-icon>
</div>
