md-content {
  background-color: transparent !important;
  md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    md-tabs-canvas {
      background: white;
    }
  }
  h1:first-child {
    margin-top: 0;
  }
}
