<div ng-app="autocompleteFloatingLabelDemo" ng-controller="DemoCtrl as ctrl" layout="column">

  <md-content class="md-padding" layout="column">
    <p>The following example demonstrates floating labels being used as a normal form element.</p>

    <div layout-gt-sm="row">
      <md-input-container flex>
        <label>Name</label>
        <input type="text"/>
      </md-input-container>
      <md-autocomplete flex
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text="ctrl.searchText"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.display"
          md-floating-label="Favorite state">
        <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
      </md-autocomplete>
    </div>

  </md-content>

</div>
