/** Theme styles for mdCalendar. */

.md-calendar.md-THEME_NAME-theme {
  color: '{{foreground-2}}';

  tr:last-child td {
    border-bottom-color: '{{background-200}}';
  }
}
.md-THEME_NAME-theme {

  .md-calendar-day-header {
    background: '{{background-200}}'; // grey-200
    color: '{{foreground-2}}'; // grey-700
  }

  .md-calendar-date.md-calendar-date-today {
    color: '{{primary-500}}'; // blue-500
  }

  // The CSS class `md-focus` is used instead of real browser focus for accessibility reasons
  // (the root md-calendar holds browser focus).
  .md-calendar-date.md-focus {
    .md-calendar-date-selection-indicator {
      background: '{{background-300}}'; // grey-300
    }
  }

  .md-calendar-date-selection-indicator:hover {
    background: '{{background-300}}'; // grey-300
  }

  // Selected style goes after hover and focus so that it takes priority.
  .md-calendar-date.md-calendar-selected-date,
  .md-calendar-date.md-focus.md-calendar-selected-date {
    .md-calendar-date-selection-indicator {
      background: '{{primary-500}}'; // blue-500
      color: '{{primary-500-contrast}}'; // white
    }
  }

}
