<div ng-controller="BottomSheetExample" style="min-height: 367px;">
  <p style="padding-left: 20px;" class="md-body-1">
    Bottom sheet can be dismissed with the service or a swipe down.
  </p>
  <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
    <md-button class="md-primary" ng-click="showListBottomSheet($event)">
      Show as List
    </md-button>
    <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
      Show as Grid
    </md-button>
  </div>

  <br/>
  <b layout="row" layout-align="center center" layout-margin>
    {{alert}}
  </b>
</div>
