.md-inline-list-icon-label {
  padding-left: 20px;
  display: inline-block;
  margin-top: -5px;
  height: 24px;
  vertical-align: middle;
}
.md-grid-item-content md-icon {
  height: 48px;
  width: 48px;
}
