
<div ng-controller="AppCtrl" class="md-padding" ng-cloak>
  <div>
    <fieldset class="standard">
      <legend>Using &lt;ng-model&gt;</legend>
      <div layout="column" layout-wrap layout-gt-sm="row" >
        <div flex-xs flex="50">
          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
           <span> Checkbox 1: {{ data.cb1 }}</span>
          </md-checkbox>
        </div>
        <div flex-xs flex="50">
          <div layout-xs="column" flex-xs="100">
            <md-checkbox
                ng-model="data.cb2"
                aria-label="Checkbox 2"
                ng-true-value="'yup'"
                ng-false-value="'nope'"
                class="md-warn md-align-top" flex>
              <span>Checkbox 2 (md-warn) </span> <br/>
            <span class="ipsum">
              Duis placerat lectus et justo mollis, nec sodales orci congue. Vestibulum semper non urna ac suscipit.
              Vestibulum tempor, ligula id laoreet hendrerit, massa augue iaculis magna,
              sit amet dapibus tortor ligula non nibh.
            </span>
              <br/>
              <span>{{ data.cb2 }}</span>
            </md-checkbox>
          </div>
        </div>
        <div flex-xs flex="50">
          <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="data.cb3">
            <span>Checkbox: Disabled</span>
          </md-checkbox>
        </div>
        <div flex-xs flex="50">
          <md-checkbox ng-disabled="true" aria-label="Disabled checked checkbox" ng-model="data.cb4" ng-init="data.cb4=true">
            <span>Checkbox: Disabled, Checked</span>
          </md-checkbox>
        </div>
        <div flex-xs flex="50">
          <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
            <span>Checkbox (md-primary): No Ink</span>
          </md-checkbox>
        </div>
        <div flex-xs flex="50">
          <md-checkbox aria-label="Checkbox full" ng-model="data.cb6" class="md-full">
            <span>Checkbox (md-full):</span>
          </md-checkbox>
        </div>
        <div flex-xs flex="50">
          <div layout-xs="column" flex-xs="100">
            <md-checkbox
                ng-model="data.cb7"
                aria-label="Checkbox 7"
                ng-true-value="'yup'"
                ng-false-value="'nope'"
                class="md-right md-align-top" flex>
              <span>Checkbox (md-right md-align-top)</span>  <br/>
            <span class="ipsum">
              Duis placerat lectus et justo mollis, nec sodales orci congue. Vestibulum semper non urna ac suscipit.
              Vestibulum tempor, ligula id laoreet hendrerit, massa augue iaculis magna,
              sit amet dapibus tortor ligula non nibh.
            </span>
              <br/>
              <span>{{ data.cb7 }}</span>
            </md-checkbox>
          </div>
        </div>

        <div flex="100">
          <md-checkbox aria-label="Checkbox right and full width" ng-model="data.cb8" class="md-full md-right">
            <span>Checkbox (md-full & md-right):</span>
          </md-checkbox>
        </div>
        <div  flex="100">
          <p>Checkbox with floating text
            <md-checkbox aria-label="Checkbox" ng-model="data.cb9" class="floating-text">
              <span>(Click me)</span>
            </md-checkbox>
            to demonstrate the correct alignment.
          </p>
        </div>
      </div>
    </fieldset>
  </div>
</div>

