div.flex-xs {
  min-height:40px;

}
.checkboxDemo1 div {
  clear: both;
}

p {
  padding-left: 8px;
}
fieldset.standard {
  border-style: solid;
  border-width: 1px;
}
legend {
  color: #3F51B5;
}
legend code {
  color: #3F51B5;
  font-weight: normal;
}

.ipsum {
  color: saddlebrown;
}
