<div ng-controller="AppCtrl">

  <material-toolbar class="material-theme-green">
    <h1 class="material-toolbar-tools">
      <span flex>Awesome Material App</span>
      <material-button class="material-button-fab material-theme-green">
        <material-tooltip>
          Refresh
        </material-tooltip>
        <material-icon icon="/img/icons/ic_refresh_24px.svg">
        </material-icon>
      </material-button>
    </h1>
  </material-toolbar>
  <material-content class="material-content-padding">

  <material-button class="material-button-fab material-button-fab-top-left">
    <material-icon icon="/img/icons/ic_insert_drive_file_24px.svg"></material-icon>
    <material-tooltip visible="showTooltip">
      Insert Drive
    </material-tooltip>
  </material-button>
  <material-button class="material-button-fab material-button-fab-top-right">
    <material-icon icon="/img/icons/ic_photo_24px.svg"></material-icon>
    <material-tooltip>
      Photos
    </material-tooltip>
  </material-button>

  <br/><br/><br/><br/><br/>

  <p>
    <div>
      The tooltip is visible when the button is hovered, focused, or touched.
    </div>
    <br/>
    <div>
      Additionally, the Tooltip's `visible` attribute can use data-binding to programmatically
      show/hide itself. Toggle the checkbox below...
    </div>
  </p>

  <material-checkbox ng-model="showTooltip">
    Insert Drive
  </material-checkbox>

  </material-content>
</div>
