$theme-name: "light-blue-dark";
$dark-theme: true;
$foreground-base-color: white;
$foreground-primary-color: #DBDBDB;
$foreground-secondary-color: #fefefe;
$foreground-tertiary-color: #696969;
$foreground-text-shadow: 1px 1px 0px rgba(black, 0.4), -1px -1px 0px rgba(black, 0.4);
$background-color-base: #333;
