<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

  <div class="padded" md-whiteframe="1"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="1"</span>
  </div>
  
  <div class="padded" md-whiteframe="2"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="2"</span>  
  </div>  
  
  <div class="padded" md-whiteframe="3"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="3"</span>  
  </div>  
  
  <div class="padded" md-whiteframe="4"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="4"</span>  
  </div>  
  
  <div class="padded" md-whiteframe="5"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="5"</span>  
  </div>  
  
  <div class="padded" md-whiteframe="6"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="6"</span>  
  </div>  
  
  <div class="padded" md-whiteframe="7"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="7"</span>  
  </div>  
  
  <div class="padded" md-whiteframe="8"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="8"</span>  
  </div>  
  
  <div class="padded" md-whiteframe="9"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="9"</span>
  </div>

  <div class="padded" md-whiteframe="10"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="10"</span>
  </div>

  <div class="padded" md-whiteframe="11"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="11"</span>
  </div>

  <div class="padded" md-whiteframe="12"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="12"</span>
  </div>

  <div class="padded" md-whiteframe="13"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="13"</span>
  </div>

  <div class="padded" md-whiteframe="14"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="14"</span>
  </div>

  <div class="padded" md-whiteframe="15"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="15"</span>
  </div>

  <div class="padded" md-whiteframe="16"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="16"</span>
  </div>

  <div class="padded" md-whiteframe="17"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="17"</span>
  </div>

  <div class="padded" md-whiteframe="18"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="18"</span>
  </div>

  <div class="padded" md-whiteframe="19"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="19"</span>
  </div>

  <div class="padded" md-whiteframe="20" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="20"</span>
  </div>

  <div class="padded" md-whiteframe="21"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="21"</span>
  </div>

  <div class="padded" md-whiteframe="22"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="22"</span>
  </div>

  <div class="padded" md-whiteframe="23"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="23"</span>
  </div>

  <div class="padded" md-whiteframe="24"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span>md-whiteframe="24"</span>
  </div>

</div>
