*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
  color: $font-color-base;
  background: $background-color-base;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  h3 {
    display: block;
    @include margin-selectors();
    font-size: 1.17em;
    font-weight: bold;
  }
}

button,
select,
html,
textarea,
input {
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  outline: none;
}

.inset {
  padding: 10px;
}

button {
  font-family: $font-family;
}

a {
  background: transparent;
  outline: none;
}

h1 {
  font-size: $h1-font-size-base;
  margin: $h1-margin-base;
}
h2 {
  font-size: $h2-font-size-base;
  margin: $h2-margin-base;
}
h3 {
  font-size: $h3-font-size-base;
  margin: $h3-margin-base;
}
h4 {
  font-size: $h4-font-size-base;
  margin: $h4-margin-base;
}
h5 {
  font-size: $h5-font-size-base;
  margin: $h5-margin-base;
}
h6 {
  font-size: $h6-font-size-base;
  margin: $h6-margin-base;
}

select,
button,
textarea,
input {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

// Fix Android 4.0 button bugs
input[type="reset"],
input[type="submit"],
html input[type="button"],
button {
  cursor: pointer;
  -webkit-appearance: button;

  &[disabled] {
    cursor: default;
  }
}

textarea {
  vertical-align: top;
  overflow: auto;
}

input {
  &[type="radio"],
  &[type="checkbox"] {
    padding: 0;
    box-sizing: border-box;
  }

  &[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}
