// Responsive attributes
// ------------------------------

// hide means hide everywhere
/* Sizes:
  0    <= size <= 600  Phone
  600  <= size <= 960  Tablet
  960  <= size <= 1200 Tablet-Landscape
  1200 <= size         PC
*/
         
[layout] {
  box-sizing: border-box;
  display: flex;
}

[layout=column] {
  flex-direction: column;
}

[layout=row] {
  flex-direction: row;
}

[layout-padding],
[layout][layout-padding] > [flex] {
  padding: $layout-gutter-width / 2;
}

[layout-padding] + [layout-padding] {
  margin-top: -($layout-gutter-width / 2);
  padding-top: 0;
}

[layout-wrap] {
  flex-wrap: wrap;
}

[layout-fill] {
  margin: 0;
  min-height: 100%;
  width: 100%;
}


@mixin layout-for-size($name) {
  [hide]:not([show-#{$name}]),
  [hide-#{$name}]:not([show-#{$name}]) {
    display: none;
  }

  [layout-#{$name}] {
    box-sizing: border-box;
    display: flex;
  }
  [layout-#{$name}=column] {
    flex-direction: column;
  }
  [layout-#{$name}=row] {
    flex-direction: row;
  }
}

@mixin flex-properties-for-size($name: null) {
  $flexName: 'flex';
  $offsetName: 'offset';
  @if $name != null {
    $flexName: 'flex-#{$name}';
    $offsetName: 'offset-#{$name}';
  }

  // (0-19) * 5 = 0-95%
  @for $i from 0 through 19 {
    [#{$flexName}="#{$i * 5}"] {
      flex: 0 0 #{$i * 5 + '%'};
      max-width: #{$i * 5 + '%'};
    }

    [#{$offsetName}="#{$i * 5}"] {
      margin-left: #{$i * 5 + '%'};
    }
  }

  [#{$flexName}="33"], [#{$flexName}="34"] {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  [#{$flexName}="66"], [#{$flexName}="67"] {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }

  [#{$offsetName}="33"], [#{$offsetName}="34"] {
    margin-left: 33.33%;
  }
  [#{$offsetName}="66"], [#{$offsetName}="67"] {
    margin-left: 66.66%;
  }

}

// Flex attributes for layout children
// ------------------------------

[flex] {
  flex: 1;
}

@include flex-properties-for-size();
@media (max-width: $layout-breakpoint-sm) {
  @include layout-for-size(phone);
  @include flex-properties-for-size(phone);
}
@media (min-width: $layout-breakpoint-sm + 1) and (max-width: $layout-breakpoint-md) {
  @include layout-for-size(tablet);
  @include flex-properties-for-size(tablet);
}
@media (min-width: $layout-breakpoint-md + 1) and (max-width: $layout-breakpoint-lg) {
  @include layout-for-size(tablet-landscape);
  @include flex-properties-for-size(tablet-landscape);
}
@media (min-width: $layout-breakpoint-lg + 1) {
  @include layout-for-size(pc);
  @include flex-properties-for-size(pc);
}



// Order attributes for layout children
// ------------------------------
[layout-order="0"] { order: 0; }
[layout-order="1"] { order: 1; }
[layout-order="2"] { order: 2; }
[layout-order="3"] { order: 3; }
[layout-order="4"] { order: 4; }
[layout-order="5"] { order: 5; }
[layout-order="6"] { order: 6; }
[layout-order="7"] { order: 7; }
[layout-order="8"] { order: 8; }
[layout-order="9"] { order: 9; }


// Alignment attributes for layout containers' children
// Arrange on the Main Axis
// center, start, end, space-between, space-around
// flex-start is the default for justify-content
// ------------------------------

// Main Axis Center
[layout-align="center"], //stretch
[layout-align="center center"],
[layout-align="center start"],
[layout-align="center end"] {
  justify-content: center;
}

// Main Axis End
[layout-align="end"], //stretch
[layout-align="end center"],
[layout-align="end start"],
[layout-align="end end"] {
  justify-content: flex-end;
}

// Main Axis Space Around
[layout-align="space-around"], //stretch
[layout-align="space-around center"],
[layout-align="space-around start"],
[layout-align="space-around end"] {
  justify-content: space-around;
}

// Main Axis Space Between
[layout-align="space-between"], //stretch
[layout-align="space-between center"],
[layout-align="space-between start"],
[layout-align="space-between end"] {
  justify-content: space-between;
}


// Arrange on the Cross Axis
// center, start, end
// stretch is the default for align-items
// ------------------------------

// Cross Axis Center
[layout-align="center center"],
[layout-align="start center"],
[layout-align="end center"],
[layout-align="space-between center"],
[layout-align="space-around center"] {
  align-items: center;
}

// Cross Axis Start
[layout-align="center start"],
[layout-align="start start"],
[layout-align="end start"],
[layout-align="space-between start"],
[layout-align="space-around start"] {
  align-items: flex-start;
}

// Cross Axis End
[layout-align="center end"],
[layout-align="start end"],
[layout-align="end end"],
[layout-align="space-between end"],
[layout-align="space-around end"] {
  align-items: flex-end;
}

