/*  Only used with Theme processes */

html, body {
  &.md-THEME_NAME-theme {
    color: '{{foreground-1}}';
    background-color: '{{background-color}}';
  }
}

@mixin checkbox-primary($checkedSelector: '.md-checked') {
  .md-ripple {
    color: '{{primary-600}}';
  }

  &#{$checkedSelector} .md-ripple {
    color: '{{background-600}}';
  }

  .md-ink-ripple {
    color: '{{foreground-2}}';
  }

  &#{$checkedSelector} .md-ink-ripple {
    color: '{{primary-color-0.87}}';
  }

  ._md-icon {
    border-color: '{{foreground-2}}';
  }

  &#{$checkedSelector} ._md-icon {
    background-color: '{{primary-color-0.87}}';
  }

  &#{$checkedSelector}.md-focused ._md-container:before {
    background-color: '{{primary-color-0.26}}';
  }

  &#{$checkedSelector} ._md-icon:after {
    border-color: '{{primary-contrast-0.87}}';
  }

  & .md-indeterminate[disabled] {
    ._md-container {
      color: '{{foreground-3}}';
    }
  }
}
