$theme-name: 'default' !default;

// Font Variables
$font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif !default;

$dark-theme: false !default;
$foreground-color-palette: $color-grey !default;
$foreground-base-color: map-get($foreground-color-palette, '1000') !default;
$foreground-primary-color: rgba($foreground-base-color, 0.73) !default;
$foreground-secondary-color: rgba($foreground-base-color, 0.54) !default;
$foreground-tertiary-color: rgba($foreground-base-color, 0.26) !default;
$foreground-quarternary-color: rgba($foreground-base-color, 0.12) !default;
$foreground-text-shadow: none !default;


$input-border-color: $foreground-secondary-color !default;
$input-disabled-border-color: $foreground-tertiary-color !default;

$background-color-palette: $color-grey !default;
$background-color-base: map-get($background-color-palette, 'A100') !default;

$primary-color-palette: $color-light-blue !default;
$warn-color-palette: $color-red !default;
$primary-color-palette-contrast-color: white !default;

// Layout
// ------------------------------

$baseline-grid:            8px !default;
$layout-breakpoint-sm:     600px !default;
$layout-breakpoint-md:     960px !default;
$layout-breakpoint-lg:     1200px !default;
$layout-gutter-width:      ($baseline-grid * 2) !default;


// App bar variables
$app-bar-height: 64px;

$toast-height: $baseline-grid * 3 !default;
$toast-margin: $baseline-grid * 1 !default;

// Whiteframes

$whiteframe-shadow-z1: 0px 2px 5px 0 rgba(0,0,0,0.26);
$whiteframe-zindex-z1: 1;
$whiteframe-shadow-z2: 0px 8px 17px rgba(0,0,0,0.2);
$whiteframe-zindex-z2: 2;
$whiteframe-shadow-z3: 0px 17px 50px rgba(0,0,0,0.19);
$whiteframe-zindex-z3: 3;
$whiteframe-shadow-z4: 0px 16px 28px 0 rgba(0,0,0,0.22);
$whiteframe-zindex-z4: 4;
$whiteframe-shadow-z5: 0px 27px 24px 0 rgba(0,0,0,0.2);
$whiteframe-zindex-z5: 5;



// Z-indexes
//--------------------------------------------

$z-index-dialog: 10;
$z-index-tooltip: 9;
$z-index-toast: 8;
$z-index-bottom-sheet: 8;

$z-index-sidenav: 6;
$z-index-backdrop: 5;
$z-index-fab: 2;

// Easing Curves
//--------------------------------------------

$swift-ease-out-duration: 0.4s;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function;

$swift-ease-in-duration: 0.3s;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function;

$swift-ease-in-out-duration: 0.5s;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function;
