
md-checkbox {
  display: block;
  margin: 15px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  .md-container {
    position: relative;
    top: 4px;
    display: inline-block;
    width: $checkbox-width;
    height: $checkbox-height;

    .md-ripple-container {
      position: absolute;
      display: block;
      width: $checkbox-width * 3; 
      height: $checkbox-width * 3;
      left: -$checkbox-width;
      top: -$checkbox-width;
    }
    .md-ripple {
      color: #0f9d58;
    }

  }

  &.md-checked .md-ripple {
    color: #5a5f5a;
  }

  .circle {
    border-radius: 50%;
  }

  // unchecked
  .md-icon {
    transition: 240ms;
    position: absolute;
    top: 0;
    left: 0;
    width: $checkbox-width;
    height: $checkbox-height;
    border: 2px solid $input-border-color;
    border-radius: 2px;
  }

  // checked
  &.md-checked .md-icon {
    border-color: #4CAF50;
    background: #4CAF50;
  }

  // disabled
  &[disabled] {
    cursor: no-drop;

    .md-icon {
      border-color: $input-disabled-border-color;
    }
    &.md-checked .md-icon {
      background: $input-disabled-border-color;
    }
  }

  // focus
  &:focus .md-label {
    border-color: black;
  }

  &.md-checked .md-icon:after {
    transform: rotate(45deg);
    position: absolute;
    left: 4px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid $color-grey-200;
    border-top: 0;
    border-left: 0;
    content: ' ';
  }

  .md-label {
    border: 1px dotted transparent;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
  }
}
