.md-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-dialog;

  &.active {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate3d(0,0,0) scale(1.0);
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    transform: translate3d(0,100%,0) scale(0.5);
    opacity: 0;
  }

}

md-dialog {

  min-width: 240px;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  position: relative;

  background-color: #fff;
  border-radius: 4px;

  box-shadow: $whiteframe-shadow-z5;

  display: flex;
  flex-direction: column;

  .dialog-content {
    flex-order: 1;
    padding: 24px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .dialog-actions {
    display: flex;
    flex-order: 2;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 16px;
    min-height: $baseline-grid * 5;

    > * {
      margin-left: 8px;
    }
  }
  &.dialog-content-overflow .dialog-actions {
    border-top: 1px solid #eee;
  }

}
