.md-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-dialog;
}

md-dialog {
  &.transition-in {
    opacity: 1;
    transition: $swift-ease-out;
    transform: translate3d(0,0,0) scale(1.0);
  }
  &.transition-out {
    transition: $swift-ease-out;
    transform: translate3d(0,100%,0) scale(0.2);
  }

  opacity: 0;
  min-width: 240px;
  max-width: 80%;
  max-height: 80%;
  position: relative;
  overflow: hidden; // stop content from leaking out of dialog parent

  box-shadow: $whiteframe-shadow-z5;

  display: flex;
  flex-direction: column;

  md-content {
    order: 1;
    padding: 24px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &:not([layout=row]) *:first-child {
      margin-top: 0px;
    }
  }

  .md-actions {
    display: flex;
    order: 2;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 16px;
    min-height: $baseline-grid * 5;

    > * {
      margin-left: 8px;
    }
  }
  &.md-content-overflow .md-actions {
    border-top: 1px solid;
  }

}
