<div ng-controller="AppCtrl" layout="vertical" layout-padding style="padding:25px;">

    <h4 style="margin-top:10px">Determinate</h4>
    <p>For operations where the percentage of the operation completed can be determined, use a determinate indicator. They give users a quick sense of how long an operation will take.</p>
    <div layout="vertical" layout-sm="horizontal" layout-align="space-around">
      <md-progress-circular mode="determinate" value="{{determinateValue}}"></md-progress-circular>
    </div>

    <h4>Indeterminate</h4>
    <p>For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary to expose what's happening behind the scenes and how long it will take, use an indeterminate indicator.</p>
    <div layout="vertical" layout-sm="horizontal" layout-align="space-around">
      <md-progress-circular mode="indeterminate"></md-progress-circular>
    </div>

    <h4>Theming</h4>

    <div layout="vertical" layout-sm="horizontal" layout-align="space-around">
      <md-progress-circular md-theme="red" mode="indeterminate"></md-progress-circular>
      <md-progress-circular md-theme="lime" mode="indeterminate"></md-progress-circular>
      <md-progress-circular md-theme="orange" mode="indeterminate"></md-progress-circular>
      <md-progress-circular md-theme="light-green" mode="indeterminate"></md-progress-circular>
      <md-progress-circular md-theme="blue" mode="indeterminate"></md-progress-circular>
      <md-progress-circular md-theme="purple" mode="indeterminate"></md-progress-circular>
    </div>

</div>
