<div ng-controller="DemoDynamicNestedMenusCtrl as ctrl" ng-cloak>
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <md-toolbar-filler layout layout-align="center center">
        <md-icon md-svg-icon="communication:business"></md-icon>
      </md-toolbar-filler>
      <div>
        <h2 class="md-toolbar-tools">Mission Statement</h2>
        <md-menu-bar>
          <md-menu>
            <button aria-label="Open menu" ng-click="$mdMenu.open($event)">
              Organizations
            </button>
            <md-menu-content width="3">
              <md-menu-item ng-repeat="org in ctrl.organizations">
                <md-menu class="nested-menu">
                  <md-button ng-click="ctrl.onClick(org.department)">{{ org.department }}</md-button>
                  <md-menu-content width="3">
                    <md-menu-item ng-repeat="manager in org.managers">
                      <md-menu>
                        <md-button ng-click="ctrl.onClick(manager.name)">{{ manager.name }}</md-button>
                        <md-menu-content width="2">
                          <md-menu-item ng-repeat="person in manager.reports">
                            <md-button ng-click="ctrl.onClick(person.name)">{{ person.name }}</md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>

  <md-content class="page-container">
    <md-card class="page">
      <h1>Mission Statement</h1>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu
        leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
        consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
        odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem
        lacinia quam venenatis vestibulum.</p>
      <p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus
        varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </md-card>
  </md-content>
</div>
