md-toolbar.md-THEME_NAME-theme.md-menu-toolbar {
  background-color: '{{background-hue-1}}';
  color: '{{background-hue-1-contrast}}';
  md-toolbar-filler {
    background-color: '{{primary-color}}';
    color: '{{primary-color-contrast}}';
    md-icon {
      color: '{{primary-color-contrast}}';
    }
  }

  md-menu-bar {
    & > button.md-button {
      color: '{{background-contrast-secondary}}';
      border-radius: 2px;
    }

    md-menu._md-open > button, md-menu > button:focus {
      outline: none;
      outline-color: transparent;
      background: '{{background-hue-2}}';
      color: '{{background-hue-2-contrast}}';
    }

    &._md-open:not(._md-keyboard-mode) md-menu:hover > button {
      background-color: '{{background-500-0.2}}';
    }

    &:not(._md-keyboard-mode):not(._md-open) {
      md-menu button:hover,
      md-menu button:focus {
        background: transparent;
      }
    }
  }

  md-menu-content {
    .md-menu > .md-button:after {
      color: '{{background-hue-3-0.54}}';
    }

    .md-menu._md-open > .md-button {
      background-color: '{{ background-500-0.2}}';
    }
  }
}
