material-ink-bar {
  height: 4px;
  background: #ffff85;
  position: absolute;
  margin-top: -4px;
}



canvas.material-ink-ripple {
  pointer-events: none;
  position: absolute;
  color: #f0f495;
  top: 0;
  left: 0;
}

