.md-table.md-THEME_NAME-theme {

  tr {
    border-top-color: '{{foreground-4}}' !important;
  }

  th {
    color: '{{foreground-2}}';

    &[md-sortable=""] {

      &:hover {
        color: '{{foreground-1}}';
      }

      &.md-is-sorting {
        color: '{{foreground-1}}';

        md-icon {
          color: '{{foreground-1}}';
        }
      }
    }


  }

  td {
    color: '{{foreground-1}}';
  }

}