$bottom-sheet-color-palette: $background-color-palette !default;
$bottom-sheet-background-color: map-get($bottom-sheet-color-palette, '50') !default;
$bottom-sheet-border-top-color: map-get($bottom-sheet-color-palette, '400') !default;
$bottom-sheet-header-color: $foreground-secondary-color !default;
$bottom-sheet-list-color: $foreground-secondary-color !default;

md-bottom-sheet.md-#{$theme-name}-theme {
  background-color: $bottom-sheet-background-color;
  border-top-color: $bottom-sheet-border-top-color;

  &.md-list {
    md-item {
      color: $bottom-sheet-list-color;
    }
  }

  .md-subheader {
    background-color: $bottom-sheet-background-color;
  }

  .md-subheader {
    color: $bottom-sheet-header-color;
  }
}
