
md-bottom-sheet.md-THEME_NAME-theme {
  background-color: '{{background-default}}';
  border-top-color: '{{background-default-contrast-divider}}';

  &.md-list {
    md-list-item {
      color: '{{background-default-contrast}}';
    }
  }

  .md-subheader {
    background-color: '{{background-default}}';
  }

  .md-subheader {
    color: '{{background-default-contrast-secondary}}';
  }
}
