.md-whiteframe-z1 {
  box-shadow: $whiteframe-shadow-z1;
}
.md-whiteframe-z2 {
  box-shadow: $whiteframe-shadow-z2;
}
.md-whiteframe-z3 {
  box-shadow: $whiteframe-shadow-z3;
}
.md-whiteframe-z4 {
  box-shadow: $whiteframe-shadow-z4;
}
.md-whiteframe-z5 {
  box-shadow: $whiteframe-shadow-z5;
}

@media screen and (-ms-high-contrast: active) {
  md-whiteframe {
    border: 1px solid #fff;
  }
}
