<md-side-sheet class="md-list md-has-header">
    <md-subheader>Comment Actions</md-subheader>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="sideMenu.cancel()">
        <md-icon md-svg-src="navigation:arrow_back"></md-icon>
    </md-button>
    <md-list>
        <md-list-item ng-repeat="item in items">

            <md-button class="md-list-item-content" ng-click="listItemClick($index)">
                <md-icon md-svg-src="{{item.icon}}"></md-icon>
                <span class="md-inline-list-icon-label">{{ item.name }}</span>
            </md-button>

        </md-list-item>
    </md-list>
</md-side-sheet>
