<div ng-controller="demoSwipeCtrl" ng-cloak layout="row">
  <div flex>
    <div class="demo-swipe" md-swipe-left="onSwipeLeft()">
      <span class="no-select">Swipe me to the left</span>
      <md-icon md-font-icon="android" aria-label="android"></md-icon>
    </div>
    <md-divider></md-divider>
    <div class="demo-swipe" md-swipe-right="onSwipeRight()">
      <span class="no-select">Swipe me to the right</span>
    </div>
  </div>
  <md-divider></md-divider>
  <div flex layout="row">
    <div flex layout="row" layout-align="center center"
         class="demo-swipe" md-swipe-up="onSwipeUp()">
      <span class="no-select">Swipe me up</span>
    </div>
    <md-divider></md-divider>
    <div flex layout="row" layout-align="center center"
         class="demo-swipe" md-swipe-down="onSwipeDown()">
      <span class="no-select">Swipe me down</span>
    </div>
  </div>
</div>
