<div ng-app="appUsingTemplateCache" ng-controller="DemoCtrl" layout="column" layout-margin>

    <p>Pre-fetch and cache icons using $templateCache:</p>

    <p>
      <md-icon md-svg-icon="core:alarm-add"       style="color: #000;" alt="Alarm Add Icon"></md-icon>
      <md-icon md-svg-icon="core:alarm-off"       style="color: #f00;" alt="Alarm Off Icon"></md-icon>
      <md-icon md-svg-icon="social:cake"          style="color: #00F;" alt="Cake Icon"></md-icon>
      <md-icon md-svg-src="img/icons/android.svg" style="color: #0F0;" alt="Android Icon"></md-icon>
    </p>

</div>


