
<div ng-controller="AppCtrl">

  <md-content>

    <md-card>
      <img src="img/washedout.png" alt="Washed Out">
      <md-card-content>
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>

    <md-card>
      <img src="img/washedout.png" alt="Washed Out">
      <md-card-content>
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>

    <md-card>
      <img src="img/washedout.png" alt="Washed Out">
      <md-card-content>
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>


  </md-content>
</div>
