<div ng-controller="AppCtrl" class="sample">

    <material-tabs selected="selectedIndex" noink>
        <material-tab ng-repeat="tab in tabs"
                 on-select="onTabSelected(tab)"
                 on-deselect="announceDeselected(tab)"
                 ng-disabled="tab.disabled"
                 label="{{tab.title}}">
          <div ng-class="tab.style" layout="vertical" layout-fill layout-align="center center">
            <div flex ng-bind="tab.content" class="tab-text"></div>
              <material-button class="material-theme-red"
                ng-click="removeTab( tab )">Remove Tab
              </material-button>
          </div>
        </material-tab>

    </material-tabs>

    <div layout="vertical" layout-padding>

      <material-list class="tab-demo-list" flex>
        <material-item>
          <span>Active Tab Index: {{selectedIndex}}</span>
        </material-item>
      </material-list>

      <material-divider flex></material-divider>
      <div class="title" flex>Add Another Tab</div>

      <form ng-submit="addTab(tTitle,tContent)" flex>
        <div layout="horizontal">
          <span flex="15">Title:</span>
          <input type="text" required ng-model="tTitle" placeholder="<tab label>">
        </div>
        <div layout="horizontal">
          <span flex="15">Content:</span>
          <input type="text" required ng-model="tContent" placeholder="<tab content>">
        </div>
        <material-button type="submit" class="material-button-colored">
           Add New Tab
        </material-button>
      </form>

    </div>

</div>
