<div ng-controller="AppCtrl as appCtrl">
  <md-grid-list
      md-cols="6" md-row-height="1:1" md-gutter="8px">
    <md-grid-tile class="gray"
        md-rowspan="2" md-colspan="2">
      <md-grid-tile-footer>
        <h3>Gray</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>Green</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>Yellow</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue"
        md-colspan="2">
      <md-grid-tile-footer>
        <h3>Blue</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red"
        md-rowspan="2" md-colspan="2">
      <md-grid-tile-footer>
        <h3>Red</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>Green</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="purple">
      <md-grid-tile-footer>
        <h3>Purple</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red">
      <md-grid-tile-footer>
        <h3>Red</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="purple">
      <md-grid-tile-footer>
        <h3>Purple</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue">
      <md-grid-tile-footer>
        <h3>Blue</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="gray">
      <md-grid-tile-footer>
        <h3>Gray</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
