<div ng-controller="AppCtrl">

  <material-toolbar class="material-theme-light">
    <h1 class="material-toolbar-tools">
      <span>Full Bleed</span>
    </h1>
  </material-toolbar>

  <material-content>
    <material-list>
      <material-item ng-repeat="item in messages">
        <material-item-content>
          <div class="material-tile-content">
            <h2>{{item.what}}</h2>
            <h3>{{item.who}}</h3>
            <p>
              {{item.notes}}
            </p>
          </div>
        </material-item-content>
        <material-divider ng-if="!$last"></material-divider>
      </material-item>
    </material-list>
  </material-content>

  <material-toolbar class="material-theme-light">
    <h1 class="material-toolbar-tools">
      <span>Inset</span>
    </h1>
  </material-toolbar>

  <material-content>
    <material-list>
      <material-item ng-repeat="item in messages">
        <material-item-content>
          <div class="material-tile-left">
            <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
          </div>
          <div class="material-tile-content">
            <h2>{{item.what}}</h2>
            <h3>{{item.who}}</h3>
            <p>
              {{item.notes}}
            </p>
          </div>
        </material-item-content>
        <material-divider inset ng-if="!$last"></material-divider>
      </material-item>
    </material-list>
  </material-content>
</div>
