<div ng-controller="AppCtrl" layout="vertical" layout-fill>

  <material-toolbar scroll-shrink class="material-theme-light">
    <div class="material-toolbar-tools">
      <h3>
        <span>My App Title</span>
      </h3>
    </div>
  </material-toolbar>

  <material-content style="height: 600px;">

    <material-list>

      <material-item ng-repeat="item in todos">
        <material-item-content>
          <div class="material-tile-left">
            <img ng-src="{{item.face}}" class="face">
          </div>
          <div class="material-tile-content">
            <h2>{{item.what}}</h2>
            <h3>{{item.who}}</h3>
            <p>
              {{item.notes}}
            </p>
          </div>
        </material-item-content>
        <material-divider inset></material-divider>
      </material-item>

    </material-list>

  </material-content>

</div>
