*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
  color: $font-color-base;
  font-family: $font-family;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  h3 {
    display: block;
    @include margin-selectors();
    font-size: 1.17em;
    font-weight: bold;
  }
}

body {
  margin: 0;
  padding: 0px;
}

.inset {
  padding: 10px;
}

button {
  font-family: $font-family;
}
