*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: $font-family;
  font-size: $font-size-14;
  line-height: $line-height-20;
  color: $text-black-87;
  background-color: #fff;
  
  @include user-select();
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none; 

  //is this accounted for on mobile devices?
  // http://css-tricks.com/almanac/properties/t/text-rendering/
  text-rendering: optimizeLegibility;

}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.inset {
  padding: 10px;
}
