$table-head-font-size: 12px;
$table-body-font-size: 13px;

table.md-table th,
table.md-table td {
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;

  &:first-child {
    padding: 0 24px;
  }

  &:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 56px 0 0;
  }

  &:last-child {
    padding: 0 24px 0 0;
  }

  &.md-align-left {
    text-align: left;
  }

  &.md-align-right {
    text-align: right;
  }

  &.md-align-center {
    text-align: center;
  }

  &.md-align-justify {
    text-align: justify;
  }
}

table.md-table.md-select th,
table.md-table.md-select td {
  &:first-child {
    width: 20px;
    padding: 0 0 0 24px;
  }

  &:nth-child(2) {
    padding: 0 24px;
  }
}

table.md-table thead {
  th {
    font-size: $table-head-font-size;
    line-height: $table-head-font-size;

    &.md-sort {
      cursor: pointer;
    }
  }
}

table.md-table tbody td {
  font-size: $table-body-font-size;
  line-height: $table-body-font-size;
}