$table-border-color: rgba(0, 0, 0, 0.12);
$table-head-font-size: 12px;
$table-body-font-size: 13px;
$table-head-text-color: rgba(0, 0, 0, 0.54);
$table-body-text-color: rgba(0, 0, 0, 0.87);
$table-sort-active-color: rgba(0, 0, 0, 0.87);

table.md-table th,
table.md-table td {
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;

  &:first-child {
    padding: 0 24px;
  }

  &:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 56px 0 0;
  }

  &:last-child {
    padding: 0 24px 0 0;
  }

  &.md-numeric {
    text-align: right;
  }
}

table.md-table.md-select th,
table.md-table.md-select td {
  &:first-child {
    width: 20px;
    padding: 0 0 0 24px;
  }

  &:nth-child(2) {
    padding: 0 24px;
  }
}

table.md-table thead {
  th {
    color: $table-head-text-color;
    font-size: $table-head-font-size;
    line-height: $table-head-font-size;

    &.md-sort {
      cursor: pointer;
    }

    &.md-active {
      color: $table-sort-active-color;
    }
  }

  &:not(:last-of-type) th {
    border-bottom: 1px $table-border-color solid;
  }
}

table.md-table tbody td {
  color: $table-body-text-color;
  font-size: $table-body-font-size;
  line-height: $table-body-font-size;
  border-top: 1px $table-border-color solid;
}