table.md-table thead th {
  md-icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    font-size: 16px !important;
    line-height: 16px !important;

    &:not(:first-child) {
      margin-left: 8px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.md-sort-icon {
      margin-bottom: 1px;
      opacity: 0;
      transition: transform 0.25s, opacity 0.25s;

      &.md-asc {
        transform: rotate(0deg);
      }

      &.md-desc {
        transform: rotate(180deg);
      }
    }
  }

  &:hover md-icon.md-sort-icon,
  &.md-active md-icon.md-sort-icon {
    opacity: 1;
  }
}