
material-slider {

  &:before {
    display: table;
    content: ' ';
  }

  // Track
  .material-track {
    position: relative;
    margin: $slider-height;
  }

  .material-fill,
  .material-tick-markers {
    position: absolute;
    top: 13px;
    left: 0;
    height: $slider-track-height;
    background: $theme-light-blue;
    pointer-events: none;
  }

  .material-tick-markers {
    z-index: 0;
    width: 100%;
    background: transparent;
  }

  // Simulated Slider Thumb
  // the native thumb is hidden in place of this one
  .material-thumb {
    position: absolute;
    top: (-$slider-thumb-height / 2) - 1;
    right: -$slider-thumb-width / 2;
    z-index: 1;
    display: table;
    width: $slider-thumb-width;
    height: $slider-thumb-height;
    border: 2px solid $theme-light-blue;
    border-radius: 50%;
    background: $theme-light-blue;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  // Active Simulate Slider Thumb
  .material-active .material-thumb {
    border: 2px solid $theme-light-blue;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  .material-tick:after,
  .material-tick-markers:after {
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: black;
    content: "";
  }

  &.material-slider-min {
    input:active + .material-fill .material-thumb {
      border-width: 1px;
    }
    .material-thumb {
      background: #fff;
    }
  }

  input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: $slider-track-height;
    outline: none;
    border: none;
    background: $slider-background-color;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  input::-moz-range-track {
    border: inherit;
    background: transparent;
  }

  input::-ms-track {
    border: inherit;
    background: transparent;
    color: transparent;
  }

  input::-ms-fill-lower,
  input::-ms-fill-upper {
    background: transparent;
  }

  input::-ms-tooltip {
    display: none;
  }

  // Native Range Thumb
  // the native thumb is actually transparent
  // but much larger to create a bigger hit area
  input::-webkit-slider-thumb {
    position: relative;
    width: $slider-thumb-width * 2;
    height: $slider-thumb-height * 4;
    border: none;
    background: transparent;
    -webkit-appearance: none;
  }
  input::-webkit-slider-thumb:before {
    position: absolute;
    left: -$slider-thumb-width * 2;
    display: table;
    width: $slider-thumb-width * 6;
    height: $slider-thumb-height * 4;
    content: ' ';
  }

  input::-moz-range-thumb {
    width: $slider-thumb-width * 2;
    height: $slider-thumb-height * 4;
    border: none;
    background: transparent;
  }

  input::-moz-focus-outer {
    border: 0;
  }

  input::-ms-thumb {
    width: $slider-thumb-width * 2;
    height: $slider-thumb-height * 4;
    border: 0;
    background: transparent;
  }

}
