md-slider.md-THEME_NAME-theme {

  ._md-track {
    background-color: '{{foreground-3}}';
  }
  ._md-track-ticks {
    color: '{{background-contrast}}';
  }
  ._md-focus-ring {
    background-color: '{{accent-200-0.38}}';
  }
  ._md-disabled-thumb {
    border-color: '{{background-color}}';
    background-color: '{{background-color}}';
  }

  &._md-min {
    ._md-thumb:after {
      background-color: '{{background-color}}';
      border-color: '{{foreground-3}}';
    }

    ._md-focus-ring {
      background-color: '{{foreground-3-0.38}}';
    }

    &[md-discrete] {
      ._md-thumb {
        &:after {
          background-color: '{{background-contrast}}';
          border-color: transparent;
        }
      }

      ._md-sign {
        background-color: '{{background-400}}';
        &:after {
          border-top-color: '{{background-400}}';
        }
      }

      &[md-vertical] {
        ._md-sign:after {
          border-top-color: transparent;
          border-left-color: '{{background-400}}';
        }
      }
    }
  }

  ._md-track._md-track-fill {
    background-color: '{{accent-color}}';
  }
  ._md-thumb:after {
    border-color: '{{accent-color}}';
    background-color: '{{accent-color}}';
  }
  ._md-sign {
    background-color: '{{accent-color}}';
    &:after {
      border-top-color: '{{accent-color}}';
    }
  }

  &[md-vertical] {
    ._md-sign:after {
      border-top-color: transparent;
      border-left-color: '{{accent-color}}';
    }
  }

  ._md-thumb-text {
    color: '{{accent-contrast}}';
  }

  &.md-warn {
    ._md-focus-ring {
      background-color: '{{warn-200-0.38}}';
    }
    ._md-track._md-track-fill {
      background-color: '{{warn-color}}';
    }
    ._md-thumb:after {
      border-color: '{{warn-color}}';
      background-color: '{{warn-color}}';
    }
    ._md-sign {
      background-color: '{{warn-color}}';

      &:after {
        border-top-color: '{{warn-color}}';
      }
    }

    &[md-vertical] {
      ._md-sign:after {
        border-top-color: transparent;
        border-left-color: '{{warn-color}}';
      }
    }

    ._md-thumb-text {
      color: '{{warn-contrast}}';
    }
  }

  &.md-primary {
    ._md-focus-ring {
      background-color: '{{primary-200-0.38}}';
    }
    ._md-track._md-track-fill {
      background-color: '{{primary-color}}';
    }
    ._md-thumb:after {
      border-color: '{{primary-color}}';
      background-color: '{{primary-color}}';
    }
    ._md-sign {
      background-color: '{{primary-color}}';

      &:after {
        border-top-color: '{{primary-color}}';
      }
    }

    &[md-vertical] {
      ._md-sign:after {
        border-top-color: transparent;
        border-left-color: '{{primary-color}}';
      }
    }

    ._md-thumb-text {
      color: '{{primary-contrast}}';
    }
  }

  &[disabled] {
    ._md-thumb:after {
      border-color: transparent;
    }
    &:not(._md-min), &[md-discrete] {
      ._md-thumb:after {
        background-color: '{{foreground-3}}';
        border-color: transparent;
      }
    }
  }

  &[disabled][readonly] {
    ._md-sign {
      background-color: '{{background-400}}';
      &:after {
        border-top-color: '{{background-400}}';
      }
    }

    &[md-vertical] {
      ._md-sign:after {
        border-top-color: transparent;
        border-left-color: '{{background-400}}';
      }
    }

    ._md-disabled-thumb {
      border-color: transparent;
      background-color: transparent;
    }
  }
}

md-slider-container {
  &[disabled] {
    & > *:first-child,
    & > *:last-child {
      &:not(md-slider){
        color: '{{foreground-3}}';
      }
    }
  }
}