.material-sticky-clone {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;

  @include transform(translate3d(-9999px,-9999px,0));

  &[sticky-state="active"] {
    @include transform(translate3d(0, 0, 0));
    &:after {
      @include animation(subheaderStickyHoverIn 0.3s ease-out both);
    }
  }
}
